<section
  id="{{ section.id }}"
  class="cs-imgtxt"
  style="background-color: {{section.background_color}};"
  >
  <div class="cs-imgtxt__container">
      <div class="cs-imgtxt__row">
          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": "cs-imgtxt__img",
            'uk_scrollspy': "cls: uk-animation-slide-left-medium;",
            "image": section.image,
            "mp4": section.image_mp4
          } %}

          <div class="cs-imgtxt__info" uk-scrollspy="cls: uk-animation-slide-right-medium;">
              <div class="cs-imgtxt__info-title">{{ section.title }}</div>
              <div class="cs-imgtxt__info-description">{{ section.description }}</div>
          </div>
      </div>
  </div>
</section>