.cs-imgtxt {
  padding: 0 !important;
  position: relative;
  z-index: 4;

  &__container {
    @extend .app-container;
    min-height: 490px;
  }

  &__row {
    @extend .app-row;
    align-items: center;
  }

  &__img {
    @extend .app-col-xl-4;
    @extend .app-col-lg-4;
    @extend .app-col-md-4;
    @extend .app-col-sm-12;
    position: relative;
    display: flex;
    align-self: stretch;
    align-items: center;
    width: 464px;
    max-width: 464px;
    height: auto;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      display: block;
      left: 0;
      margin-top: -10px;
      @include media-down($lg) {
        left: 13px;
      }
      @include media-down($sm) {
        left: 0;
        position: relative;
        margin: -25px auto 0;
        width: 100%;
        max-width: 400px;
      }
    }
  }

  &__info {
    @extend .app-col-xl-8;
    @extend .app-col-lg-8;
    @extend .app-col-md-8;
    @extend .app-col-sm-12;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    color: #ffffff;

    @include media-down($md) {
      padding-left: 60px;
    }
    @include media-down($sm) {
      padding-left: $lg-col-padding;
    }

    &-title {
      @extend .app-h2;
      color: #ffffff;
      margin-bottom: 18px;
      p {
        @extend .app-h2; 
        color: #ffffff; 
      }
    }

    &-description {
      @extend .app-p;
      color: #ffffff;

      p {
        @extend .app-p;
        color: #ffffff;
      }
    }
  }
}