.lng-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;

  @include media-down($md){
    top: 0;
    margin-top: auto;
    margin-bottom: 0;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 28px;
    height: 28px;
    line-height: 26px;
    margin: 0 10px;
    border-radius: 14px;
    overflow: hidden;

    @include media-down($lg){
      margin: 0 3px;
    }
  }
}


.wpml-ls-legacy-list-horizontal {
  border: none !important;
  padding: 0 !important;
}

.wpml-ls-current-language {
  margin: 0 9px;
  border: 1px solid #fff;
  border-radius: 50%;

  @include media-down($lg){
    margin: 0 2px;
  }
}

.wpml-ls-legacy-list-horizontal a {
    padding: 0 !important;
}


.wpml-ls-legacy-list-horizontal .wpml-ls-item {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 28px;
    height: 28px;
    line-height: 26px;
    margin: 0 9px !important;
    border-radius: 14px;
    overflow: hidden;
  
    @include media-down($lg){
      margin: 0 3px !important;
    }
}

