.cs-quote {
    background-color: #FF9A08;
    padding: 108px 0 36px;

    @include media-down($sm){
      padding: 80px 0 45px;
    }

    &__container{
      @extend .app-container;
      position: relative;
      flex-direction: column;
      align-items: center;

      &--before, &--after {
        @include pseudo;
        width: 175px;
        height: 150px;
        opacity: 0.2;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @include media-down($md) {
          width: 105px;
          height: 80px;
        }

        @include media-down($sm) {
          width: 75px;
          height: 50px;
        }
      }

      &--before {
        left: 106px;
        top: -76px;

        @include media-down($md) {
          left: 10px;
        }

        @include media-down($sm) {
          left: -6px;
          top: -43px;
        }
      }

      &--after {
        transform: rotate(180deg);
        right: 174px;
        bottom: 35px;

        @include media-down($md) {
         right: 10px;
        }

        @include media-down($sm) {
          right: 1px;
          bottom: 85px;
        }
      }
    }


    &__info {
      max-width: 750px;
      position: relative;
      padding: 30px 30px 36px;
      border-radius: 10px;
      background-color: #fff;
      text-align: center;
      z-index: 1;
      box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      margin-bottom: 29px;
      @include media-up($lg) {
        margin-left: -60px;
      }

      &::after {
        @include pseudo;
        @include absolute-center;
        width: 24px;
        height: 24px;
        z-index: -1;
        bottom: -10px;
        background-color: inherit;
        transform: rotate(45deg);

      }

      p {
        letter-spacing: 0;
      }
    }

    &__info-title {
      @extend .app-h3;
      line-height: normal;
      margin-bottom: 20px;

      p {
        @extend .app-h3;
        line-height: normal;
      }
    }

    &__info-description {
      @extend .app-p;
      p {
        @extend .app-p;
      }

    }

    &__client {
      display: flex;
      align-items: center;
      color: #ffffff;
      @include media-up($lg) {
        margin-left: -73px;
      }

      &-img {
        width: 97px;
        height: auto;
        margin-right: 1rem;
      }

      &-name {
        @extend .app-p;

        p {
          @extend .app-p;
        }
      }
    }
  }
