   <section 
    id="{{section.id}}"
    class="cs-quote"
    style="background-color: {{section.background_color}};"
    >
      <div class="cs-quote__container">
        <div 
          class="cs-quote__container--before"
          style="background-image: url('{{section.quote.url}}');"
          >
        </div>

        <div 
          class="cs-quote__container--after"
          style="background-image: url('{{section.quote.url}}');"
          >
        </div>

        <div 
          class="cs-quote__info" 
          uk-scrollspy="cls: uk-animation-slide-bottom-medium;"
          style="background-color: {{section.background_popup_color}};"
        >
          <div class="cs-quote__info-title">{{section.title}}</div>
          <div class="cs-quote__info-description">{{section.description}}</div>
        </div>

        <div class="cs-quote__client" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
          {% if section.client_img %}
            <img class="cs-quote__client-img" src="{{section.client_img.url}}" alt="{{section.client_img.alt}}">
          {% elseif section.client_img_mp4 %}
            <video autoplay muted loop>
              <source src="{{section.client_img_mp4.url}}" type="video/mp4">
            </video>
          {% endif %} 
          <div class="cs-quote__client-name">{{section.client_name}}</div>
        </div>

      </div>
    </section>