.cs-reference {
    padding: 100px 0 110px;
    background-color: #F2F4F6;

    @include media-down($lg){
      padding: 60px 0 80px;
    }

    &__container{
      @extend .app-container;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
    }

    &__row {
      @extend .app-row;
      @include media-down($sm){
        flex-direction: column;
        align-items: center;;
        justify-content: center;
      }
    }

    &__rating {
      @extend .app-col;
      display: block;
      max-width: 165px;
      margin-bottom: 50px;
      margin-top: 16px;

      @include media-up($lg) {
        padding-left: 10px;
      }
    }

    &__info {
      flex: 1;
      flex-direction: column;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-right: 130px;
      padding-left: $lg-col-padding;
      padding-right: $lg-col-padding;

      @include media-down($lg){
        margin-right: 0;
        padding-left: 60px;
      }

      @include media-down($sm){
        padding-left: $sm-col-padding;
        padding-right: $sm-col-padding;
      }


      &-title {
        @extend .app-h3;
        margin-bottom: 40px;

        @include media-up($lg) {
          margin-right: 60px;
        }

        p {
          @extend .app-h3;
          letter-spacing: 0;
        }
      }

      &-quotation {
        @extend .app-p;
        line-height: 133%;
        font-weight: 500;
        max-width: 840px;
        margin-bottom: 51px;
        @include media-down($sm){
          text-align: center;
        }

        p {
          @extend .app-p;
          line-height: 133%;
          font-weight: 500;
          letter-spacing: 0;
        }

        > * {
          max-width: 840px;
        }
      }


    }

    &__client {
      display: flex;
      align-items: center;

      @include media-up($lg) {
        margin-right: 39px;
      }

      &-img {
        display: block;
        width: 92px;
        height: auto;
        margin-right: 10px;
      }
    }
  }
