<section 
  class="cs-reference"
  id="{{section.id}}"
  style="background-color: {{section.background_color}};"
>
  <div class="cs-reference__container">
    <div class="cs-reference__row">

      {% include './rating/rating.twig' with {
        "link": section.link,
        "logo": section.logo,
        "stars_over": section.stars_over,
        "stars_over_color": section.stars_over_color,
        "items": section.rating_items
      } %}

      <div 
        class="cs-reference__info"
        uk-scrollspy="target: > *; cls: uk-animation-slide-bottom-medium; delay: 250"
      >
        <div class="cs-reference__info-title">{{section.title}}</div>
        <div class="cs-reference__info-quotation">{{ section.text }}</div>

        <div class="cs-reference__client">

          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": "cs-reference__client-img",
            'uk_scrollspy': null,
            "image": section.avatar,
            "mp4": section.avatar_mp4
          } %}

          <div class="cs-reference__info-position">{{section.position}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
