
<div class="share-icons">
    <span class="share-text small">Podziel się:</span>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_permalink(post.id) }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Facebook" class="tf__icon">
        <span class="share-icons__item share-icons__item--fb">
            {{ 'facebook-icon' |icon }}
        </span>
    </a>
    <a href="https://twitter.com/share?url={{ post.get_permalink(post.id) }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Twitter">
        <span class="share-icons__item share-icons__item--tw">
            {{ 'twitter-icon' |icon }}
        </span>
    </a>
</div>