
.share-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    &__item {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        &--fb {
            svg {
                width: 11px;
                height: 22px;
            }
        }
        &--tw {
            svg {
                width: 22px;
                height: 19px;
            }
        }
    }
    a {
        color: transparent;
        margin-right: 16px;
    }
    .share-text {
        width: 100%;
        margin-bottom: 16px;
        text-transform: uppercase;
    }
}