<section class='about-inst about-inst--yellow' id="{{ section.id }}"
         style="background-color: {{ section.background_color_header }};">
    <div class="about-inst__container">
        <div class="about-inst__header" uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 250">
            <div class="about-inst__header-wrapper">
                <div class="about-inst__header-ico">
                    <img src="{{ section.about_inst_ico.url }}" alt="{{ section.about_inst_ico.alt }}">
                </div>

                <div class="about-inst__header-title">
                    {{ section.about_inst_title }}
                </div>
            </div>
        </div>

        <div class="about-inst__header-img" uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 500">
            <img src="{{ section.about_inst_img.url }}" alt="{{ section.about_inst_img.alt }}">
        </div>
    </div>
</section>

<section class='about-inst about-inst--white'>
    <div class="about-inst__container">

        <a class="about-inst__profile" uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 250"
           href="{{ section.about_inst_profile_link.url }}" target="{{ section.about_inst_profile_link.target }}">
            <div class="about-inst__profile-ico">
                <img src="{{ section.about_inst_profile_ico.url }}" alt="{{ section.about_inst_profile_ico.alt }}">
            </div>
            <div class="about-inst__profile-title">
                {{ section.about_inst_profile_link.title }}
            </div>
        </a>

        <div class="about-inst__row" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 250;">
            {% for img in section.about_inst_imgs %}
                <div class="about-inst__item">
                    <div class="about-inst__item-img">
                        <img src="{{ img.about_inst_img.url }}" alt="{{ img.about_inst_img.alt }}">
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if (section.about_inst_button) %}
            {% include 'button/button.twig' with
                {
                    'button': section.about_inst_button,
                    'uk_scrollspy': "cls: uk-animation-slide-bottom-medium;",
                    'color': section.about_inst_button_font_color,
                    'bckg_color': section.about_inst_button_bckg_color,
                } %}
        {% endif %}

    </div>
</section>