.about-inst {

  &--yellow {
    background-color: #FF9A08;
    .about-inst__container {
      position: relative;
      padding: 100px 0;

      @include media-down($sm) {
        padding: 50px 0 120px;
      }
    }
  }

  &--white {
    background-color: #ffffff;
    padding: 85px 0 265px;
    @include media-down($md) {
      padding: 60px 0;
    }
  }

  &__container {
    @extend .app-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  &__row {
    @extend .app-row;
    justify-content: center;
    margin: 2rem 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
      position: relative;
    }

    &-ico {
      position: absolute;
      top: 10px;
      left: -65px;
      width: 52px;
      height: auto;
      @include media-down($sm){
        display: none;
      }
      img {
        width: 100%;
        height: 100%
      };
    }

    &-title {
      margin-left: 4px;

      p {
        font-feature-settings: 'liga' off;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0px;
        color: #FFFFFF;
        font-size: 2.25rem;
        line-height: 178%;
      }
    }

    &-img {
      width: 300px;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;

    &-ico {
      width: 22px;
      height: auto;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &-title {

      p {
        font-feature-settings: 'liga' off;
        color: #000000;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 225%;
      }
    }
  }

  &__item {
    @extend .app-col-xl-4;
    @extend .app-col-lg-4;
    @extend .app-col-md-6;
    @extend .app-col-sm-12;
    padding-left: 0;
    padding-right: 0;

    &:nth-child(even) {
      display: inline-flex;
      justify-content: center;
    }

    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      .about-inst__item-img {
        padding: 13px 10px 33px;

        @include media-down($md) {
          padding: 13px 8px;
        }
      }
    }

    &-img {
      width: 100%;
      height: auto;
      padding: 13px 10px 53px;

      @include media-down($md) {
        padding: 13px 8px;
      }

      img {
        width: 90%;
        height: auto;
        object-fit: cover;

        @include media-down($md) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }


}