.rating {

  &__logo {


    img {
      display: inline-block;
      width: 129px;
      max-width: 129px;
      height: auto;
      margin-bottom: 14px;
    }
  }

  &__total {
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;

    &-star {
      position: relative;
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: url('../static/icons/rating__total-star.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 2px;

      &--0 {
        background-image: url('../static/icons/rating__total-star0.svg');
      }

      &--025 {
        background-image: url('../static/icons/rating__total-star025.svg');
      }

      &--05 {
        background-image: url('../static/icons/rating__total-star05.svg');
      }

      &--075 {
        background-image: url('../static/icons/rating__total-star075.svg');
      }

      &:first-of-type {
        margin-left: 14px;
      }
    }
  }


  &__item {
    display: flex;
    font-style: normal;
    max-width: 128px;
    font-size: 0.875rem;
    line-height: 1.625rem;
    justify-content: space-between;

    p {
      font-size: 0.875rem;
      line-height: 1.625rem;
    }


    &-label {
      font-weight: 400;
    }

    &-number {
      font-weight: 700;

      p {
        font-weight: 700;
      }
    }

  }

}
