<div class="cs-reference__rating rating" uk-scrollspy="cls: uk-animation-slide-left-medium;">
    <a class="rating__logo" href="{{ link.url }}" target="{{ link.target }}">
        <img src="{{logo.url}}" alt="{{logo.alt}}">
    </a>

    <div 
        class="rating__total js-rating__total" 
        data-rating-total="{{ stars_over }}"
        style="color: {{stars_over_color}};"
    >
    </div>

    {% for item in items %}
        <div class="rating__item">
            <div class="rating__item-label">{{ item.title }}</div>
            <div 
                class="rating__item-number"
                style="color: {{item.range_color}};"
            > 
                {{ item.range }}
            </div>
        </div>
    {% endfor %}

</div>