  <section 
    class="cs-counter"
    id="{{section.id}}"
    style="background-color: {{section.background_color}};"
  >
  <div class="cs-counter__container">
    <div class="cs-counter__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">{{section.title}}</div>
    <div class="cs-counter__set">
      <div class="cs-counter__set-inner" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 250">

        {% for item in section.items %}
          <div 
            class="cs-counter__item"
            style="background-color: {{item.background_color}};"
          >
            <div class="cs-counter__item-top">
              <div class="cs-counter__item-top-number{% if item.isreverse %}--reverse{% endif %}">
                <div 
                  class="cs-counter__item-count" 
                  data-uk-scrollspy 
                  data-counter-target="{{item.number}}"
                  style="color: {{item.number_color}};"
                >0</div>
                <div>{{item.number_text}}</div>
              </div>
            
              {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                "class_wrapper": "cs-counter__item-ico",
                'uk_scrollspy': null,
                "image": item.image,
                "mp4": item.image_mp4
              } %}

            </div>
            <div class="cs-counter__item-text"> {{item.text}}</div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>