.cs-counter {
    padding: 60px 0 64px;
    position: relative;
    background-color: #141433;
    z-index: 10;

    @include media-down($lg){
      padding: 60px 0 40px;
    }

    &::before {
      //@include pseudo;
      left: 0;
      top: 0;
      width: 100%;
      height: 247px;
      max-height: 100%;
      background-color: #141433;
      z-index: 1;
    }


    &__container{
      @extend .app-container;
      flex-direction: column;
      position: relative;
      z-index: 2;
      align-items: center;
      max-width: 1315px;
    }

    &__title {
      @extend .app-h3;
      color: #fff;
      position: relative;
      margin-bottom: 60px;

      p {
        @extend .app-h3;
        color: #fff;
        letter-spacing: 0;

        @include media-up($lg) {
          padding-right: 14px;
        }
      }

    }

    &__set {
      position: relative;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;

      &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        width: 100%;
        position: absolute;
        top: 0;
        max-width: 1315px;

        @include media-down($lg){
          max-width: 600px;
          flex-wrap: wrap;
          margin: 0 auto;
          position: relative;
          justify-content: center;
        }

        @include media-down($sm){

        }
      }
    }

    &__item {
      background-color: #fff;
      border-radius: 33px;
      box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.25);
      padding: 26px 16px 26px;
      width: 260px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #000;

      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height:  1.5rem;
      letter-spacing: normal;

      display: flex;
      align-items: center;
      text-align: center;
      font-feature-settings: 'liga' off;

      margin-left: 10px;
      margin-right: 10px;

      color: #000000;

      @include media-down($lg){
        margin-bottom: 20px;
      }

      &-top {
        font-style: normal;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 3.3rem;
        color: #141433;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-style: normal;
          font-weight: 700;
          font-size: 2.25rem;
          line-height: 3rem;
          color: #141433;
        }

        &-number {
          display: flex;
          flex-direction: row;
          
          &--reverse {
            display: flex;
            flex-direction: row-reverse;
          }
        }
      }

      &-ico {
        width: 28px;
        height: auto;
        margin-left: 14px;
        margin-top: -10px;
      }

      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height:  1.5rem;
        letter-spacing: normal;

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 0.875rem;
          line-height:  1.5rem;
          letter-spacing: normal;
        }
      }

    }

    + section {
      padding-top: 164px;
      @include media-down($lg){
        padding-top: 90px;
      }
    }
  }
