button {
	border: 0;
	background-color: transparent;
	padding: 0;
}

.btn {

	display: block;
	margin: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 16px 33px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: bold;
	font-size: 0.875rem;
	line-height: normal;
	text-align: center;
	color: #FFFFFF;
	border-radius: 25px;
	transition: $btn-transition;
	min-height: 50px;
  
	@include media-down($md){
	  padding: 10px 28px;
	  min-height: 40px;
	  border-radius: 25px;
	  font-size: 1rem;
  
	}
  
	&--primary {
	  background: #FF9A08;
		color: #FFFFFF;
	  &:hover {
		  background: #E86805!important;
			color: #ffffff;
	  }
	}
  }