<a 
  class= {% if button_class %} "{{button_class}}" {% else %} "btn btn--primary" {% endif %}
  href="{{button.url}}" 
  target="{{button.target}}" 
  uk-scrollspy="{{uk_scrollspy}}"
  style="background-color: {{bckg_color}}; color: {{color}}"
  >
  {{button.title}}
</a>