.cs-diagrams {
    padding: 66px 0 15px;
    background-color: #141433;

    @include media-down($sm){
      padding: 45px 0 0;
    }

    &__container{
      @extend .app-container;
      justify-content: space-around;
      @include media-down($sm){
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      max-width: 250px;
      margin-bottom: 50px;
      @include media-down($md){
        max-width: 200px;
      }

      @include media-down($sm){
        max-width: 250px;
      }

      &-chart {
        display: block;
        width: 100%;
        height: 210px;
        object-fit: contain;
        margin-bottom: 30px;

        @include media-down($md){
          margin-bottom: 10px;
        }

        @include media-down($sm){
          margin-bottom: 4px;
        }

      }

      &-title {
        display: flex;
        @extend .app-h3;
        letter-spacing: 0.0025rem;
        margin-bottom: 15px;

        p {
          @extend .app-h3;
          letter-spacing: 0.0025rem;
        }
      }

      &-subtitle {
        @extend .app-p;
        color: #FF9A08;
        font-weight: 700;
        margin-bottom: 15px;

        p {
          @extend .app-p;
          color: #FF9A08;
          font-weight: 700;
          letter-spacing: 0;
        }
      }

      &-info {
        @extend .app-small-text;
        color: #fff;
        text-align: center;
        font-weight: 400;

        p {
          @extend .app-small-text;
          color: #fff;
          text-align: center;
          font-weight: 400;
          max-width: 218px;
          letter-spacing: 0;
          line-height: 1.125rem;
        }
      }
    }
  }
