 <section 
  class="cs-diagrams"
  id="{{section.id}}"
  style="background-color: {{section.background_color}};"
 >
  <div class="cs-diagrams__container" uk-scrollspy="target: > div > *; cls: uk-animation-slide-bottom-medium; delay: 250; ">

    {% for item in section.items %}
      <div class="cs-diagrams__item" >
        {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
          "class_wrapper": "cs-diagrams__item-chart",
          'uk_scrollspy': null,
          "image": item.image,
          "mp4": item.image_mp4
        } %}

        <div class="cs-diagrams__item-title">
          <div 
            data-uk-scrollspy data-counter-target="{{item.number}}"
            style="color: {{item.number_color}};"
            >0</div>
          <div class="">{{item.number_text}}</div>
        </div>

        <div class="cs-diagrams__item-subtitle">{{item.subtitle}}</div>

        <div class="cs-diagrams__item-info">{{item.info}}</div>
      </div>
    {% endfor %}
  </div>
</section>