<div class="contact-us__form form" uk-scrollspy="target: >*; cls: uk-animation-slide-right-medium; delay: 250;">

    {% filter shortcodes %}
      {{section.contact_us_contact_form_7}}
    {% endfilter %}

</div>

{# <form class="contact-us__form form" uk-scrollspy="target: >*; cls: uk-animation-slide-right-medium; delay: 250;">

    <hgroup class="contact-us__header">
      <h2 class="contact-us__title">Co możemy dla Ciebie zrobić?</h2>
      <p>Odpowiemy na twoje zapytanie tak szybko<br>jak to możliwe.</p>
    </hgroup>

    <div class="form__group form-phone-label">
      <input type="tel" placeholder="Numer telefonu">
      <label>label</label>
    </div>

    <div class="form__group form-email-label">
      <input type="email" placeholder="Adres e-mail*" class="error">
      <span class="wpcf7-not-valid-tip" aria-hidden="true">Adres e-mail jest nieprawidłowy</span>
      <label>label</label>
    </div>

    <div class="form__group form__group">
      <textarea type="text" placeholder="Input"></textarea>
      <label>label</label>
    </div>

    <div class="form__group form__group">
      <input type="checkbox" id="checkbox-1">
      <label for="checkbox-1">Zgadzam się na przetwarzanie moich danych osobowych przez ONEX GROUP z siedzibą w Warszawie, przy al. Niepodległości 18, w celu odpowiedzi na moją wiadomość.</label>
    </div>

    <a class="btn btn--primary" href="">Wyślij zapytanie</a>

  </form> #}