.form {

  text-align: center;

  &__group {
    text-align: left;
    position: relative;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  .form-phone-label,
  .form-email-label
   {
     .label {
      width: 45px;
      height: 45px;
      background: #EEEEEE;
      border: 10px solid rgba(255,255,255,.1);
      border-radius: 7px 0px 0px 7px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px auto;
      position: absolute;
      bottom: 1px;
      left: 1px;
      font-size: 0;
      color: rgba(0,0,0,0);
    }
  }

  .form-phone-label .label{background-image: url('../static/icons/text-label.svg'); z-index: 10;}

  .form-email-label .label{background-image: url('../static/icons/mail-label.svg'); z-index: 10;}

  input {
    &[type=text],
    &[type=tel],
    &[type=email]{
      width: 100%;
      display: block;
      height: 47px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 7px;
      padding-left: 68px;
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1rem;
      letter-spacing: 0.4px;
      color: #FFFFFF;

      &::placeholder {
        color: #FFF;
      }

      &.wpcf7-not-valid {
        border:  1px solid #FF0B0B;
        ~label {
          border: 1px solid #FF0B0B;
          //border-right: 0;

        }
      }
    }

    &[type=checkbox]{
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      opacity: 0;

      ~ span {

        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1rem;
        align-items: center;
        letter-spacing: 0.4px;
        color: #FFFFFF;
        cursor: pointer;
        padding-left: 15px;
        display: block;

        &::before{
          @include pseudo;
          width: 20px;
          height: 20px;
          background: rgba(255, 255, 255, 0.3);
          box-sizing: border-box;
          border-radius: 6px;
          cursor: pointer;
          top: 0;
          left: 0;
          border: 1px solid #E3E3E3;
        }

      }

      &:checked ~ span {
        &::after{
          @include pseudo;
          width: 20px;
          height: 20px;
          border: 1px solid #E3E3E3;
          box-sizing: border-box;
          border-radius: 6px;
          top: 0;
          left: 0;
          background-image: url('../static/icons/checkbox-on.svg');
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  textarea {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    height: 185px;
    width: 100%;
    display: block;
    resize: none;
    padding: 18px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.4px;
    color: #FFFFFF;

    &::placeholder {
      color: #FFF;
    }

    ~ label {
      @include aria-hidden;
    }
  }

  .wpcf7-submit {
    color: #FFFFFF;
    padding: 16px 41px;
  }

  .screen-reader-response,
  .ajax-loader {
    display: none;
  }

  .wpcf7-form-control-wrap {
    position: static;
  }

  .wpcf7-response-output {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    align-items: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    padding-left: 15px;
    display: block;
    border: none!important;
  }

  .error-info,
  .wpcf7-not-valid-tip {
    all: unset;
    position: absolute;
    top: -32px;
    right: 15px;
    background: #ED4D3F;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: #FFFFFF;
    padding: 5px 20px;
    display: inline-flex;
    border-radius: 5px;
    &:after{
      @include pseudo;
      right: 12px;
      bottom: -3px;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      background: #ED4D3F;
      clip-path: polygon( 0 100%, 100% 100%, 100% 0);
    }
  }

  ::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
  }

  :-ms-input-placeholder {
    color: rgba(255,255,255,0.5);
  }

  ::placeholder {
    color: rgba(255,255,255,0.5);
  }

}