<section class="steps-repeater step-by-step-with-client {% if section.sbswc_padding_top > 160 %} steps-repeater--extra-padding {% endif %}" 
    id="{{section.id}}" 
    style="background-color: {{section.background_color}}; padding-top: {{section.sbswc_padding_top}}px; padding-bottom: {{section.sbswc_padding_bottom}}px;">
  <div class="steps-repeater__container">
    <div class="steps-repeater__top" uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 250">

        {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
          "class_wrapper": "steps-repeater__top-ico",
          "image": section.sbswc_ico,
          "mp4": section.sbswc_ico_mp4,
        } %}

      <h2 class="steps-repeater__top-title">{{section.sbswc_title}}</h2>
    </div>
  
    <div class="steps-repeater__main" uk-scrollspy="target: .steps-repeater__animation ; cls: uk-animation-fade; delay: 350;">
      <ul class="steps-repeater__steps">
        {% for step in section.steps_items %}
          <li class="steps-repeater__step">

            <div class="steps-repeater__step-dot-active steps-repeater__animation"></div>
            <div class="steps-repeater__step-dot" style="background-color: {{section.background_color}};"></div>

            <div class="steps-repeater__animation steps-repeater__step-wrapper{% if step.full_width %}--full{% endif %}">
              <div class="steps-repeater__step-title">{{step.step_title}}</div>
              {% if step.step_description %}
                <div class="steps-repeater__step-description">
                  {{step.step_description}}
                </div>
              {% endif %}

              {% if step.step_grids %}
                <div class="steps-repeater__step-grids">
                  {% for grid in step.step_grids %}
                    <div class="steps-repeater__step-grid">

                      {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                        "class_wrapper": "steps-repeater__step-grid-ico",
                        "image": grid.step_grid_ico,
                        "mp4": grid.step_grid_ico_mp4,
                      } %}

                      <div class="steps-repeater__step-grid-wrapper">
                        <div class="steps-repeater__step-grid-title">{{grid.step_grid_title}}</div>
                        <div class="steps-repeater__step-grid-description">{{grid.step_grid_description}}</div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}

            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="steps-repeater__client steps-repeater__animation">
        <div class="steps-repeater__client-top">
          <div class="steps-repeater__client-title">{{section.client_title}}</div>
          <div class="steps-repeater__client-info">  
      
            {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
              "class_wrapper": "steps-repeater__client-avatar",
              "image": section.client_avatar,
              "mp4": section.client_avatar_mp4,
            } %}

            <div class="steps-repeater__client-description">{{section.client_description}}</div>
          </div>
        </div>

        {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
          "class_wrapper": "steps-repeater__client-img",
          "image": section.client_img,
          "mp4": section.client_img_mp4,
        } %}
      
      </div>
    </div>
  
  </div>
</section>