.steps-repeater {
  padding: 100px 0;
  background-color: #141433;
  color: #FFFFFF;
  @include media-down($sm){
    padding-top: 60px!important;
    padding-bottom: 60px!important;
  }

  &--extra-padding {
    @include media-down($sm){
      padding-top: 150px!important;
    }
  }

  &__container {
    @extend .app-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1295px;
  }

  &__row {
    @extend .app-row;
    justify-content: center;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    margin-bottom: 4.375rem;
    @include media-down($sm) {
      margin-bottom: 3rem;
     }

    &-ico {
      width: auto;
      min-width: 53px;
      height: 72px;
      margin-right: 42px;
      margin-top: -4px;
      letter-spacing: 0;
      @include media-down($lg) {
        width: 40px;
        min-width: 40px;
        margin-right: 40px;
        height: auto;
      }
      @include media-down($md) {
        margin-right: 20px;
      }

      img, video {
        width: 100%;
        height: 100%;
      }
    }

    &-title, &-title p {
      font-style: normal;
      font-weight: bold;
      font-size: 1.9rem;
      line-height: 133%;
      letter-spacing: 0.0025rem;
      color: #FFFFFF;
      font-family: 'Lato', sans-serif;
   }

    &-decription {
      @extend .app-p;
      width:  80%;
      margin-left: 105px;
      @include media-down($sm) {
        margin-left: 0;
        width:  100%;
      }
      p {
        margin-bottom: 1.5rem;
      }
   }
  }

  &__main {
    display: flex;
    position: relative;
    @include media-down($sm) {
      flex-direction: column-reverse;
    }
  }
  
  &__steps {
    margin-left: 108px;
    @include media-down($lg) {
      margin-left: 80px;
    }
    @include media-down($md) {
      margin-left: 60px;
    }
    @include media-down($sm) {
      margin-left: 35px;
    }
  }

  &__step {
    padding-bottom: 20px;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: #FF9A08;
      left: -64px;
      @include media-down($md) {
        left: -34px;
      }
      @include media-down($sm) {
        left: -26px;
      }
    }

    &:last-of-type::before{
      content: none;
    }

    &:first-child {
      padding-bottom: 40px;

      .steps-repeater__step-description {
        max-width: 515px;
      }

      ul {
        max-width: 446px;
      }
    }

    &-dot {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 2px solid #FF9A08;
      border-radius: 50%;
      left: -73px;
      @include media-down($md) {
        left: -43px;
      }
      @include media-down($sm) {
        left: -32px;
        width: 15px;
        height: 15px;
      }
 
    }

    &-dot-active {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 2px solid #FF9A08;
      border-radius: 50%;
      left: -73px;
      background-color: #FF9A08;
      z-index: 10;
      @include media-down($md) {
        left: -43px;
      }
      @include media-down($sm) {
        left: -32px;
        width: 15px;
        height: 15px;
      }
    }

    &-wrapper {
      @extend .app-p;
      flex-direction: column;
      @extend .app-col-xl-6;
      @extend .app-col-lg-6;
      @extend .app-col-md-6;
      @extend .app-col-sm-12;
      padding-left: 0;
  
      &--full {
        @extend .app-p;
        flex-direction: column;
        @extend .app-col-xl-12;
        @extend .app-col-lg-12;
        @extend .app-col-md-12;
        @extend .app-col-sm-12;
        padding: 0;

        .steps-repeater__step-title {
          p {
            margin-bottom: 40px;
          }
        }
      }
    }

    &-title {
      @extend .app-h3;
      line-height: 108%;
      color: #ffffff;
      p {
        @extend .app-h3;
        line-height: 108%;
        color: #ffffff;
        margin-bottom: 1.25rem;
      }

    }

    &-description {
      @extend .app-p ;
      p {
        margin-bottom: 20px;
      }
      ul, ol {
        margin-left: 1.8rem;
        li {
          position: relative;
          letter-spacing: 0.5px;

          &::before {
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            left: -1.5rem ;
            top: 11px;
            background: #FF9A08;
            border-radius: 2px;
            transform: rotate(45deg);
            @include media-down($md) {
              top: 6px;
            }
          } 
        }
      }
    }

    &-grids {
      display: flex;
      flex-wrap: wrap;
    }

    &-grid {
      @extend .app-col-xl-4;
      @extend .app-col-lg-4;
      @extend .app-col-md-6;
      @extend .app-col-sm-12;
      align-items: flex-start;
      padding: 0;
      margin-bottom: 0;

      &:first-child, &:nth-child(2), &:nth-child(4), &:nth-child(5) {
        @include media-up($lg) {
          max-width: 37%;
          flex: 0 0 37%;
        }
      }

      &:nth-child(3), &:nth-child(6) {
        @include media-up($lg) {
          max-width: 26%;
          flex: 0 0 26%;
        }
      }


      &-ico {
        width: 40px;
        min-width: 40px;
        height: auto;
        img {
          width: 100%;
          height: 100%;
        }
        video {
          width: 100%;
          height: 100%;
        }
      }

      &-wrapper {
        padding: .4rem 1.25rem;
        width: 80%;
        @include media-down($md) {
          width: 100%;
        }
      }

      &-title {
        @extend .app-h3;
        line-height: 133%;
        color: #ffffff;

        P {
          @extend .app-h3;
          line-height: 133%;
          color: #ffffff;
          margin-bottom: 10px;
          letter-spacing: 0;
        }
      }

      &-description {
        @extend .app-p ;
        p {
          margin-bottom: 1rem;
          text-align: left;
        }
      }
    }


  }

  &__client {
    width: 100%;
    @extend .app-col-xl-6;
    @extend .app-col-lg-5;
    @extend .app-col-md-5;
    @extend .app-col-sm-12;
    flex-direction: column;
    position: absolute;
    right: 0;
    padding: 0;
    @include media-down($sm) {
      position: static;
    }

    &-top {
      border-left: 2px solid rgba(220, 214, 214, 0.29);
      margin-bottom: 1rem;
      @include media-up($lg) {
        padding-left: 54px;
        margin-left: 52px;
      }
      @include media-down($md) {
        padding-left: 20px;
      }
      @include media-down($sm) {
        border: none;
        padding-left: 0;
        margin-bottom: 2rem;
      }
    }

    &-title {
      @extend .app-h3 ;
      line-height: 108%;
      color: #ffffff;
      padding-left: 10px;
      p {
        @extend .app-h3 ;
        line-height: 108%;
        color: #ffffff;
        margin-bottom: 1.25rem;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-avatar {
      width: 98px;
      height: auto;
      margin-right: 12px;
      img {
        width: 100%;
        height: 100%;
      }
      video {
        width: 100%;
        height: 100%;
      }
    }

    &-description {
      @extend .app-p ;
      p {
        text-align: left;
        @include media-down($md) {
          margin-bottom: 1rem;
        }
      }
    }

    &-img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
      @include media-up($lg) {
        max-width: 563px;
        margin-top: -24px;
        margin-left: 68px;
      }

      @include media-down($sm) {
        margin-bottom: 2rem;
      }

      img {
        width: 100%;
        height: 100%;
      }
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
}