{% if post.popular_articles %}
<section
        class="article-slider"
        style="background-color: {{ section.background_color }};"
>

    <div class="article-slider__container">
        <div class="article-slider__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">{{ __('Recommended articles', 'onex') }}</div>
    </div>

    <div class="article-slider__init" uk-scrollspy="target: button; cls: uk-animation-slide-bottom-medium; delay: 250;">

        {% for article in Post(post.popular_articles) %}

            <div class="article-box">
                <div class="article-box__inner">
                    <div class="article-box__img">
                        <img src="{{ article.thumbnail.src|resize(500) }}" alt="{{ article.thumbnail.alt }}">
                    </div>
                    <article class="article-box__info">
                        <div class="article-box__title"> {{ article.title }}</div>
                        <div class="article-box__text">
                            {{ article.preview.length(22).force.read_more('') }}
                            <a class="hero-blog__link" href="{{ post.link }}">{{ __('Read more', 'onex') }}</a>
                        </div>
                    </article>
                    <a class="article-box__link" href="{{ article.link }}"></a>
                </div>
            </div>

        {% endfor %}

    </div>

</section>
{% endif %}