.article-slider {
  padding: 91px 0 96px;
  overflow: hidden;

  @include media-down($sm) {
    padding: 50px 0 40px;
  }

  &__container {
    @extend .app-container;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__init {
    @extend .app-col-xl-6;
    display: block;
    margin: 0 auto;
    padding: 0;
    //width: calc(100% + 200px);
    //left: -85px;
    position: relative;
    max-width: 715px;
    width: 70%;
    @include media-down($sm) {
      width: 100%;
    }
  }

  &__title {
    @extend .app-h2 ;
    margin-bottom: 105px;
    @include media-down($md) {
      margin-bottom: 40px;
    }

    p {
      @extend .app-h2 ;
    }
  }

  .slick-list {
    padding: 0 !important;
    overflow: visible !important;
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px 1px rgba(20, 20, 51, 0.19);
    border-radius: 50%;
    display: block;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    background-size: 9px 18px;
    background-repeat: no-repeat;
    position: absolute;
    top: 47%;
    z-index: 20;
    transition: $btn-transition;


    &:hover {
      transform: scale(1.075);
      box-shadow: 0px 0px 20px 1px rgba(20, 20, 51, 0.11);
    }

    &:focus {
      outline: 0;
      background-color: #FF9A08;
    }


    &.slick-prev {
      background-image: url("../static/icons/slider-ar-l.svg");
      background-position: 44% center;
      left: -25px;
      @include media-down($sm) {
        left: 10px;
      }
    }

    &.slick-next {
      background-image: url("../static/icons/slider-ar-r.svg");
      background-position: 54% center;
      right: -25px;
      @include media-down($sm) {
        right: 10px;
      }
    }

  }

  .slick-slide {
    outline: none !important;
  }

  .slick-slide {
    padding: 0 55px;
    @include media-down($sm) {
      padding: 0 16px;
    }
  }
}

.article-box {
  z-index: 10;
  position: relative;
  cursor: pointer;

  &__inner {
    border-radius: 10px;
    display: block;
    overflow: hidden;
    position: relative;

    .slick-slide & {
      @include media-down($sm) {
        transform: none !important;
        visibility: visible !important;
      }
    }

  }

  &__img {
    width: 100%;
    height: 364px;
    position: relative;

    @include media-down($md) {
      height: 300px;
    }

    @include media-down($sm) {
      height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    &::after {
      @include pseudo();
      width: 100%;
      height: 100%;
      background: linear-gradient(3.77deg, #141433 -3.14%, rgba(196, 196, 196, 0) 83.79%);
      z-index: 1;
      bottom: 0;
      left: 0;
    }
  }

  &__info {
    padding: 17px 22px 40px;
    background: #141433;
    color: #fff;
    position: relative;
    top: -1px;

    a {
      color: #FF9A08;

      &:hover {
        color: #FF9A08;
      }
    }
  }

  &__title {
    @extend .app-h3;
    margin-bottom: 10px;
    color: #FFFFFF;

    p {
      @extend .app-h3;
      color: #FFFFFF;
    }
  }

  &__text {
    @extend .app-p;
    color: #FFFFFF;

    p {
      @extend .app-p;
      color: #FFFFFF;
    }

    a {
      color: #FF9A08;
      transition: $btn-transition;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 5;

    .slick-slide:not(.slick-current) & {
      pointer-events: none;
    }
  }

}
