.benefit-slider {
  padding: 95px 0 184px;
  overflow: hidden;

  @include media-down($sm) {
    padding: 50px 0 40px;
  }

  &__container {
    @extend .app-container;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__init {
    @extend .app-col-xl-6;
    display: block;
    margin: 0 auto;
    padding: 0;
    //width: calc(100% + 200px);
    //left: -85px;
    position: relative;
    max-width: 715px;
    width: 70%;

    @include media-down($sm) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 105px;

    p {
      @extend .app-h2;
      letter-spacing: 0px;
    }

    @include media-up($lg) {
      padding-left: 45px;
    }

    @include media-down($md) {
      margin-bottom: 40px;
    }
  }

  .slick-list {
    padding: 0 !important;
    overflow: visible !important;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 1px rgba(20, 20, 51, 0.19);
    border-radius: 50%;
    display: block;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    background-size: 9px 18px;
    background-repeat: no-repeat;
    position: absolute;
    top: 52%;
    z-index: 20;
    transition: $btn-transition;

    &:hover {
      transform: scale(1.075);
      box-shadow: 0px 0px 20px 1px rgba(20, 20, 51, 0.11);
    }

    &:focus {
      outline: 0;
      background-color: #FF9A08;
    }


    &.slick-prev {
      background-image: url("../static/icons/slider-ar-l.svg");
      background-position: 44% center;
      left: -3px;

      @include media-down($sm) {
        left: 10px;
      }
    }

    &.slick-next {
      background-image: url("../static/icons/slider-ar-r.svg");
      background-position: 54% center;
      right: -47px;

      @include media-down($sm) {
        right: 10px;
      }
    }

  }

  .slick-slide {
    height: inherit;
    outline: none !important;

    &>div {
      display: flex;
      height: 100%;
      padding: 0 36px 0 77px;

      @include media-down($sm) {
        padding: 0 8px;
      }
    }

    @include media-down($sm) {
      padding: 0 8px;
    }
  }
}

.benefit-box {
  border-radius: 10px;
  background: #141433;
  z-index: 10;
  position: relative;
  cursor: pointer;

  &__inner {
    padding: 50px 80px;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    position: relative;

    @include media-down($sm) {
      padding: 40px 20px;
    }

    .slick-slide & {
      @include media-down($sm) {
        transform: none !important;
        visibility: visible !important;
      }
    }

  }

  &__img {
    width: 100%;
    height: 195px;
    position: relative;
    display: flex;
    align-items: flex-end;

    @include media-down($sm) {
      height: auto;
      max-height: 200px;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__info {
    background: #141433;
    color: #fff;
    position: relative;
    margin-top: 60px;
  }

  &__title {
    margin-bottom: 24px;

    p {
      @extend .app-h3;
      color: #FFFFFF;
    }
  }

}