<section class="benefit-slider" id="{{section.id}}" style="background-color: {{section.background_color}};">

  <div class="benefit-slider__container">
    <h2 class="benefit-slider__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;"> {{section.benefits_title}}</h2>
  </div>

  <div class="benefit-slider__init" uk-scrollspy="target: button; cls: uk-animation-slide-bottom-medium; delay: 250;">

    {% for benefit in section.benefits_items %}

      <div class="benefit-box" style="background-color: {{benefit.background_color}};">
        <div class="benefit-box__inner">
          <div class="benefit-box__img">
            <img src="{{benefit.benefit_image.url}}" alt="">
          </div>
          <div class="benefit-box__info">
            <h3 class="benefit-box__title"> {{benefit.benefit_title}}</h3>
            <div class="benefit-box__info-text">
              {{benefit.benefit_text}}
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

  </div>

</section>