.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  &__content {
    display: flex;
    align-items: center;
  }

  &__list {
    font-size: 14px;
  }

  .page-number {
    &.current {
      &:not(.last) {
        border: 1px solid #E3E3E3;
        display: inline-flex;
        border-radius: 7px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
    }
  }

  .prev, .next {
    svg {
      width: 8px;
    }
  }

  .prev {
    margin-right: 15px;
  }

  .next {
    margin-left: 15px;
  }
}