.blog-post {
  overflow: hidden;
  padding-bottom: 70px;

  &__container {
    @extend .app-container;
    max-width: 1258px;
    display: flex;
    position: relative;

    @media (min-width: 1200px) {
      max-width: 1040px;
    }
  }

  &__content {
    margin: 40px 0 0;
    max-width: 100%;

    .wp-block-image {
      margin: 2rem 0;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    .wp-block-embed {
      margin: 2rem 0;

      iframe {
        max-width: 100%;
        width: 100%;
        min-height: 66vh;
      }
    }

    .blocks-gallery-grid .blocks-gallery-image, .blocks-gallery-grid .blocks-gallery-item, .wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
      margin: 0;
    }

    .blocks-gallery-grid, .wp-block-gallery {
      margin: 2rem 0;
    }

    p {
      a {
        color: #FF9A08;
        transition: $btn-transition;

        &:hover {
          color: inherit;
          opacity: 1;
        }
      }
    }

    ul, ol {
      list-style: disc;
      margin: 1rem 0 1rem 2rem;

      li {
        margin-bottom: 0.5rem;

        &::marker {
          color: #FF9A08;
        }
      }
    }

    ol {
      list-style: decimal;
    }

    h2 {
      @extend .app-h2;
    }

    h3 {
      @extend .app-h3;
    }

    h4 {
      font-size: 1.3rem;
      font-weight: 700;
    }

    h2, h3, h4 {
      margin: 40px 0 25px;
      color: inherit;
    }

    figcaption {
      font-style: italic;
      color: #999;
    }
  }

  .share {
    svg {
      width: 34px;
      height: auto;
    }
  }

  &__footer {
    margin: 58px 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include media-down($sm) {
      flex-wrap: wrap;
    }
  }

  .kk-star-ratings .kksr-stars {
    @include media-down($sm) {
      margin-bottom: 18px;
    }
  }

  .kk-star-ratings .kksr-stars .kksr-star .kksr-icon, .kk-star-ratings:not(.kksr-disabled) .kksr-stars .kksr-star:hover ~ .kksr-star .kksr-icon {
    background-image: url(../static/icons/empty-star.svg);
    background-size: cover;
  }

  .kk-star-ratings .kksr-stars .kksr-stars-active .kksr-star .kksr-icon {
    background-image: url(../static/icons/full-star.svg);
    background-size: cover;
  }

  .kk-star-ratings.kksr-disabled .kksr-stars .kksr-stars-active .kksr-star .kksr-icon,
  .kk-star-ratings:not(.kksr-disabled) .kksr-stars:hover .kksr-star .kksr-icon {
    background-image: url(../static/icons/full-star.svg);
    background-size: cover;
  }

  .kk-star-ratings .kksr-muted {
    opacity: 1;
  }

  .kk-star-ratings .kksr-legend {
    color: #141433;
    font-size: 0.87rem;
    font-weight: 700;

    span.kksr-muted {
      &:first-of-type {
        display: none;
      }
    }

    strong {
      display: none;

      &.kksr-count, &.kksr-score {
        display: inline-block;
      }
    }
  }
}