{% extends 'base.layout.twig' %}

{% block body %}
    {% include "/blog/hero-single/blog-hero-single.twig" %}

    <section class="blog-post">
        <div class="blog-post__container">
            <div class="blog-post__content">
                {{ post.content }}
            </div>
            <div class="blog-post__footer">
                {{ function( 'kk_star_ratings' ) }}
                {% include "/share-box/share-box.twig" %}
            </div>
        </div>
    </section>

    {% include "/blog/other-posts/other-posts.twig" %}
    {% include "/blog/contact-box/contact-us.twig" %}



{% endblock %}

