.grid {
  padding: 103px 0 120px;
  background-color: #141433;
  color: #FFFFFF;
  @include media-down($md){
    padding: 60px 0;
  }


  &__container {
    @extend .app-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }


  &__row {
    @extend .app-row;
    justify-content: flex-start;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
    &-ico {
      width: 58px;
      height: auto;
      display: inline-block;
      margin-right: 1.25rem;
      img {
        width: 100%;
        height: 100%;
      };
      video {
        width: 100%;
        height: 100%;
      }
    }

    &-title, &-title p {
      @extend .app-h2;
      font-size: 1.875rem;
      letter-spacing: 0.25px;
      color: #ffffff;
    }
  }

  &__item {
    @extend .app-col-xl-4;
    @extend .app-col-lg-4;
    @extend .app-col-md-6;
    @extend .app-col-sm-12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5rem;

    &-wrapper {
      width: 93%;
      @include media-down($md){
        width: 100%;
      }
    }

    &-ico {
      width: auto;
      height: 50px;
      display: inline-block;

      &-mp4 {
        width: 60px;
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
      };
      video {
        width: 100%;
        height: 100%;
        margin-right: auto;
      };
    }

    &-title{
      margin: 2.5rem 0 1.25rem 0;
  
      p {
        @extend .app-h3;
        line-height:  1.875rem;
        color: #ffffff;
      }
    }

    &-description, &-description p {
      @extend .app-p;
    }
  }
}