<section class='grid' id="{{section.id}}" style="background-color:{{section.background_color}}">
  <div class="grid__container">

    <div class="grid__header" uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 250">
      {% if section.grid_title_ico %}
        <div class="grid__header-ico">
          <img 
            class="grid__header-ico uk-animation-stroke uk-preserve" 
            src="{{section.grid_title_ico.url}}" 
            alt="{{section.grid_title_ico.alt}}" 
            uk-svg="stroke-animation: true" 
            uk-svg
          > 
        </div>
      {% elseif section.grid_title_ico_mp4 %} 
        <div class="grid__header-ico">
          <video autoplay muted loop>
            <source src="{{section.grid_title_ico_mp4.url}}" type="video/mp4">
          </video>
        </div>
      {% endif %}  
     
      <div class="grid__header-title">{{section.grid_title}}</div>
    </div>

    <div class="grid__row" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 250;">
     
      {% for item in section.grid_items %}
        <div class="grid__item">
          <div class="grid__item-wrapper">
            {% if item.grid_item_ico %}
              <div class="grid__item-ico">
                <img 
                  class="uk-preserve uk-animation-stroke" 
                  src="{{item.grid_item_ico.url}}" 
                  alt="{{item.grid_item_ico.alt}}" 
                  uk-svg="stroke-animation: true" 
                  uk-svg 
                >
              </div>
            {% elseif item.grid_item_ico_mp4 %}
              <div class="grid__item-ico grid__item-ico-mp4">
                <video autoplay muted loop>
                  <source src="{{item.grid_item_ico_mp4.url}}" type="video/mp4">
                </video>
              </div>
            {% endif %}
            <div class="grid__item-title">{{item.grid_item_title}}</div>
            <div class="grid__item-description">{{item.grid_item_description}}</div>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>
</section>