.client {
  margin: 0 16px;
  position: relative;
  padding-left: 105px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-down($sm){
    padding-left: 85px;
  }
  &__img {
    display: block;
    width: 66px;
    height: 66px;
    position: absolute;
    left: 0;
    top: calc(50% - 66px / 2);
    object-fit: contain;
    border-radius: 22px;
    transform: rotate(45deg);
    overflow: hidden;
    background-color:  #fff;

    .cs-reference__client & {
      background-color:  transparent;
      transform: rotate(0);
      width: 87px;
      height: 87px;
    }

    img {
      width: 100%;
      height: 100%;

    }
  }
  &__title {}
}
