.counter {
  padding: 42px 0;
  background-color: #F2F4F6;

  &__container {
    @extend .app-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  &__title {
    @extend .app-p;
    color: #000000;
    text-align: center;
    p {
      @extend .app-p;
      color: #000000;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__row {
    @extend .app-row;
    justify-content: space-between;
    align-items: center;

    @include media-down($md){
      flex-direction: column;
    }
  }

  &__set {
    @extend .app-col-xl-2;
    @extend .app-col-lg-2;
    @extend .app-col-md-2;
    //@extend .app-col-sm-12;
    text-align: center;
    color: #141433;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
    margin-bottom: auto;

    &:first-child {
      @include media-up($lg) {
        padding-left: 28px;
        justify-content: flex-start;
      }
    }

    &:nth-child(2) {
      @include media-up($lg) {
        padding-left: 44px;
        justify-content: flex-start;
      }
    }

    &:nth-child(4) {
      @include media-up($lg) {
        padding-left: 0px;
        justify-content: flex-start;
      }
    }

    &:nth-child(5) {
      @include media-up($lg) {
        padding-left: 9px;
        justify-content: flex-start;
      }
    }

    @include media-down($md){
      margin-bottom: 40px;
      order: 2;
    }

    &--center {
      @extend .app-col-xl-4;
      @extend .app-col-lg-4;
      @extend .app-col-md-12;
      @extend .app-col-sm-12;
      padding-top: 10px;
      @include media-down($md){
        margin-bottom: 40px;
        order: 1;
      }
    }
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__number {
    text-align: center;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: bold;
    font-size:  3rem;
    line-height:  3rem;
  }

  &__label {
    text-align: center;
    letter-spacing: 0.0025em;
    font-style: normal;
    font-weight: bold;
    font-size:  3rem;
    line-height:  3rem;

    p {
      text-align: center;
      letter-spacing: 0.0025em;
      font-style: normal;
      font-weight: bold;
      font-size:  3rem;
      line-height:  3rem;
    }

    &--small {
      line-height: 24px;
      font-size: 1.5rem;
      padding-left: 6px;
      text-transform: uppercase;

      p {
        line-height: 24px;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }

  }

  &__bottom {
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin-top: 8px;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.25rem;
      letter-spacing: 0;
    }

    @include media-down($md){
      //font-size: 1rem;
      //line-height: 1rem
    }
    @include media-down($sm){
      //font-size: 1.125rem;
      //line-height: 1.25rem;
    }

  }

  &__img {
    width: 100%;
    max-width: 305px;
    @include media-down($sm){
      max-width: 270px;
    }

  }
}