<section class="counter" id="{{section.id}}" style="background-color: {{section.background_color}};"> 

  <div class="counter__container">

    <div class="counter__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
      {{section.counter_title}}
    </div>

    <div class="counter__row" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 250">

      <div class="counter__set">
        <div class="counter__item">
          <div class="counter__top">
            <span class="counter__number" data-uk-scrollspy data-counter-target="{{section.market_number}}" style="color: {{section.market_number_color}};">0</span>
            <div class="counter__label counter__label--small">{{section.market_text}}</div>
          </div>
          <div class="counter__bottom">
            {{section.market_small_text}}
          </div>
        </div>
      </div>

      <div class="counter__set">
        <div class="counter__item">
          <div class="counter__top">
            <span class="counter__number" data-uk-scrollspy data-counter-target="{{section.employees_number}}" style="color: {{section.employees_number_color}};">0</span>
            <div class="counter__label">{{section.employees_text}}</div>
          </div>
          <div class="counter__bottom">
            {{section.employees_small_text}}
          </div>
        </div>
      </div>

      <div class="counter__set counter__set--center">
        {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
          "class_wrapper": "counter__item",
          'uk_scrollspy': null,
          "image": section.counter_image,
          "mp4": section.counter_image_mp4
        } %}
      </div>

      <div class="counter__set">
        <div class="counter__item">
          <div class="counter__top">
            <span class="counter__number" data-uk-scrollspy data-counter-target="{{section.winner_number}}" style="color: {{section.winner_number_color}};">0</span>
            <div class="counter__label counter__label--small">{{section.winner_text}}</div>
          </div>
          <div class="counter__bottom">
            {{section.winner_small_text}}
          </div>
        </div>
      </div>

      <div class="counter__set">
        <div class="counter__item">
          <div class="counter__top">
            <span class="counter__number" data-uk-scrollspy data-counter-target="{{section.clients_number}}" style="color: {{section.clients_number_color}};">0</span>
            <div class="counter__label">{{section.clients_text}}</div>
          </div>
          <div class="counter__bottom">
            {{section.clients_small_text}}
          </div>
        </div>
      </div>

    </div>

  </div>
</section>