.it-progress {
  padding: 100px 0;
  background-size: cover;
  background-position: center;

  position: relative;
  overflow: hidden;

  @include media-down($md) {
    padding: 60px 0 50px;
  }

  &::before {
    @include pseudo;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0.48deg, #141433 -1.84%, rgba(20, 20, 51, 0) 141.34%);
    mix-blend-mode: darken;
    z-index: 2;
  }

  &::after {
    @include pseudo;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141433;
    mix-blend-mode: color;
    z-index: 1;
  }

  &__container {
    @extend .app-container;
    position: relative;
    z-index: 10;
    flex-direction: column;
    max-width: 1295px;
  }

  &__title {
    @extend .app-h2;
    color: #fff;
    text-align: center;
    margin-bottom: 100px;

    p {
      @extend .app-h2;
      color: #fff;
      text-align: center;
      letter-spacing: 0.25px;
    }

    @include media-down($md) {
      margin-bottom: 60px;
    }

  }

  &__nav {
    display: flex;
    margin-bottom: 15px;

    @include media-up($lg) {
      margin-bottom: 58px;
    }

    @include media-down($lg) {
      justify-content: space-between;
    }

    &-outer {
      @include media-down($md) {
        overflow-x: scroll;
        max-width: 100%;
        margin-bottom: 70px;

        &::-webkit-scrollbar {
          height: 3px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          // background-image: linear-gradient(to right, #f10070 , #FFCE00);
          background-color: rgba($color: #ffffff, $alpha: 0.2);
          border-radius: 50px;
        }

      }

    }

    li {
      @extend .app-p;
      display: flex;
      font-style: normal;
      font-weight: normal;
      color: #FFFFFF;
      padding-bottom: 33px;
      position: relative;
      transition: $btn-transition;
      min-width: 111px;

      @include media-down($lg) {
        flex: 1;
        min-width: 125px;
      }

      p {
        color: #FFFFFF;
        min-width: 130px;
        letter-spacing: 0;
      }

      &:first-child {
        @include media-up($lg) {
          width: 16.4%;
        }
      }

      &:nth-child(2) {
        @include media-up($lg) {
          width: 20.8%;
        }
      }

      &:nth-child(3) {
        @include media-up($lg) {
          width: 17.4%;
        }
      }

      &:nth-child(4) {
        @include media-up($lg) {
          width: 18.3%;
        }
      }

      &:nth-child(5) {
        @include media-up($lg) {
          width: 15.6%;
        }
      }

      &:last-of-type {
        justify-content: flex-end;
      }

      &.uk-active {
        p {
          color: #FF9A08;
        }
      }

      &:before {
        @include pseudo;
        height: 20px;
        width: 2px;
        bottom: 0;
        left: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: #FFCE00;
      }

      &:nth-of-type(1):before {
        background-color: #F10070;
      }

      &:nth-of-type(2):before {
        background-color: #F10070;
      }

      &:nth-of-type(3):before {
        background-color: #F64D46;
      }

      &:nth-of-type(4):before {
        background-color: #F97232;
      }

      &:nth-of-type(5):before {
        background-color: #FB971E;
      }

      &:nth-of-type(6):before {
        background-color: #FFCE00;
      }

      &:last-of-type:before {
        left: auto;
        right: 0;
      }

      &:after {
        @include pseudo;
        height: 4px;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0;
        background-color: #FFCE00;
      }

      &:nth-of-type(1):after {
        background-image: linear-gradient(to right, #f10070, #f10070);
      }

      &:nth-of-type(2):after {
        background-image: linear-gradient(to right, #f10070, #F64D46);
      }

      &:nth-of-type(3):after {
        background-image: linear-gradient(to right, #F64D46, #F97232);
      }

      &:nth-of-type(4):after {
        background-image: linear-gradient(to right, #F97232, #FB971E);
      }

      &:nth-of-type(5):after {
        background-image: linear-gradient(to right, #FB971E, #FFCE00);
      }

      &:nth-of-type(6):after {
        background-image: linear-gradient(to right, #FFCE00, #FFCE00);
      }

    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    @include media-down($md) {
      flex-direction: column;
    }
  }

  &__img {
    @extend .app-col-xl-6;
    @extend .app-col-lg-6;
    @extend .app-col-md-12;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
      @include media-down($md) {
        margin-bottom: 40px;
        max-height: 240px;
      }
    }

    video {
      width: 80%;
      height: auto;
      @include media-down($md) {
        width: 100%;
        margin-bottom: 40px;
        max-height: 240px;
      }
    }
  }

  &__info {
    @extend .app-col-xl-6;
    @extend .app-col-lg-6;
    @extend .app-col-md-12;
    display: block;
    padding-left: 9px;
    padding-right: 0;
    color: #fff;
    padding-top: 16px;
    @include media-down($md) {
      text-align: center;
      padding-left: 0;
    }

    &-text {
      p {
        letter-spacing: 0.5px;
      }
    }
  }

  &__img {
    svg {
      max-width: 346px;
      width: 100%;

      @include media-down($sm) {
        max-width: 160px;
      }
    }

    svg.uk-svg {
      path {
        stroke-dasharray: 2000;
        stroke-dashoffset: 0;
        animation: banner-img-stroke 4s ease-in-out forwards;
      }
    }

    @keyframes banner-img-stroke {
      0% {
        stroke-dashoffset: 2000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }

  &__btn-wrapper {
    @extend .app-col-12;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    @include media-down($md) {
      margin-top: 50px;
    }
  }

  &__counter {
    display: flex;
    margin-top: 34px;
    justify-content: space-between;
    @include media-down($md) {
      justify-content: space-around;
    }
    @include media-down($sm) {
      flex-direction: column;
      > div {
        margin-bottom: 20px;
      }
    }

    &-set {
      & .counter__top {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        @include media-down($md) {
          justify-content: center;
        }
      }

      & .counter__bottom {
        margin-top: 4px;
      }
    }
  }

  .uk-switcher {
    position: relative;

    @include media-down($sm) {
      min-height: 0 !important;
    }

    > .mesuring {
      display: flex;
      visibility: hidden;
      z-index: -1;
      position: absolute;
      width: 100%;
    }

  }
}
