<section 
  class="it-progress" 
  style='background-image: linear-gradient(0.48deg, {{section.background_color}} -1.84%, rgba(20, 20, 51, 0) 141.34%), url("{{section.it_progress_background_image.url}}");' 
  id="{{section.id}}">

  <div class="it-progress__container">
    <div class="it-progress__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium">
      {{section.it_progress_title}}
    </div>

    <div  class="it-progress__nav-outer">
      <ul class="it-progress__nav" uk-scrollspy="target: > li; cls: uk-animation-slide-left-medium; delay: 250" uk-switcher="connect: .it-progress__set">

        {% for nav in section.it_progress_navigation %}
          <li class=""><a href="#">{{nav.it_progress_navigation_item}}</a></li>
        {% endfor %}

      </ul>
    </div>

    <ul class="it-progress__set uk-switcher">

      {% for item in section.it_progress_items %}
        <li class="it-progress__item">

          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": "it-progress__img",
            'uk_scrollspy': "uk-animation-slide-left",
            "image": item.it_progress_item_image,
            "mp4": item.it_progress_item_video
          } %}
      
          <div class="it-progress__info" uk-scrollspy="uk-animation-slide-right">
            <div class="it-progress__info-text">
              {{item.it_progress_item_text}}
            </div>

            {% if item.it_progress_item_cointers %}
              <div class="it-progress__counter">

                {% for counter in item.it_progress_item_cointers %}
                  <div class="it-progress__counter-set">
                    <div class="counter__item">
                      <div class="counter__top">
                        <div class="counter__number">{{counter.it_progress_counter_number}}</div>
                        <div class="counter__label counter__label--small">{{counter.it_progress_counter_text}}</div> 
                      </div>
                      <div class="counter__bottom">
                        {{counter.it_progress_counter_small_text}}
                      </div>
                    </div>
                  </div>
                {% endfor %}

              </div>

            {% endif %}

          </div>

          <div class="it-progress__btn-wrapper uk-animation-slide-bottom-medium">
              {% if item.it_progress_item_button %}
                {% include 'button/button.twig' with 
                  {
                    'button': item.it_progress_item_button,
                    'uk_scrollspy': null,
                    'color': item.it_progress_item_button_color,
                    'bckg_color': item.it_progress_item_button_bckg_color,
                  } 
                %}
              {% endif %}
          </div>

        </li>
      {% endfor %}

    </ul>
  </div>
  
</section>