<section class='group group--gray' id="{{ section.id }}" style="background-color: {{section.background_color}};">
    <div class="group__container">
        <div class="group__row" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 250">

            <div class="group__set group__set--left">
                <div class="group__item">
                    <img class="group__img group__img--right" src="{{ section.logo_left.url }}"
                         alt="{{ section.logo_left.alt }}"/>
                </div>
            </div>

            <div class="group__logo-text" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 500">
                {{ section.logo_text }}
            </div>

            <div class="group__set group__set--right">
                <div class="group__item">
                    <img class="group__img" src="{{ section.logo_right.url }}" alt="{{ section.logo_right.alt }}"/>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="group group--white" style="background-color: {{section.background_color_description}};">
    <div class="group__container">

        <div class="group__logo-description" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 500">
            {{ section.group_description }}
        </div>

        <div class="group__row" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 250">

            <div class="group__set group__set--center">
                {% for partner in section.microsoft_partners %}
                    <div class="group__item">
                        <img class="group__img" src="{{ partner.microsoft_partner.url }}"
                             alt="{{ partner.microsoft_partner.alt }}"/>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
</section>