.group {
  padding: 40px 0;

  @include media-down($md){
    padding-bottom: 25px;
  }

  &--gray {
    background-color: #F2F4F6;

    & .group__set {
      padding: 0;
    }
  }

  &--white {
    background-color: #ffffff;
    padding: 57px 0;

    @include media-down($md){
      padding-bottom: 35px;
    }
  }

  &__container {
    @extend .app-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }


  &__row {
    @extend .app-row;
    justify-content: center;
    align-items: center;

    @include media-down($md){
      flex-direction: column;
    }
  }

  &__logo-text {
    margin: 0 3.7rem 0 3.6rem;

    @include media-down($md) {
      margin: 1rem 0;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 0;
      color: #18191F;
    }

    @include media-down($md){
      margin-bottom: 25px;
    }
  }

  &__logo-description{
    @extend .app-col-xl-8;
    @extend .app-col-lg-9;
    @extend .app-col-md-10;
    @extend .app-col-sm-12;
    display: block;
    margin: 0 auto 3rem;

    p {
      line-height: 1.7;
      letter-spacing: 0;
      font-weight: 500;
      font-style: normal;
      font-size: 1.125rem;
      text-align: center;
      color: #141433;
    }
  }

  &__set {
    @extend .app-col-xl-2;
    @extend .app-col-lg-2;
    @extend .app-col-md-2;
    //@extend .app-col-sm-12;
    text-align: center;
    color: #141433;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;


    &--center {
      @extend .app-col-xl-3;
      @extend .app-col-lg-3;
      @extend .app-col-md-12;
      @extend .app-col-sm-12;
      @include media-down($md){
        margin-bottom: 25px;
      }
      @include media-down($sm) {
        flex-direction: column;
      }

      .group__item {
        &:nth-child(even) {
          .group__img {
            margin-right: 0;
            height: 43px;

            @include media-down($sm) {
              height: auto;
            }
          }
        }
      }

      .group__img {
        margin-right: 25px;
        height: 60px;

        @include media-down($sm) {
          margin-bottom: 20px;
        }
      }
    }

    &--left {
      justify-content: flex-end;

      @include media-up($lg) {
        margin-left: 5px;
      }
      @include media-down($md){
        justify-content: center;
      }

      .group__img {
        max-width: 260px;
      }
    }

    &--right {
      justify-content: flex-start;
      @include media-down($md){
        justify-content: center;
      }
      .group__img {
        max-width: 190px;
      }
    }

  }

  &__img {
    width: auto;
    height: 50px;
    max-width: initial;

    @include media-down($sm){
      max-width: 100%;
    }

    &--right {
      margin-left: auto;
    }
  }
}