{% if image %}
  <div class="{{class_wrapper}} image-mp4-switcher"  uk-scrollspy="{{uk_scrollspy}}">
    <img class="uk-preserve" src="{{image.url}}" alt="{{image.alt}}" loading="lazy" width="" height="" uk-svg >   
  </div>
{% elseif mp4 %}
  <div class="{{class_wrapper}} image-mp4-switcher"  uk-scrollspy="{{uk_scrollspy}}">
    <video autoplay muted loop>
      <source src="{{mp4.url}}" type="video/mp4">
    </video>
  </div>
{% endif %} 