
    <section class="clients" id="{{section.id}}" style="background-color: {{section.background_color}};">
      <div class="clients__container "  uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
        <div class="clients__title">
          {{section.clients_title}}
        </div>
      </div>

      <div class="clients__slider js-clients__slider" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 250" style="height:{{section.height_container}}px">
        <div class="clients__inner js-clients__inner">

          {% for client in section.clients_item %}
      
            <div class="clients__item">
              <a href="{{client.client_link}}">
                <img src="{{client.client_image.url}}" alt="{{client.client_image.alt}}" style="height:{{client.height}}px"/>
                <img src="{{client.client_image_hover.url}}" alt="{{client.client_image_hover.alt}}" style="height:{{client.height}}px"/>
              </a>
            </div>
          
          {% endfor %}

        </div>
      </div>
    </section>