.clients {
  padding: 20px 0 27px;
  background: #141433;
  text-align: center;
  overflow: hidden;
  position: relative;


  &__container {
    @extend .app-container;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    @extend .app-h3;
    color: #FFFFFF;
    margin-bottom: 27px;
    text-align: center;

    p {
      @extend .app-h3;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0;
    }
  }

  &__slider {
    height: 40px;
    width: 100%;
    max-width: 100%;
    font-size: 0; //to avoid item gap witch inline-block
    overflow: scroll;

    @include media-up($lg) {
      overflow: hidden;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &--disabled {
      display: flex;
      justify-content: center;
    }
  }

  &__inner {
    display: block;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;

    @include media-down($md) {
      animation: none!important;
    }

  }

  &__item {
    display: inline-block;


    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 45px;
      position: relative;
    }

    img {
      display: block;
      // width: 100%;
      width: auto;
      // height: 40px;
      height: 28px;
      object-fit: contain;
      transition: 0.2s;

      &:last-of-type {
        position: absolute;
        opacity: 0;
        top:0;
        left: 0;
      }
    }

    &:hover img{
      &:first-of-type {opacity: 0;}
      &:last-of-type {opacity: 1;}
    }

  }

  *:hover {
    animation-play-state: paused!important;
  }


}
