.cs-team {
    padding: 98px 0 107px;
    @include media-down($md){
      padding: 60px 0;
    }

    &__container {
      @extend .app-container;
      flex-direction: column;
      max-width: 1300px;
    }

    &__title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 65px;
      @include media-down($md){
        margin-bottom: 45px;
      }

      &-img {
        display: block;
        width: 69px;
        height: auto;
        margin-right: 24px;
        object-fit: contain;
      }

      &-text {
        @extend .app-h3;
        p {
          @extend .app-h3;
        }
      }      
    }

    &__set {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 19px 17px;
      grid-template-areas: "gal1 gal2 gal2" "gal1 gal3 gal4";
      grid-auto-rows: 343px;

      @include media-down($lg){
        gap: 16px 16px;
      }

      @include media-down($md){
        gap: 13px 13px;
        grid-auto-rows: 200px;
      }

      @include media-down($sm){
        gap: 8px 8px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "gal1 gal2"
          "gal1 gal3"
          "gal4 gal4";

      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      &:nth-child(4n+1) {
        grid-area: gal1;
      }

      &:nth-child(4n+2) {
        grid-area: gal2;
      }

      &:nth-child(4n+3) {
        grid-area: gal3;
      }

      &:nth-child(4n+4) {
        grid-area: gal4;
      }

      &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        transition: 0.5s;
        z-index: 5;
        object-fit: cover;

        .cs-team__item:hover & {
          transform: scale(1.05);
        }
      }

      &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: rgba(20, 20, 51, 0.74);
        opacity: 0;
        padding: 10px;
        transition: $btn-transition;

        @include media-down($md){
          background: rgba(20, 20, 51, 0.4);
          opacity: 1;
        }

        .cs-team__item:hover & {
          opacity: 1;
        }
      }

      &-ico {
        margin-bottom: 20px;
        width: 65px;
        height: 65px;
        display: block;
        object-fit: contain;
        @include media-down($sm){
          width: 50px;
          height: 50px;
          margin-bottom: 10px;
        }
      }

      &-title {
        @extend .app-p;
        font-style: normal;
        font-weight: 700;
        color: #FFFFFF;

        p {
          @extend .app-p;
          font-style: normal;
          font-weight: 700;
          color: #FFFFFF;
        }
      }
    }
  }