 <section 
    class="cs-team" 
    id="{{section.id}}"
    style="background-color: {{section.background_color}};"
  >
      <div class="cs-team__container">
        <div class="cs-team__title">
          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": "cs-team__title-img",
            'uk_scrollspy': null,
            "image": section.title_img,
            "mp4": section.title_img_mp4
          } %}

          <div class="cs-team__title-text">{{section.title_text}}</div>
        </div>

        <div class="cs-team__set" uk-scrollspy="target: > a; cls: uk-animation-slide-bottom-medium; delay: 250">

          {% for item in section.team_items %}

            <a href="{{item.link.url}}" target="{{item.link.target}}" class="cs-team__item">
              <img class="cs-team__item-img" src="{{item.image.url}}" alt="{{item.image.alt}}">
              
              <div class="cs-team__item-inner">
                {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                  "class_wrapper": "cs-team__item-ico",
                  'uk_scrollspy': null,
                  "image": item.icon,
                  "mp4": item.icon_mp4
                } %}

                <h3 class="cs-team__item-title">{{item.title}}</h3>
              </div>
            </a>

          {% endfor %}
        </div>
      </div>
    </section>