.errors {
  padding: 60px 0;
  position: relative;

  &--before{
    @include pseudo();
    width: 100%;
    height: calc(100% - 290px);
    left: 0;
    top: 145px;
    background-color: #141433;
    z-index: 2;
  }

  &__container {
    @extend .app-container;
    justify-content: center;

  }

  &__item {
    background: #fff;
    box-shadow: 0px 10px 46px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    width: 100%;
    max-width: 360px;
    padding: 40px 16px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;

    @include media-down($sm){
      //max-width: 320px;
    }

    &-img {
      width: 100%;
      max-width: 130px;
      height: auto;
      margin-bottom: 40px;
      object-fit: contain;
      
      @include media-down($sm){
        margin-bottom: 30px;
      }
    }

    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      align-items: center;
      text-align: center;
      display: block;
      margin-bottom: 40px;

      @include media-down($sm){
        margin-bottom: 30px;
      }

      p {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
      }
    }

    &-info {
      margin-bottom: 60px;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.25rem;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.25px;

      @include media-down($sm){
        margin-bottom: 30px;
      }

      p {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: -0.25px;
      }
    }

    &-btn {
      background: #FF287E;
      border-radius: 7px;
      color: #fff;
      margin-bottom: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 50px;
      align-self: stretch;
      font-size:  0.875rem;

      @include media-down($sm){
        margin-bottom: 30px;
      }
    }

    &-bottom {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.063rem;
      letter-spacing: -0.233333px;
      color: #141433;
      margin-bottom: 20px;
      text-align: center;

      p {
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.063rem;
        letter-spacing: -0.233333px;
        color: #141433;
      }
    }


  }

  &__socials {
    display: flex;
    justify-content: center;

    a {
      display: flex;
      width: 28px;
      height: 28px;
      margin: 0 6px;
      border-radius: 50%;
      color: #fff;
      font-size: 0;
    }
  }

}
