<section 
  class="errors"
  id="{{section.id}}"
  style="background-color: {{section.background_color}};"
  >

  <div 
    class="errors--before"
    style="background-color: {{section.background_line_color}};"
  >
  </div>

  <div class="errors__container">
    <div 
      class="errors__item"
      style="background-color: {{section.background_item_color}};"
    >

      {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
        "class_wrapper": "errors__item-img",
        'uk_scrollspy': null,
        "image": section.image,
        "mp4": section.image_mp4
      } %}

      <div class="errors__item-title">{{section.title}}</div>

      <div class="errors__item-info">{{section.info}}</div>

      {% if (section.error_button) %}
        {% include 'button/button.twig' with 
          {
            'button': section.error_button,
            'button_class': "errors__item-btn",
            'uk_scrollspy': null,
            'color': section.error_button_color,
            'bckg_color': section.error_button_bckg_color,
          } 
        %}
      {% endif %}

      <div class="errors__item-bottom">{{section.social_text}}</div>

      <div class="errors__socials">
        {% for social in section.socials %}
          <a href="{{social.link.url}}" target="{{social.link.target}}">
            <img src="{{social.image.url}}" alt="{{social.image.alt}}" uk-svg> 
          </a>
        {% endfor %}
      </div>
    </div>

  </div>
</section>


{# <section class="errors">
  <div class="errors__container">

    <div class="errors__item">
      <img src="{{ fn('get_template_directory_uri') }}/static/icons/error1.svg" class="errors__item-img">
      <h2 class="errors__item-title">
        Przepraszamy, własnie trwają prace nad stroną.
        <span>Może być nieczynna w godzinach 21:00 – 8:00</span>
      </h2>

      <p class="errors__item-info">
        Link jest nieprawidłowy lub szukana strona została wyłączona.<br>Wróć na stronę główną i zacznij od początku ;)
      </p>

      <a href class="errors__item-btn">Strona Główna</a>

      <p class="errors__item-bottom">
        Zapraszamy na nasze profile w social media:
      </p>

      <div class="errors__socials">
        <a href="">facebook <img src="{{ fn('get_template_directory_uri') }}/static/icons/fb-circle.svg" uk-svg> </a>
        <a href="">twitter <img src="{{ fn('get_template_directory_uri') }}/static/icons/tw-circle.svg" uk-svg></a>
        <a href="">instagram <img src="{{ fn('get_template_directory_uri') }}/static/icons/insta-circle.svg" uk-svg></a>
        <a href="">youtube <img src="{{ fn('get_template_directory_uri') }}/static/icons/yt-circle.svg" uk-svg></a>
        <a href="">linkedin <img src="{{ fn('get_template_directory_uri') }}/static/icons/in-circle.svg" uk-svg></a>
      </div>
    </div>

  </div>
</section>

<section class="errors">
  <div class="errors__container">

    <div class="errors__item">
      <img src="{{ fn('get_template_directory_uri') }}/static/icons/error2.svg" class="errors__item-img">
      <h2 class="errors__item-title">
        Błąd 404<br>
        <span>Ktoś napsocił przy stronie, której szukasz...</span>
      </h2>

      <p class="errors__item-info">
        Link jest nieprawidłowy lub szukana strona została wyłączona.<br>Wróć na stronę główną i zacznij od początku ;)
      </p>

      <a href class="errors__item-btn">Strona Główna</a>

      <p class="errors__item-bottom">
        Zapraszamy na nasze profile w social media:
      </p>

      <div class="errors__socials">
        <a href="">facebook <img src="{{ fn('get_template_directory_uri') }}/static/icons/fb-circle.svg" uk-svg> </a>
        <a href="">twitter <img src="{{ fn('get_template_directory_uri') }}/static/icons/tw-circle.svg" uk-svg></a>
        <a href="">instagram <img src="{{ fn('get_template_directory_uri') }}/static/icons/insta-circle.svg" uk-svg></a>
        <a href="">youtube <img src="{{ fn('get_template_directory_uri') }}/static/icons/yt-circle.svg" uk-svg></a>
        <a href="">linkedin <img src="{{ fn('get_template_directory_uri') }}/static/icons/in-circle.svg" uk-svg></a>
      </div>
    </div>

  </div>
</section>

<section class="errors">
  <div class="errors__container">

    <div class="errors__item">
      <img src="{{ fn('get_template_directory_uri') }}/static/icons/error3.svg" class="errors__item-img">
      <h2 class="errors__item-title">
        Błąd 502<br>
        <span>Strona jest chwilowo przeciążona</span>
      </h2>

      <p class="errors__item-info">
        Link jest nieprawidłowy lub szukana strona została wyłączona.<br>Wróć na stronę główną i zacznij od początku ;)
      </p>

      <a href class="errors__item-btn">Strona Główna</a>

      <p class="errors__item-bottom">
        Zapraszamy na nasze profile w social media:
      </p>

      <div class="errors__socials">
        <a href="">facebook <img src="{{ fn('get_template_directory_uri') }}/static/icons/fb-circle.svg" uk-svg> </a>
        <a href="">twitter <img src="{{ fn('get_template_directory_uri') }}/static/icons/tw-circle.svg" uk-svg></a>
        <a href="">instagram <img src="{{ fn('get_template_directory_uri') }}/static/icons/insta-circle.svg" uk-svg></a>
        <a href="">youtube <img src="{{ fn('get_template_directory_uri') }}/static/icons/yt-circle.svg" uk-svg></a>
        <a href="">linkedin <img src="{{ fn('get_template_directory_uri') }}/static/icons/in-circle.svg" uk-svg></a>
      </div>
    </div>

  </div>
</section> #}
