  <section 
    class="cs-interview" 
    id="{{section.id}}"
    style="background-color: {{section.background_color}};"
  >
  <div class="cs-interview__container" uk-scrollspy="target: > * ; cls: uk-animation-slide-bottom-medium;">

    <div class="cs-interview-header">
      {# <div class="cs-interview-header__wrapper"> #}
        {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
          "class_wrapper": "cs-interview-header__ico",
          'uk_scrollspy': null,
          "image": section.cs_interview_ico,
          "mp4": section.cs_interview_ico_mp4
        } %}
        <div class="cs-interview__title">{{section.cs_interview_title}}</div>
      {# </div> #}
    </div>

    <div class="cs-interview__info">{{section.cs_interview_description}}</div>

    <iframe src="{{section.cs_interview_video}}" width="1050" height="590" frameborder="0" allowfullscreen uk-responsive uk-video="automute: true; autoplay: false"></iframe>

    {% if (section.cs_interview_button) %}
      {% include 'button/button.twig' with 
        {
          'button': section.cs_interview_button,
          'uk_scrollspy': "cls: uk-animation-slide-bottom-medium; delay: 500",
          'color': section.cs_interview_button_color,
          'bckg_color': section.cs_interview_button_bckg_color,
        } 
      %}
    {% endif %}

  </div>
</section>