.cs-interview {
  padding: 147px 0 98px;
  background: #F2F4F6;

  @include media-down($sm) {
    padding: 50px 0 50px;
  }

  &__container {
    @extend .app-container;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    &__ico {
      width: 67px;
      height: auto;

      @include media-down($sm) {
        width: 50px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__title {
    @extend .app-h2;
    margin-left: 17px;

    p {
      @extend .app-h2;
    }
  }

  &__info {
    @extend .app-p;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 0.5px;

    p {
      @extend .app-p;
      text-align: center;
      letter-spacing: 0.5px;
    }
  }

  iframe {
    margin-bottom: 60px;
    border-radius: 13px;
  }

  .btn {
    padding: 14px 27px;
  }
}
