<div class="footer__col">
  <h2 class="footer__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">{{section.standard_menu_title}}</h2>
  <nav class="footer__nav" uk-scrollspy="target: ul > li; cls: uk-animation-slide-bottom-medium; delay: 250">
    <ul>

      {% for item in section.standard_menu_links %}

        <li>
          <a  
            href="{{item.standard_menu_link.url}}" 
            target='{{item.standard_menu_link.target}}'
            style="color: {{item.standard_menu_link_color}};"
          >
            {{item.standard_menu_link.title}}
          </a>
        </li>

      {% endfor %}

    </ul>
  </nav>
</div>