{% set typeSection = section.type %}
<section id="{{ section.id }}" class="it-progress-service {{ section.type }}"
         style=' background-image: {% if (typeSection == 'dark') %}linear-gradient(0.48deg, #141433 -1.84%, rgba(20, 20, 51, 0) 141.34%),{% else %}linear-gradient(0.48deg, #ffffff00 -1.84%, rgba(247, 247, 247, 0) 141.34%),{% endif %} url("{{ section.it_progress_background_image.url }}");'>
    <div class="it-progress-service__container">
        <h2 class="it-progress-service__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium">
            {{ section.it_progress_title }}
        </h2>

        <div class="it-progress-service__nav-outer d-none">
            <ul class="it-progress-service__nav"
                uk-scrollspy="target: > li; cls: uk-animation-slide-left-medium; delay: 250"
                uk-switcher="connect: .it-progress-service__set">

                {% for nav in section.it_progress_elements %}
                    <li class="">
                        {{ nav.title }}
                    </li>
                {% endfor %}

            </ul>
        </div>

        <div class="it-progress-service__content">

            {% for item in section.it_progress_elements %}
                {% set type = item.type %}
                <div class="it-progress-service__content-title d-none" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 250">
                    {{ item.title }}
                </div>
                {% if (type == 'text') %}
                    <div class="it-progress-service__item text"
                         uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 250">
                        {{ item.text }}
                    </div>
                {% elseif (type == 'list') %}
                    <div class="it-progress-service__item list"
                         uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 350">
                        <ul class="it-progress-service__list">
                            {% for list in item.list %}
                                <li class="it-progress-service__list-item">
                                    <span class="it-progress-service__list-text">{{ list.list_text }}</span>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                {% elseif (type == 'links') %}
                    <div class="it-progress-service__item links"
                         uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 450">
                        <div class="links__content">
                            {% for link in item.links %}
                                <div class="links__item">
                                    <div class="links__name">{{ link.title_to_page }}</div>
                                    <a href="{{ link.link_to_page.url }}" style="color: {{link.link_to_page_color}};" class="links__read-more">
                                        {{ link.link_to_page.title }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>