.it-progress-service {
  padding: 102px 0 115px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  min-height: 920px;
  z-index: 1;

  @include media-down($md) {
    padding: 80px 0;
  }

  &::before {
    @include pseudo;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &::after {
    @include pseudo;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &.dark {
    &::before {
      background: linear-gradient(0.48deg, #141433 -1.84%, rgba(20, 20, 51, 0) 141.34%);
      mix-blend-mode: darken;
    }

    &::after {
      background: #141433;
      mix-blend-mode: color;
    }

    .it-progress-service {
      &__item {
        color: #fff;
      }
    }
  }

  &.light {
    &::before {
      background: linear-gradient(0.48deg, #dedede5c -1.84%, rgb(255, 255, 255) 141.34%);
      mix-blend-mode: color;
    }

    &::after {
      background: #ffffff;
      mix-blend-mode: color;
    }

    .it-progress-service {
      &__item, &__title, &__nav li, &__content-title {
        color: #000;
      }
    }
  }

  &__container {
    @extend .app-container;
    position: relative;
    z-index: 10;
    flex-direction: column;

  }

  &__title {
    @extend .app-h2;
    color: #fff;
    text-align: center;
    max-width: 690px;
    display: inline-block;
    margin: 0 auto 173px;
    letter-spacing: 0.3px;

    @include media-down($md) {
      margin: 0 auto 73px;
    }

  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    @include media-down($sm) {
      flex-wrap: wrap;
    }

    &-outer {
      margin-bottom: 70px;

      @include media-down($md) {
        overflow-x: scroll;
        max-width: 100%;
        margin-bottom: 0;

        &::-webkit-scrollbar {
          height: 3px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          // background-image: linear-gradient(to right, #f10070 , #FFCE00);
          background-color: rgba($color: #ffffff, $alpha: 0.2);
          border-radius: 50px;
        }

      }

      &.d-none {
        @include media-down($sm) {
          display: none;
        }
      }
    }

    li {
      @extend .app-p;
      display: flex;
      flex: 1;
      font-style: normal;
      font-weight: bold;
      color: #FFFFFF;
      padding-bottom: 33px;
      position: relative;
      transition: $btn-transition;
      min-width: 130px;
      letter-spacing: 0.25px;
      font-size: 24px;

      @include media-down($sm) {
        font-size: 20px;
      }

      &:first-child {
        width: 100%;
        max-width: 34%;
      }

      &:nth-child(2) {
        max-width: 42.7%;
        width: 100%;
      }

      &:last-child {
        max-width: 23.3%;
        width: 100%;
      }

      &:first-child, &:nth-child(2), &:last-child {
        @include media-down($md) {
          max-width: calc(100% / 3);
        }

        @include media-down($sm) {
          max-width: 100%;
        }
      }

      &.uk-active {
        color: #FF9A08;
      }

      &:before {
        @include pseudo;
        height: 20px;
        width: 2px;
        bottom: 0;
        left: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: #FFCE00;
      }

      &:nth-of-type(1):before {
        background-color: #F10070;
      }

      &:nth-of-type(2):before {
        background-color: #F10070;
      }

      &:nth-of-type(3):before {
        background-color: #F64D46;
      }

      &:nth-of-type(4):before {
        background-color: #F97232;
      }

      &:nth-of-type(5):before {
        background-color: #FB971E;
      }

      &:nth-of-type(6):before {
        background-color: #FFCE00;
      }


      &:after {
        @include pseudo;
        height: 4px;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0;
        background-color: #FFCE00;
      }

      &:nth-of-type(1):after {
        background-image: linear-gradient(to right, #f10070, #f10070);
      }

      &:nth-of-type(2):after {
        background-image: linear-gradient(to right, #f10070, #F64D46);
      }

      &:nth-of-type(3):after {
        background-image: linear-gradient(to right, #F64D46, #FFCE00);
      }

      &:nth-of-type(4):after {
        background-image: linear-gradient(to right, #F97232, #FB971E);
      }

      &:nth-of-type(5):after {
        background-image: linear-gradient(to right, #FB971E, #FFCE00);
      }

      &:nth-of-type(6):after {
        background-image: linear-gradient(to right, #FFCE00, #FFCE00);
      }

    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include media-down($sm) {
      flex-wrap: wrap;
    }

    &-title {
      display: none;

      @include media-down($sm) {
        display: flex;
        flex: 1;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        padding: 0 0 13px 9px;
        position: relative;
        transition: $btn-transition;
        min-width: 130px;
        letter-spacing: 0.25px;
        font-size: 24px;
        margin: 18px 0 20px;

        &:before {
          @include pseudo;
          height: 20px;
          width: 2px;
          bottom: 0;
          left: 0;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
          background-color: #F64D46;
        }

        &:after {
          @include pseudo;
          height: 4px;
          width: 100%;
          bottom: 0;
          left: 0;
          border-radius: 0;
          background-color: #FFCE00;
          background-image: linear-gradient(to right, #F64D46, #FFCE00);
        }
      }
    }
  }

  &__item {
    display: inline-flex;
    flex-flow: column;

    &:first-child {
      width: calc(100% / 3);
      flex: 0 0 calc(100% / 3);
    }

    &:nth-child(2) {
      max-width: 425px;
      width: 100%;
    }

    &:last-child {
      width: 289px;
      flex: 0 0 289px;
    }

    &:first-child, &:nth-child(2), &:last-child {
      @include media-down($md) {
        width: calc(100% / 3);
        flex: 0 0 calc(100% / 3);
        padding-right: 14px;
      }

      @include media-down($sm) {
        width: 100%;
        flex: 0 0 100%;
      }
    }

    &.text {
      p {
        margin-bottom: 18px;
        max-width: 320px;
        line-height: 26px;
        letter-spacing: 0.5px;
        padding-top: 7px;
      }
    }

    &.list {
      max-width: 540px;
      width: 100%;

      @include media-down($md) {
        padding-right: 10px;
      }

      @include media-down($sm) {
        padding-right: 0;
      }
    }

    .links {
      &__content {
        max-width: 295px;

        @include media-down($sm) {
          max-width: 100%;
        }
      }

      &__item {
        display: flex;
        flex-flow: column wrap;
        padding: 20px 0;
        border-bottom: 2px solid rgba(220, 214, 214, 0.29);

        &:first-child {
          padding: 7px 0 20px;
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      &__name {
        max-width: 212px;
        line-height: 24px;
        letter-spacing: 0.5px;

        p {
          line-height: 24px;
          letter-spacing: 0.5px;
        }

        @include media-down($sm) {
          max-width: 100%;
        }
      }

      &__read-more {
        color: #FF9A08;
        margin-top: 9px;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.5px;
        transition: $btn-transition;

        &:hover {
          filter: grayscale(80%);
        }
      }
    }
  }

  &__list {
    max-width: 410px;

    &-item {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 18px;

      &:first-child {
        margin-bottom: 39px;
      }

      &:last-child {
        margin-bottom: 0;

        @include media-down($sm) {
          margin-bottom: 40px;
        }
      }

      &:before {
        content: "";
        background: url("../static/icons/list-check.svg") center no-repeat;
        width: 40px;
        height: 40px;
        display: inline-flex;
        background-size: contain;
        margin-right: 9px;
      }
    }

    &-text {
      width: calc(100% - 50px);
      flex: 0 0 calc(100% - 50px);
      padding-top: 7px;
      line-height: 26px;
      letter-spacing: 0.5px;
    }
  }

  .uk-switcher {
    position: relative;

    > .mesuring {
      display: flex;
      visibility: hidden;
      z-index: -1;
      position: absolute;
      width: 100%;
    }

  }

  & + .cs-imgtxt2 {
    .cs-imgtxt2 {
      &__img {
        img {
          top: -64px;
        }
      }
    }
  }
}
