<section class="cs-content" id="{{section.id}}">
  <div class="cs-content__container">
    <h2 class="cs-content__title">Sklep – funkcjonalności</h2>

    <div class="cs-content__item">
      <h3 class=""></h3>
    </div>
  </div>
</section>