
     <section 
      class="cards"
      id="{{section.id}}"
      style="background-color: {{section.background_color}};"
      >
      <div class="cards__container">

        <div class="cards__set" uk-scrollspy="target: > cards__item, button; cls: uk-animation-slide-bottom-medium; delay: 250">

          {% set counter = 1 %}
          {% set counter2 = 0 %}
          {% for card in section.cards_items %}

            <div class="cards__item {{ counter ? "cards__item--active" : "" }} {{ counter2 ? "cards__item--w" : "" }}">
              <div class="cards__logo">

                  {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                      "class_wrapper": "cards__logo-img",
                      "image": card.card_logo,
                      "mp4": card.card_logo_mp4
                  } %}

                <div class="cards__sub-title">{{card.card_subtitle}}</div>
              </div>
              <div class="cards__cs-screen">
                <div class="cs-screen js-cs-screen">
                  <img class="cs-screen__computer" src="{{card.card_cs_computer.url}}" alt="{{card.card_cs_computer.alt}}">

                  <div class="cs-screen__screen js-cs-screen__screen">
                    <img src="{{card.card_cs_screen.url}}" alt="{{card.card_cs_screen.alt}}">
                  </div>
                </div>
              </div>
              <div class="cards__info">
                <article>
                  <hgroup>
                    <div class="cards__title">{{card.card_title}}</div>
                    {# <div class="cards__sub-title">{{card.card_subtitle}}</div> #}
                  </hgroup>
                  <div class="cards__info-text">
                    {{card.card_text}}
                  </div>
                </article>
              </div>
            </div>

             {% set counter = 0 %}

             {% if counter2 > 0 %}
              {% set counter2 = 0 %}
            {% else %}
              {% set counter2 = 1 %}
             {% endif %}
          {% endfor  %}
        </div>
        
        {% if (section.cards_button) %}
          {% include 'button/button.twig' with 
            {
              'button': section.cards_button,
              'uk_scrollspy': "cls: uk-animation-slide-bottom-medium; delay: 500",
              'color': section.cards_button_color,
              'bckg_color': section.cards_button_bckg_color,
            } 
          %}
        {% endif %}
      
      </div>
    </section>
