.cards {
  padding: 160px 0 146px;
  position: relative;
  z-index: 100;

  @include media-down($sm) {
    padding: 60px 0 46px;
  }

  &__container {
    @extend .app-container;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-down($sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__set {
    margin-bottom: 60px;
    margin-top: 215px;
    position: relative;
    width: 100%;
    height: 375px;
    box-sizing: content-box;
    @include media-down($sm) {
      height: auto;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__item {
    background: #F2F4F6;
    box-shadow: 0px -39px 35px -35px rgba(20, 20, 51, 0.2);
    border-radius: 33px;
    padding: 18px 26px 55px;
    display: flex;
    flex-wrap: wrap;
    height: 375px;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 100% 0%;
    border: 1px solid #F2F4F6;
    transition: 0.1s ease-in-out;

    @include media-down($sm) {
      flex-direction: column;
      position: relative;
      height: auto;
      align-items: center;
      display: inline-flex!important;
      box-shadow: none;
      width: calc(100% - 32px)!important;
      margin: 0 16px;

    }


    &--w {background-color: #fff;}

    &:not(:first-of-type){
      cursor: pointer;

      &:hover {
        top: -5px;
        @include media-down($sm) {
          top: 0;
        }
      }

    }

    &--becoming-nr-one {
      transition: 0.4s ease-in-out;

      &:hover{top:0!important;}
    }

    &:nth-of-type(1){
      transition: 0.4s ease-in-out!important

    }

    &:not(.cards__item--active){
      .cards__cs-screen * {
        @include media-up($sm){
          animation-play-state: paused;
          animation: none!important;
        }
      }
    }


    // animation spacing and timing  translateY(calc( -65px *  (#{$i} - 1) ))

    @for $i from 1 through 5 {
      //$scale = #{$i} *
    	&:nth-of-type(#{$i}) {

        @media (min-width: $sm + 1) {
          // for step 2 should give this -> transform: translateY(calc(-65px*0.975)) scale(0.95);
          transform: translateY( calc(-62px * (#{$i} - 1) * (100 - 2.5 * (#{$i} - 1))/100 ) )  scale(calc( (100 - (5 * (#{$i} - 1 )) ) / 100) );
          z-index: calc(20 - #{$i} );
        }
      }

      &:nth-of-type(#{$i}).cards__item--becoming-nr-one {
        @media (min-width: $sm + 1) {
          transform: translateY( -575px ) scale( 1 );
          transition: 0.4s ease-in-out;
        }
      }
    }


  }

  &__logo {
    margin-bottom: 24px;
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;

    img, svg, video {
      height: 100%;
      width: auto;
      margin-right: 30px;
      max-width: 60px;
    }

    @include media-down($sm) {
      height: auto;
      margin-bottom: 5px;
    }

    .cards__sub-title {
      opacity: 0.7;
      transition: $btn-transition;
    }

    &:hover {
      .cards__sub-title {
        opacity: 0.7;
      }
    }
  }

  &__cs-screen {
    width: 45%;
    padding-right: 50px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    @include media-down($md) {
      width: 250px;
      padding-right: 0px;
      padding-left: 0px;

    }
    @include media-down($sm) {
      align-self: auto;
      margin-bottom: 24px;
    }

    .cs-screen__screen{
      @include media-down($md) {
        width: 84%;
        height: 84%;
        left: 8%;
      }
    }
  }

  &__info {
    width: 55%;
    padding-left: 26px;
    padding-right: 75px;
    align-items: flex-start;
    display: flex;
    align-self: stretch;
    padding-bottom: 22px;
    @include media-down($md) {
      width: calc(100% - 260px);
      padding-right: 0;
    }

    @include media-down($sm) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    &-text {
      p {
        letter-spacing: 0;
      }
    }
  }

  &__title {
    @extend .app-h2;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #141433;
    margin-bottom: 14px;

    p {
      @extend .app-h2;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      color: #141433;
      letter-spacing: 0;
    }

    @include media-down($md) {
      margin-bottom: 0px;
    }
  }

  &__sub-title {
    @extend .app-h3;
    margin-bottom: 20px;
    color: #000000;
    p {
      @extend .app-h3;
      color: #000000;
      letter-spacing: 0;
    }
  }

  &__info {
    a {
      color: #FF9A08;
    }
  }

  @keyframes becomingnrone  {
    0% {transform: translateY(-400px) scale(1)!important;}
    100% {transform: translateY(0) scale(1)!important;}
  }

  

}