<section 
    class="about-team" 
    id="{{ section.id }}"
    style="background-color: {{section.background_color}};"
    >
    <div 
        class="about-team--before"
        style="background-color: {{section.background_top_color}};"
        ></div>
    <div class="about-team__container">
        <div class="about-team__header">
            {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": "about-team__header-ico",
            'uk_scrollspy': null,
            "image": section.team_ico,
            "mp4": section.team_ico_mp4
            } %}

            <h2 class="about-team__header-title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
                {{ section.team_title }}
            </h2>
        </div>
    </div>

    <div class="about-team__init"
         uk-scrollspy="target: div.about-team-member__inner, button; cls: uk-animation-slide-bottom-medium; delay: 250;">

        {% for member in section.team_members %}

            <div class="about-team-member">
                <div class="about-team-member__inner">
                    {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                        "class_wrapper": "about-team-member-ico",
                        'uk_scrollspy': null,
                        "image": member.team_member_ico,
                        "mp4": member.team_member_ico_mp4
                    } %}
                    <div class="about-team-member__img">
                        <img src="{{ member.team_member_img.url }}" alt="{{ member.team_member_img.alt }}">
                    </div>
                    <div class="about-team-member__header">
                        <div class="about-team-member__name">{{ member.team_member_name }}</div>
                        <a class="about-team-member__link" href="{{ member.team_member_social_link.url }}"
                           target="{{ member.team_member_social_link.target }}">
                            <img src="{{ member.team_member_social_ico.url }}"
                                 alt="{{ member.team_member_social_ico.alt }}">
                        </a>
                    </div>
                    <div class="about-team-member__position">{{ member.team_member_position }}</div>
                    <div class="about-team-member__description">{{ member.team_member_description }}</div>
                </div>
            </div>

        {% endfor %}

    </div>

</section>