.about-team {
  padding: 99px 0 103px;
  overflow: hidden;
  position: relative;

  @include media-down($sm){
    padding: 50px 0 40px;
  }

  &--before {
    content: '';
    width: 100%;
    height: 49%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #141433;
  }

  &__container{
    @extend .app-container;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    position: relative;
  }

  &__header-ico {
    position: absolute;
    top: 0;
    left: -81px;
    width: 70px;
    height: auto;
    img{
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  &__header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 4rem;
    color: #ffffff;
    margin-left: 13px;
  }

  &__init {
    @extend .app-col-xl-6;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 715px;
    width: 25%;
    padding-top: 100px;

    @include media-down(1600px){
      width: 35%;
    }

    @include media-down($lg){
      width: 45%;
    }

    @include media-down($md){
      width: 60%;
    }

    @include media-down($sm){
      width: 100%;
    }
  }

  .slick-list {
    padding: 0!important;
    overflow: visible!important;
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 1px rgba(20, 20, 51, 0.19);
    border-radius: 50%;
    display: block;
    font-size: 0;
    color: rgba(0,0,0,0);
    background-size: 9px 18px;
    background-repeat: no-repeat;
    position: absolute;
    // top: calc(50% - 25px);
    top: 39%;
    z-index: 20;
    transition: $btn-transition;



    &:hover {
      transform: scale(1.075);
      box-shadow: 0px 0px 20px 1px rgba(20, 20, 51, 0.11);
    }

    &:focus {
      outline: 0;
      background-color: #FF9A08;
    }


    &.slick-prev {
      background-image: url("../static/icons/slider-ar-l.svg");
      background-position: 44% center;
      left: -22px;
      @include media-down($sm){
        left: 10px;
      }
    }

    &.slick-next {
      background-image: url("../static/icons/slider-ar-r.svg");
      background-position: 54% center;
      right: -19px;
      @include media-down($sm){
        right: 10px;
      }
    }

  }

  .slick-slide {
    outline: none!important;
  }

  .slick-slide {
    padding: 0 55px;
    @include media-down($sm){
      padding: 0 16px;
    }
  }
}

.about-team-member {
  z-index: 10;
  position: relative;
  cursor: pointer;

  &-ico {
    position: absolute;
    top: 0;
    left: -17px;
    z-index: 11;
    width: 58%;
    height: auto;
    svg {
      width: 100%;
      height: 100%;
    }
  }


  &__inner {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    // overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-down($sm){
      width: 60%;
    }
    @include media-down(400px){
      width: 90%;
    }
    .slick-slide & {
      @include media-down($sm){
        transform: none!important;
        visibility: visible!important;
      }
    }

  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 58px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 47px;
      margin: 19px 7px 0;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    margin-right: 17px;
    @extend .team-wysiwyg;
    p {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  &__link {
    display: block;
    width: 19px;
    height: auto;
    z-index: 10;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__position {
    margin: 10px 0 20px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-feature-settings: 'liga' off;
    @extend .team-wysiwyg;
    p {
      font-size: 1.125rem;
      line-height: 144%;
    }
  }

  &__description {
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.4px;
    font-feature-settings: 'liga' off;
    @extend .team-wysiwyg;
    p {
      font-size: .875rem;
      line-height: 120%;
      letter-spacing: 0.4px;

      @include media-down($sm) {
        font-size: 1.2rem;
        text-align: center;
        line-height: 160%;
      }
    }
  }
}
