.contact-us {
  padding: 122px 0 78px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 4px solid #1b1b39;

  @include blend();

  &__container{
    @extend .app-container;
    position: relative;
    z-index: 5;
  }

  &__row {
    @extend .app-row;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__info {
    @extend .app-col-xl-6;
    @extend .app-col-lg-6;
    @extend .app-col-md-6;
    @extend .app-col-sm-12;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    @include media-up($lg) {
      align-items: flex-end;
      padding-right: 99px;
    }
    @include media-down($sm){
      margin-bottom: 45px;
    }
  }

  &__form {
    @extend .app-col-xl-6;
    @extend .app-col-lg-6;
    @extend .app-col-md-6;
    @extend .app-col-sm-12;
    display: flex;
    overflow: hidden;
    justify-content: center;
    @include media-down($sm){
      max-width: 450px
    }

    .wpcf7 {
      max-width: 410px;

      @include media-up($lg) {
        margin-left: 14px;
      }
    }
  }

  &__header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 105px;
    text-align: center;
    flex: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 20px;

    @include media-down($sm){
      min-height: unset;
    }
  }

  &__title {
    @extend .app-h2;
    color: #fff;
    margin-bottom: 12px;

    p {
      @extend .app-h2;
      color: #fff;
      letter-spacing: 0.25px;
    }
  }

  &__person {
    margin-bottom: 42px;
    width: 380px;
    max-width: 100%;

    @include media-down($sm){
      width: 300px;
    }
  }
}