
     <section 
      class="contact-us" 
      style='background-image: url({{section.contact_us_background.url}});' 
      id="{{section.id}}"
      >
      <div class="contact-us__container">
        <div class="contact-us__row">

          <div class="contact-us__info" uk-scrollspy="target: >*; cls: uk-animation-slide-left-medium; delay: 250;">
            <hgroup class="contact-us__header" >
              <div class="contact-us__title">{{section.contact_us_title}}</div>
            </hgroup>

            {% for person in section.contact_us_persons %}

              <div class="contact-us__person">
                {% include 'person/person.twig' with {
                  "person": person,
                } %}
              </div>

            {% endfor %}

          </div>

          {% include 'form/form.twig' %}

        </div>
    </div>
  </section>
