<div class="career__indicator indicator js-indicator" uk-scrollspy="cls: uk-animation-slide-right-medium;">
  <div class="indicator__body">
    {{title}}
  </div>
  
  <div class="indicator__arrow">
    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.761797 0.615099L9.46012 8L0.7618 15.3849" fill="white"/>
      <path d="M0.761797 0.615099L9.46012 8L0.7618 15.3849L0.761797 0.615099Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

  <div class="indicator__dot"></div>
</div>