.indicator {
  display: inline-flex;
  position: absolute;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
  cursor: pointer;
  transition: .5s;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);

  &--active {
    clip-path: polygon(100% 0, calc(100% - 100px) 0, calc(100% - 100px) 100%, 100% 100%);

    > * {
      transition: .25s!important;
      transition-delay: .5s!important;
      opacity: 0;
    }
  }

  &__body {
    background: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-radius: 15px 0px 0px 15px;
    padding: 13px 15px;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    max-width: 296px;
    align-items: center;
    text-align: center;
    color: #141433;
    min-height: 70px;
    transition: $btn-transition;

    .indicator:hover & {
      background: rgba(255, 255, 255, 1);
    }

    span {
      color: #FF9A08;
    }
  }

  &__arrow {
    width: 70px;
    background: rgba(255, 154, 8, 0.8);
    border-radius: 0px 15px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: $btn-transition;
    margin-right: 25px;

    .indicator:hover & {
      background: rgba(255, 154, 8, 1);

    }

    &::after{
      @include pseudo;
      height: 1px;
      width: 58px;
      background-color: rgba(255, 154, 8, 0.8);
      right: -58px;
      top: 50%;
      z-index: 5;
      .indicator:hover & {
        background: rgba(255, 154, 8, 1);
      }
    }
  }

  &__dot {
    width: 79px;
    height: 79px;
    background-color:  #fff;
    border-radius: 50%;
    border: 2px solid rgba(255,154,8,1);
    opacity: 0.8;
    transition: $btn-transition;
    //position: absolute;
    //top: calc(50% - 40px);
    //right: 5px;
    animation: pulse 0.7s infinite ease-out;
    transform-origin: 50% 50%;
    position: relative;


    .indicator--active & {
      transition-delay: .5s;
      animation: none;
      border: 2px solid rgba(255,154,8,0);
      background-color:  rgba(255,255,255,0);
      opacity: 1;
    }


    &::before{
      @include pseudo;
      @include absolute-center;
      top: calc(50% - 15px / 2);
      width: 15px;
      height: 15px;
      background: #FF9A08;
      border-radius: 50%;
      transition: .25s;

      .indicator--active & {
        transition-delay: .5s;
        transform: scale(3.33);
      }
    }

    &::after{
      @include pseudo;
      @include absolute-center;
      top: calc(50% - 18px / 2);
      width: 19px;
      height: 19px;
      background-image: url('../static/icons/indicator__dot.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: .25s;
      opacity: 0;


      .indicator--active & {
        transition-delay: .5s;
        opacity: 1;
      }

    }



    .indicator:hover & {
      opacity: 1;
    }
  }



  @keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
}
