<div class="cs-screen js-cs-screen">
  <img class="cs-screen__computer" src="http://onex.test/wp-content/themes/onex/static/images/computer.png" alt="">

  <div class="cs-screen__screen js-cs-screen__screen">
    <img src="http://onex.test/wp-content/themes/onex/static/images/mockup/cs-orlen.jpg" alt="">
  </div>
</div>