.cs-screen {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;


  &__screen {
    position: absolute;
    overflow: hidden;
    display: block;
    width: 72%;
    height: 84%;
    z-index: 2;
    top: 6%;
    left: 14%;
    mix-blend-mode: lighten;

    img {
      width: 100%;
      height: auto;
    }
  }
}