.main-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #FFFFFF;
  height: 100%;

  @include media-down($md) {
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    @include media-up($md) {
      height: 100%;
    }

    @include media-down($md) {
      flex-direction: column;
      font-size: 1.1rem;
      line-height: normal;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 0 8px;
    margin: 0 8px;
    transition: $btn-transition;
    display: inline-flex;
    align-items: center;

    @include media-up($md) {
      height: 100%;
    }

    @include media-down($md) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      padding: 0 4px;
      margin: 0 0 14px;
    }

    &:hover {
      color: #FF9A08 !important;

      @include media-up($md) {
        & > a {
          color: #FF9A08;
        }
        & > .nav-drop {
          opacity: 1 !important;
          z-index: 2;
          visibility: visible !important;
          display: flex;
          transition: opacity 0.3s;
          top: calc(100% - 1px) !important;

          &.open-menu {
            opacity: 1;
            z-index: 2;
            visibility: visible;
            display: flex;
            transition: opacity 0.3s;
            top: calc(100% - 1px);
          }

          &:not(.open-menu) {
            visibility: hidden;
            top: -2000px;
            opacity: 0;
          }
        }
      }

      .arrow-bottom {
        @include media-up($md) {
          background-color: #FF9A08;
        }
      }
    }

    & > .nav-drop {
      width: 100%;
      transition: all 2s linear;

      @include media-up($md) {
        position: absolute;
        left: 0;
        padding: 50px 20px 40px;
        top: -2000px;
        background: #1F1F1F;
        opacity: 0;
        transition: opacity 0.3s;
        visibility: hidden;
        box-shadow: 0px 3px 6px #00000010;
      }

      @include media-down($md) {
        display: none;
      }

      @include media-up($lg) {
        & > li {
          margin-right: 60px;
          max-width: 180px;

          & > a {
            min-height: 42px;
            margin-bottom: 12px;
          }
        }
      }

      &.open-menu {
        display: flex;
        transition: opacity 0.3s;

        @include media-down($md) {
          margin-top: 10px;
        }
      }

      li {
        width: 30%;
        margin-right: 20px;
        padding-left: 15px;
        padding-bottom: 0;

        @include media-down($md) {
          width: 100%;
          margin: 0;
          padding: 0;
          text-align: center;
          display: inline-flex;
          flex-wrap: wrap;
        }

        &:last-child {
          padding-right: 0;
          margin-right: 0;

          @include media-down($md) {
            margin-bottom: 0 !important;
          }
        }

        & > a {
          font-size: 18px;
          margin-bottom: 18px;
          font-weight: 700;
          color: #fff;
          max-width: 320px;
          line-height: 22px;

          @include media-down($md) {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            display: inline-block;
            width: 86%;
            margin-bottom: 14px;
            max-width: 86%;
          }
        }

        & > .nav-drop {
          opacity: 1;
          z-index: 2;
          visibility: visible;
          padding: 0 0 0 20px;
          margin: 18px 0 40px;
          list-style: disc;
          color: #fff;

          @include media-down($md) {
            margin: 0 0 10px;
            padding: 10px;
            background: #09081f;

            &:not(.open-menu) {
              display: none;
            }
          }

          .container {
            max-width: 100%;
            padding: 0;
            display: flex;
            flex-flow: column;

            @include media-down($md) {
              padding: 0;
            }
          }

          li {
            padding-left: 0;
            width: 100%;
            margin-bottom: 10px;

            &:hover {
              color: #FF9A08;

              a {
                color: #FF9A08;
              }
            }

            a {
              font-size: 14px;
              font-weight: 300;
              line-height: 18px;
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }
    }

    &-link {
      display: inline-flex;
      align-items: center;
    }

    .arrow-bottom {
      margin-left: 4px;
      margin-top: 2px;
      width: 11px;
      height: 7px;
      -webkit-mask-size: cover;
      -webkit-mask-repeat: no-repeat;
      background-color: #fff;
      -webkit-mask-image: url("../static/icons/arrow-down.svg");
      -webkit-mask-position: center;
      display: none;
      transition: all 300ms ease-out;

      &:not(.desktop) {
        display: block;
      }

      &.active {
        transform: rotate(180deg);
        transition: all 300ms ease-out;
        background-color: #FF9A08;
      }

      @include media-down($md) {
        margin-left: 8px;
        width: 20px;
        height: 24px;
        -webkit-mask-size: 14px;
        display: block;
      }
    }
  }
}
