<nav class=" {{ desctop ? 'header__main-nav' : '' }} main-nav">
    <ul class="main-nav__list">
        {% for item in menu.items %}
            <li class="main-nav__item">
                <a class="main-nav__item-link" href="{{ item.url }}">{{ item.post_title }}</a>
                {% if item.children %}<button class="arrow-bottom"></button> {% endif %}
                {% include "main-nav/navigation-submenu.twig" with {'items': item.children} %}
            </li>
        {% endfor %}
    </ul>
</nav>


