{% if item.children %}

    <ul class="nav-drop">
        <div class="container">
            {% for item in item.children %}
                <li class="nav-drop-item {% if item.children %}li-has-children{% endif %}">
                    <a href="{{ item.link }}" class="c-menu__link child-link {{ item.classes | join(' ') }}">{{ item.title }}</a>
                    {% if item.children %}<button class="arrow-bottom desktop"></button> {% endif %}
                    {% include "main-nav/navigation-submenu.twig" with {'items': item.children} %}
                </li>
            {% endfor %}
        </div>
    </ul>

{% endif %}