{% extends 'base.layout.twig' %}

{% block body %}
    {# {% include "page-title/page-title.twig" %} #}

    {# {% include "page-content/page-content.twig" %} #}

    {% for section in post.meta('homepage') %}
        {% include section.acf_fc_layout ~ '/' ~ section.acf_fc_layout ~ '.twig' %}
    {% endfor %}
{% endblock %}
