.cs-imgtxt2 {
  padding-bottom: 38px;
  position: relative;
  z-index: 10;

  &__container {
    @extend .app-container;
  }

  &__row {
    @extend .app-row;
    align-items: flex-start;
    justify-content: center;

    @include media-down($sm) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__img {
    max-width: 695px;
    height: auto;
    @extend .app-col-xl-7;
    @extend .app-col-lg-7;
    @extend .app-col-md-7;
    @extend .app-col-sm-12;
    position: relative;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    margin-bottom: -120px;
    padding-left: 0;

    @include media-down($sm) {
      padding-left: $sm-col-padding;
      margin-bottom: 0;
    }

    img {
      position: relative;
      display: block;
      left: 0;
      top: -110px;

      @include media-down($md) {
        top: -70px;
      }
      @include media-down($sm) {
        top: -40px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

      }
    }
  }

  &__info {
    @extend .app-col-xl-5;
    @extend .app-col-lg-5;
    @extend .app-col-md-5;
    @extend .app-col-sm-12;
    display: block;
    padding-top: 70px;
    padding-bottom: 45px;
    text-align: justify;
    padding-left: 0;

    @include media-up($lg) {
      padding-left: 37px;
      padding-right: 0;
    }

    @include media-down($sm) {
      padding-left: $sm-col-padding;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 40px;
    }

    &-title {
      @extend .app-h2;
      line-height: 1.625rem;
      margin-bottom: 30px;
      text-align: left;
      p {
        @extend .app-h3;
        line-height: 1.625rem;
        text-align: left;
      }
    }

    &-description {
      @extend .app-p;
      p {
        @extend .app-p;
      }
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-up($lg) {
      margin-top: -33px;
      margin-left: 102px;
    }

    .btn {
      padding: 16px 38px;
    }
  }

}
