<section
        id="{{ section.id }}"
        class="cs-imgtxt2"
        style="background-color: {{ section.background_color }};"
>

    <div class="cs-imgtxt2__container">
        <div class="cs-imgtxt2__row">

            {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                "class_wrapper": "cs-imgtxt2__img",
                'uk_scrollspy': "cls: uk-animation-slide-left-medium;",
                "image": section.image,
                "mp4": section.image_mp4
            } %}

            <div class="cs-imgtxt2__info" uk-scrollspy="cls: uk-animation-slide-right-medium;">
                <div class="cs-imgtxt2__info-title">{{ section.title }}</div>
                <div class="cs-imgtxt2__info-description">{{ section.description }}</div>
            </div>

            {% if (section.link) %}
                <div class="cs-imgtxt2__btn">
                    {% include 'button/button.twig' with {
                        'button': section.link,
                        'uk_scrollspy': "cls: uk-animation-slide-bottom-medium;",
                        'color': section.link_color,
                        'bckg_color': section.link_bckg_color,
                    } %}
                </div>
            {% endif %}
        </div>
    </div>
</section>