<section class="about-header" id="{{ section.id }}">
    <div class="about-header--before" style="background: linear-gradient(0.48deg, {{ section.background_color }} -1.02%, rgba(20, 20, 51, 0) 141.34%);"></div>
    <div class="about-header--after" style="background-image: url('{{ section.background_ico.url }}');" ></div>
    <div class="about-header__bkg"></div>
    <video autoplay loop muted playsinline class="about-header__video">
        <source src="{{ section.background_video }}" type="video/mp4">
    </video>
    <div class="about-header__container">
        <div class="about-header__info">
            <div class="about-header__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 250">
                {{ section.title }}
            </div>
            <div class="about-header__description" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 500">
                {{ section.description }}
            </div>
            {% if (section.button) %}
                {% include 'button/button.twig' with
                    {
                        'button': section.button,
                        'uk_scrollspy': "cls: uk-animation-slide-bottom-medium; delay: 750",
                        'color': section.button_color,
                        'bckg_color': section.button_bckg_color,
                    } %}
            {% endif %}
        </div>
    </div>
</section>