.about-header {
    padding: 100px 0 130px;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #141433;
    min-height: 950px;

    &--before {
      @include pseudo;
      background: linear-gradient(0.48deg, #141433 -1.02%, rgba(20, 20, 51, 0) 141.34%);
      mix-blend-mode: darken;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 6;
    }
  
    &--after {
      @include pseudo;
      width: 854px;
      height: 852px;
      background-image: url('../static/icons/about-header-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.1;
      z-index: 10;
      right: -97px;
      bottom: 44px;
    }

    &__video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 5;
    }

    &__bkg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #141433;
      mix-blend-mode: color;
      z-index: 6;
      opacity: 0.9;
    }
  
  
    @include media-down($md){
      padding: 100px 0 100px;
      height: auto;
      min-height: 760px;
    }
  
    @include media-down($sm) {
      min-height: 660px;
      padding: 50px 0 50px;
    }
  
    &__container{
      @extend .app-container;
      padding: 0 12px;
      display: flex;
      flex: 1;
      z-index: 6;
      position: relative;
    }
  
    &__row{
      @extend .app-row;
      justify-content: center;
      align-items: center;
      z-index: 22;
    }
  
    &__counter {
      display: inline-block;
      margin-bottom: 20px;
  
      img, svg {
        margin-right: 14px;
        position: relative;
        top: -6px;
      }
    }
  
    &__title {
      @extend .app-h1;
      color: #FF9A08;
      margin-bottom: 28px;
      max-width: 980px;
      
      p {
        @extend .app-h1;
        color: #FF9A08;
      }
    }

    &__description {
      margin-bottom: 110px;
      line-height: 179%;
      max-width: 1058px;
      letter-spacing: 0;
    }
  
    &__subtitle {
      @extend .app-h3;
      color: #FFFFFF;
      margin-bottom: 30px;
      max-width: 980px;
    }
  
    &__info {
      @extend .app-col-xl-12;
      @extend .app-col-lg-12;
      @extend .app-col-md-12;
      @extend .app-col-sm-12;
      color: #FFFFFF;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      @include media-up($lg) {
        padding: 71px 0 0;
      }
      @include media-down($md) {
        padding: 0 8px;
      }
      @include media-down($sm) {
          order: 2
      }
    }
  
    &__btn {
      @include media-down($sm) {
         margin-top: 30px;
      }

      &.btn--primary {
        padding: 18px 53px;
      }
    }
  }