{% extends 'base.layout.twig' %}

{% block body %}
    {% include "/blog/hero/blog-hero.twig" %}

    <div class="container">
        <div class="row">
            <h1 class="blog__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
                {{ post.title }}
            </h1>
        </div>
    </div>

    <section class="post-list">
        <div class="post-list__container">
            {% for post in posts %}
                {% include "/blog/loop-element/loop-element.twig" %}
            {% endfor %}
            {% if posts.pagination.pages %}
                {% include "/blog/pagination/pagination.twig" %}
            {% endif %}
        </div>
    </section>

    {% include "/blog/posts-slider/posts-slider.twig" %}
    {% include "/blog/contact-box/contact-us.twig" %}

{% endblock %}