{% if post.meta('contact_us_contact_form_7') %}
    <section
            class="contact-us"
            style='background-image: url({{ post.meta('contact_us_background').url }});'
            id="{{ post.meta('id') }}"
    >
        <div class="contact-us__container">
            <div class="contact-us__row">

                <div class="contact-us__info"
                     uk-scrollspy="target: >*; cls: uk-animation-slide-left-medium; delay: 250;">
                    <hgroup class="contact-us__header">
                        <div class="contact-us__title">{{ post.meta('contact_us_title') }}</div>
                    </hgroup>

                    {% for person in post.meta('contact_us_persons') %}

                        <div class="contact-us__person">
                            {% include 'person/person.twig' with {
                                "person": person,
                            } %}
                        </div>

                    {% endfor %}

                </div>

                <div class="contact-us__form form"
                     uk-scrollspy="target: >*; cls: uk-animation-slide-right-medium; delay: 250;">

                    {% filter shortcodes %}
                        {{ post.meta('contact_us_contact_form_7') }}
                    {% endfilter %}

                </div>

            </div>
        </div>
    </section>
{% endif %}