.word-shifter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 100%;
  position: relative;

  &__item {
    width: 100%;
    transition: 1s ease-in-out;
    display: inline-flex;
    overflow: hidden;

    animation-name: slideout;
    animation-duration: 8s ;
    animation-fill-mode: forwards;
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;

    transition: 0.75s;
    transition-property: color;
    //transition-delay: 5s;

    color: #ff9b09;

    &--active{
      animation-name: slidein;
      animation-duration: 8s;
      z-index: 10;
      position: relative;
      //color: #fff;
      //transition-delay: 6s;


      & ~ .word-shifter__item {
        display: none;
      }
    }

    &:last-of-type {
      display: block!important;

    }

    &--init:last-child{
      display: none!important;
    }
  }

  @keyframes slidein {
    0%    {clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
    50%   {clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);color: #ff9b09;}
    55%   {color: #fff;}
    100%  {color: #fff;}
  }

  @keyframes slideout {
    0%    {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); color: #fff;}
    50%   {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); color: #fff;}
    55%   {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); color: #ff9b09;}
    100%  {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); color: #ff9b09;}
  }
}