<section 
  class="cs-tech"
  id="{{section.id}}"
  style="background-color: {{section.background_color}};"
  >
  <div class="cs-tech__container">
    <div class="cs-tech__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">{{section.title}}</div>
    <div class="cs-tech__set">
      <div class="cs-tech__set-inner" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">

        {% for item in section.set_items %}
          {% set animation = "cls: uk-animation-slide-bottom-medium; delay:" ~ item.delay %}

          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": "cs-tech__set-inner-item",
            "uk_scrollspy": animation,
            "image": item.image,
            "mp4": item.image_mp4
          } %}
        {% endfor %}

      </div>
    </div>
  </div>
</section>
