.cs-tech {
    padding: 60px 0 94px;
    position: relative;
    background-color: #141433;
    z-index: 10;

    &::before {
      //@include pseudo;
      left: 0;
      top: 0;
      width: 100%;
      height: 247px;
      max-height: 100%;
      background-color: #141433;
      z-index: 1;
    }


    &__container{
      @extend .app-container;
      flex-direction: column;
      position: relative;
      z-index: 2;
      align-items: center;
    }

    &__title {
      @extend .app-h3;
      color: #fff;
      position: relative;
      margin-bottom: 60px;

      p {
        @extend .app-h3;
        color: #fff;
        letter-spacing: 0;
      }
    }

    &__set {
      position: relative;
      align-self: stretch;
      &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 52px 44px 39px;
        background-color: #fff;
        border-radius: 33px;
        box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.25);
        align-self: stretch;
        width: 100%;
        position: absolute;
        top: 0;

        div[uk-scrollspy] {
          @include media-down($lg){
            animation: none;
            visibility: visible!important;
          }
        }

        img {
          margin: 0 auto;
          width: auto!important;
          height: auto;
        }

      }
    }

    + section {
      padding-top: 190px;
    }
    .slick-track {
      display: flex;
      align-items: center;
    }
    .slick-slide {
      padding: 0 20px;
    }



  }
