.share {
  a {
    margin-right: 9px;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    width: 22px;
    height: auto;

    path {
      fill: #FF9A08 !important;
    }
  }

  &--copy {
    &__icon {
      background: url(../static/icons/alert-circle-que.svg) no-repeat;
      background-size: cover;
      width: 25px;
      height: 25px;
      margin-right: 9px;
    }
  }

  .copy-info {
    max-width: 193px;
    width: 100%;
    position: absolute;
    right: -180px;
    opacity: 0;
    top: calc(50% - 32.5px);
    visibility: hidden;
    background: rgba(255, 154, 8, 0.15);
    border-radius: 7px;
    color: #FF9A08;
    font-size: 0.87rem;
    line-height: 1.4;
    padding: 20px;
    transition: 300ms ease-in;
    display: flex;
    align-items: center;

    @media (min-width: 1600px) {
      max-width: 194px;
    }

    @media (max-width: 1440px) {
      background: #ff9a08b8;
      color: #fff;
      padding: 10px 20px;
      top: 2%;
      right: 0;
    }

    &.active {
      right: -195px;
      opacity: 1;
      transition: 300ms ease-in;
      visibility: visible;

      @media (max-width: 1440px) {
        top: 2%;
        right: 9px;
      }
    }

    img {
      width: 24px;
      height: auto;
      margin-right: 10px;
    }
  }
}

body.single-post {
  .copy-info {
    top: 96%;
    right: -170px;

    @media (max-width: 1440px) {
      top: 100.5%;
      right: 0;
    }

    &.active {
      top: 96%;
      right: -180px;

      @media (max-width: 1440px) {
        top: 100.5%;
        right: 9px;
        transition: 300ms ease-in;
      }
    }
  }
}