<div class="share">
    <a class="share--copy" href="#!" data-url="{{ post.get_permalink(post.id) }}">
        <img src="{{ fn('get_template_directory_uri') }}/static/icons/copy.svg" uk-svg>
        <div class="copy-info"><span class="share--copy__icon"></span>{{ __('Copied to clipboard', 'onex') }}</div>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.get_permalink(post.id) }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Facebook">
        <img src="{{ fn('get_template_directory_uri') }}/static/icons/fb-circle.svg" uk-svg>
    </a>
    <a href="https://twitter.com/share?url={{ post.get_permalink(post.id) }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Twitter">
        <img src="{{ fn('get_template_directory_uri') }}/static/icons/tw-circle.svg" uk-svg>
    </a>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ post.get_permalink(post.id)|url_encode }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Linkedin">
        <img src="{{ fn('get_template_directory_uri') }}/static/icons/in-circle.svg" uk-svg>
    </a>
</div>


