<header class="header"  uk-scrollspy="cls: uk-animation-fade" id="{{section.id}}">
  <div class="header__container">

    <a href="{{options.header_logo_link.url}}" target="{{options.header_logo_link.target}}" class="header__logo">
      <img src="{{options.header_logo_image.url}}" alt="{{options.header_logo_image.alt}}">
      {{options.header_logo_link.title}}
    </a>

    {% include 'main-nav/main-nav.twig' with { desctop: true } %}

    {% include 'lng-nav/lng-nav.twig' with { desctop: true } %}

    <button class="header__hamburger uk-icon" type="button" uk-toggle="target: #offcanvas-flip" uk-icon="icon: menu; ratio: 1.3">
      <svg width="26" height="26" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect x="2" y="4" width="16" height="1"></rect><rect x="2" y="9" width="16" height="1"></rect><rect x="2" y="14" width="16" height="1"></rect></svg>
    </button>

  </div>

  <div class="offcanvas-menu" id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
      <div class="offcanvas-menu__bar uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-icon="icon: close; ratio: 1.3">
          <svg width="26" height="26" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="#000" stroke-width="1.06" d="M16,16 L4,4"></path><path fill="none" stroke="#000" stroke-width="1.06" d="M16,4 L4,16"></path></svg>
        </button>

          {% include 'main-nav/main-nav.twig' with { desctop: false } %}

          {% include 'lng-nav/lng-nav.twig' with { desctop: false } %}

      </div>
  </div>
</header>