.header {
  background: transparent;
  transition: all 0.2s ease;
  position: fixed;
  width: 100%!important;
  top: 0;
  z-index: 200;
  max-height: 92px;
  height: 100%;

  @include media-down($sm) {
    padding: 8px 0px!important;
  }

  &--sticky {
    background-color: #111111;
    max-height: 52px;

  }

  &__container{
    @extend .app-container;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
    height: 100%;

    @include media-down($lg) {
      padding-right: 13px;
    }
  }

  &__logo {
    font-size: 0;
    margin-right: auto;
    img {
      width: 256px;
      height: auto;
      transition: all 0.3s ease;

      @include media-down($sm) {
        width: 180px!important;
      }

      .header--sticky & {
        width: 180px;
      }
    }
  }

  &__main-nav {
    @include media-down($md) {
      display: none!important;
    }
  }

  &__lng-nav {
    margin-left: 5px;

    @include media-down($md) {
      display: none!important;
    }
  }

  &__hamburger {
    display: none;
    @include media-down($md) {
      display: inline-flex;
      font-size: 1.3rem;
      color: #fff;
    }
  }
}

.offcanvas-menu {
  z-index: 300;

  &::before {
    background: rgba(0,0,0,0.3);
  }
  &__bar {
    background-color: #141433;
    border-left: 1px solid rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    padding: 60px 10px 20px;
    overflow-y: scroll;
  }
}
