{% set type = section.type %}
<section
  id="{{section.id}}"
  class="cs-index {% if( type == 'short') %}cs-index__short{% endif %}"
  style="background-color: {{section.background_color}};"
  >
  <div class="cs-index__container">
    <div
      class="cs-index__inner"
      style="background-color: {{section.background_inner_color}};"
    >
        {% if( type == 'advance') %}
          <div class="cs-index__header" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">

            {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
              "class_wrapper": "cs-index__header-logo",
              'uk_scrollspy': null,
              "image": section.logotype,
              "mp4": section.logotype_mp4
            } %}

            <div class="cs-index__header-info">
              <div class="cs-index__header-info-industry">{{section.title_industry}}</div>
              <div>{{ section.industry }}</div>
            </div>
          </div>

          <div class="cs-index__info" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
            <div class="cs-index__info-title">{{ section.title }}</div>
            <div class="cs-index__info-title-description">{{ section.description }}</div>
          </div>
        {% endif %}

      <div class="cs-index__set">
        <div
          class="cs-index__set-row"
          uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 250">
          {% for service in section.list_services %}
            <div class="cs-index__set-col">
                <div class="cs-index__item">

                    {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                      "class_wrapper": "cs-index__item-img",
                      'uk_scrollspy': null,
                      "image": service.icon,
                      "mp4": service.icon_mp4
                    } %}

                    <div class="cs-index__item-info">
                        <div class="cs-index__item-title">{{ service.title }}</div>
                        <div class="cs-index__item-description">{{ service.text }}</div>
                    </div>

                    <a
                      href="{{ service.link.url }}"
                      target="{{service.link.target}}"
                      class="cs-index__item-btn"
                      style="background-color: {{service.link_color}};"
                    ></a>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
