.cs-index {
  position: relative;
  z-index: 5;

  &__container {
    @extend .app-container;
    max-width: 1295px;
  }

  &__inner {
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    padding: 50px 105px 74px;
    margin-top: -125px;
    margin-bottom: -124px;
    z-index: 20;

    @include media-down($lg) {
      padding: 50px 50px 74px;
    }
    @include media-down($sm) {
      padding: 26px 16px 26px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(220, 214, 214, 0.29);

    @include media-down($sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-logo {
      position: relative;
      bottom: -3px;
      width: 197px;
      height: auto;
      left: 4px;

      @include media-down($sm) {
        margin-bottom: 10px;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      @extend .app-h3;
      color: #141433;
      font-weight: 400;

      p {
        @extend .app-h3;
        font-weight: 400;
      }

      &-industry {
        margin-right: 20px;
        font-weight: 700;

        p {
          font-weight: 700;
          letter-spacing: 0;
        }
      }
    }

  }

  &__info {
    padding: 51px 0 40px 5px;

    &-title {
      @extend .app-h3;
      margin-bottom: 34px;

      p {
        @extend .app-h3;
        letter-spacing: 0;
      }
    }

    &-title-description {

      p {
        letter-spacing: 0;
      }
    }
  }

  &__set {
    padding: 28px 0 0 0;

    &-row {
      @extend .app-row;

    }

    &-col {
      @extend .app-col-xl-6;
      @extend .app-col-lg-6;
      @extend .app-col-md-12;
      @extend .app-col-sm-12;


      &:nth-of-type(odd) {
        padding-right: 60px;

        @include media-down($md) {
          padding-right: 13px;
        }
        @include media-down($sm) {
          padding-right: 8px;
        }

      }

      &:nth-of-type(even) {
        padding-left: 60px;
        border-left: 2px solid rgba(220, 214, 214, 0.29);

        @include media-down($md) {
          padding-left: 13px;
          border-left: 0;
        }
        @include media-down($sm) {
          padding-left: 8px;
        }

        .cs-index__item-info {
          @include media-up($lg) {
            padding-left: 38px;
          }
        }
      }

      &:last-of-type {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), 0 calc(100% - 10px));
      }
    }
  }

  &__item {
    display: flex;
    flex: 1;
    align-items: flex-start;
    padding-bottom: 13px;
    border-bottom: 2px solid rgba(220, 214, 214, 0.29);
    margin-bottom: 6px;
    padding-top: 16px;

    @include media-down($md) {
      align-items: center;
    }

    @media (max-width: 340px) {
      flex-flow: row wrap;
    }

    &-img {
      width: 70px;
      min-width: 70px;
      height: auto;
      margin-top: 5px;

      @include media-down($md) {
        margin-top: 5px;
      }

      @include media-down($sm) {
        margin-bottom: 14px;
        height: 70px;
      }

      img, svg, video {
        width: 100%;
        height: 100%;

        @media (max-width: 325px) {
          height: 100%;
          width: auto;
        }
      }
    }

    &-info {
      flex: 1;
      padding-left: 41px;
      margin-bottom: 15px;

      @include media-down($md) {
        margin-bottom: 0;
      }

      @include media-down($sm) {
        padding-left: 22px;
      }

      @media (max-width: 340px) {
        padding-left: 0;
        flex-basis: 80%;
      }

      p {
        @extend .app-small-text;
      }
    }

    &-title {
      @extend .app-h3;
      line-height: normal;
      margin-bottom: 12px;

      p {
        @extend .app-h3;
        line-height: normal;
        letter-spacing: 0;
      }
    }

    &-description {
      line-height: 136%;

      p {
        line-height: 136%;
        letter-spacing: 0;
      }
    }

    &-btn {
      display: block;
      width: 38px;
      height: 48px;
      background-color: #FF9A08;
      border-radius: 11px;
      background-image: url('../static/icons/cs-index__item-btn.svg');
      background-repeat: no-repeat;
      background-size: 12px auto;
      background-position: center;
      margin-left: 12px;
      margin-top: 22px;
      transition: all .3s;

      &:hover {
        filter: brightness(85%);
        background-color: #E86805;
      }

      @include media-down($md) {
        margin-top: 0;
      }

      @include media-down($sm) {
        width: 30px;
        margin-left: 10px;
      }

    }

  }

  &__short {
    .cs-index {

      &__inner {
        padding: 55px 94px 35px;
        margin-bottom: -44px;
        margin-top: -134px;

        @include media-down($lg) {
          padding: 50px 50px 39px;
        }
        @include media-down($sm) {
          padding: 26px 16px 26px;
        }
      }

      &__item {
        padding-top: 6px;
        margin-bottom: 6px;
        padding-bottom: 7px;

        @include media-down($lg) {
          padding: 14px 0 15px;
          margin-bottom: 5px;
        }

        @include media-down($sm) {
          padding: 14px 0 20px;
          margin-bottom: 0;
        }
      }

      &__set {
        padding: 0;

        &-col {

          &:nth-child(1), &:nth-child(2) {
            .cs-index__item {
              padding-top: 0;
            }
          }

          &:nth-child(5), &:nth-child(6) {
            .cs-index__item {
              padding-top: 9px;

              @include media-down($sm) {
                margin-top: 14px;
              }
            }
          }

          &:nth-child(even) {
            padding-left: 54px;

            @include media-down($lg) {
              padding: 0;
            }

            .cs-index__item {
              &-info {
                max-width: 355px;

                @include media-down($lg) {
                  max-width: 100%;
                }
              }
            }
          }

          &:nth-of-type(odd) {
            padding-right: 53px;

            @include media-down($lg) {
              padding: 0;
            }

            @include media-down($sm) {
              padding: 0 0 20px;
            }

            .cs-index__item {
              &-info {
                padding-left: 40px;
                max-width: 361px;

                @include media-down($lg) {
                  max-width: 100%;
                }

                @include media-down($sm) {
                  padding-left: 13px;
                }
              }

              &-title {
                p {
                  letter-spacing: 0px;
                }
              }
            }
          }
        }
      }

      &__item-info {
        margin-bottom: 0;
        padding-left: 32px;

        @include media-down($lg) {
          padding-left: 53px;
        }

        @include media-down($sm) {
          padding-left: 13px;
        }
      }

      &__item-title {
        margin-bottom: 12px;
        min-height: 41px;

        @include media-down($lg) {
          min-height: auto;
        }

        p {
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0;
        }
      }

      &__item-description {
        max-width: 315px;
        min-height: 49px;

        @include media-down($lg) {
          min-height: auto;
          max-width: 100%;
        }

        p {
          letter-spacing: 0;
          line-height: 1.3;
        }
      }

      &__item-img {
        width: 79px;
        margin-top: 5px;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @include media-down($sm) {
          margin-bottom: 14px;
        }

        @media (max-width: 325px) {
          margin-left: 14px;
        }

        img, svg {
          display: block;
          height: auto;
          width: 100%;
          max-width: initial;

          @include media-down($sm) {
            height: auto;
            width: 100%;
          }

          @media (max-width: 325px) {
            height: 100%;
            width: auto;
          }
        }
      }

      &__item-btn {
        margin-left: 0;
        background-size: 12px auto;

        @include media-down($sm) {
          margin-left: 7px;
        }
      }
    }

  }

}

