$sm-col-padding: 8px;
$md-col-padding: 13px;
$lg-col-padding: 16px;

$container-max-width: 1280px;

$btn-transition: .15s;

@mixin container() {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1140PX;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  flex-wrap: wrap;

  @include respond-to($screen-md) {

  }
}

@mixin absolute-center() {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin h-color($color) {
  &:hover {
    transition: 0.3s !important;
    transition-property: color !important;
    will-change: color !important;
    color: $color !important;
  }
}

@mixin h-bg-color($bgcolor, $color) {
  &:hover {
    transition: 0.3s !important;
    transition-property: background-color !important;
    will-change: background-color !important;
    background-color: $bgcolor !important;
    color: $color !important;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin blend() {
  &::before {
    @include pseudo();
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0.48deg, #141433 -1.84%, rgba(20, 20, 51, 0) 141.34%);
    mix-blend-mode: darken;
    z-index: 2
  }

  &::after {
    @include pseudo();
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #141433;
    mix-blend-mode: color;
    z-index: 1
  }
}

@mixin aria-hidden() {
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
}
