{% extends 'base.layout.twig' %}
{% block body %}
<section class="errors">
  <div 
    class="errors--before"
    style="background-color: {{section.background_line_color}};"
  >
  </div>
  
  <div class="errors__container">

    <div class="errors__item">
      <img src="{{ fn('get_template_directory_uri') }}/static/icons/error2.svg" class="errors__item-img">
      <h2 class="errors__item-title">
        Błąd 404<br>
        <span>Ktoś napsocił przy stronie, której szukasz...</span>
      </h2>

      <p class="errors__item-info">
        Link jest nieprawidłowy lub szukana strona została wyłączona.<br>Wróć na stronę główną i zacznij od początku ;)
      </p>

      <a href class="errors__item-btn">Strona Główna</a>

      <p class="errors__item-bottom">
        Zapraszamy na nasze profile w social media:
      </p>

      <div class="errors__socials">
        <a href="">facebook <img src="{{ fn('get_template_directory_uri') }}/static/icons/fb-circle.svg" uk-svg> </a>
        <a href="">twitter <img src="{{ fn('get_template_directory_uri') }}/static/icons/tw-circle.svg" uk-svg></a>
        <a href="">instagram <img src="{{ fn('get_template_directory_uri') }}/static/icons/insta-circle.svg" uk-svg></a>
        <a href="">youtube <img src="{{ fn('get_template_directory_uri') }}/static/icons/yt-circle.svg" uk-svg></a>
        <a href="">linkedin <img src="{{ fn('get_template_directory_uri') }}/static/icons/in-circle.svg" uk-svg></a>
      </div>
    </div>

  </div>
</section>
{% endblock %}
