<section class="button-list" id="{{ section.id }}">
    <div class="button-list__container">
        <div class="button-list__container-row">
            {% for btn in section.buttons %}
                <a href="{{ btn.link.url }}" class="button-list__btn" target="{{ btn.link.target }}"
                   uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 750">
                    {% if (btn.type == 'icon') %}
                        <img class src="{{ btn.icon.url }}" alt="{{ btn.icon.alt }}" uk-svg>
                    {% else %}
                        <video autoplay muted loop>
                            <source src="{{ btn.movie.url }}" type="video/mp4">
                        </video>
                    {% endif %}
                    {{ btn.link.title }}
                </a>
            {% endfor %}
        </div>
    </div>
</section>