.button-list {
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  margin-top: -57px;
  z-index: 10;

  @media screen and (max-width: $md) {
    margin-top: -49px;
    padding-bottom: 10px;
  }

  &__container {
    @extend .app-container;

    &-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;

      @include media-down($sm) {
        justify-content: center;
      }
    }
  }


  &__btn {
    background: #fff;
    color: #141433;
    border-radius: 22px;
    min-height: 95px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: bold;
    padding: 17px 44px;
    margin-bottom: 20px;
    margin-right: 30px;

    @media screen and (max-width: $md) {
      font-size: 18px;
      min-height: 85px;
    }

    svg, img {
      width: 48px;
      height: 32px;
      margin-right: 9px;
    }

    [hidden] {
      display: block !important;
    }

    svg {
      display: none;
    }

    video {
      width: 48px;
      height: 32px;
      object-fit: cover;
      margin-right: 9px;
    }

    &:hover {
      background: #E86805;
      color: #fff;

      [hidden] {
        display: none !important;
      }

      svg {
        display: inline-flex;
        fill: transparent;

        path {
          stroke: #fff;
        }

        path#Stroke\ 1 {
          fill: #fff;
        }
      }
    }
  }

}