$light-gray: #F2F4F6;

.short-box {
  font-family: 'Lato', sans-serif;
  padding: 100px 0;

  @media screen and (max-width: $md) {
    padding: 64px 0;
  }

  &.reverse {
    .short-box__row {
      flex-flow: row-reverse wrap;
    }

    .text-box__content {
      padding: 0 0 0 1.5rem;

      @media screen and (max-width: $md) {
        padding: 0 16px;
      }
    }
  }

  &__container {
    @extend .app-container;
  }

  &__row {
    @extend .app-row;
    align-items: center;
  }

  .col-6 {
    width: 50%;
    flex: 0 0 50%;

    @media (max-width: $sm) {
      width: 100%;
      flex: 0 0 100%;
    }
  }

  &__img {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $md) {
      height: auto;
      margin-bottom: 30px;
    }
  }

  .text-box {

    &__content {
      padding: 0 0 0 5.4rem;

      @media screen and (max-width: $md) {
        padding: 0 8px;
      }
    }

    &__center {
      max-width: 590px;
    }

    &__title {
      font-size: 36px;
      line-height: 64px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;

      p {
        font-size: 36px;
        line-height: 64px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
      }

      @media screen and (max-width: $md) {
        font-size: 28px;
        line-height: 1.3;
      }
    }

    &__industry{
      display: flex;
      align-items: center;
      p {
        font-size: 24px;
      }

      &--strong {
        margin-right: 7px;
        font-weight: 700;

        p {
          font-weight: 700;
        }
      }
    }

    &__text {
      margin-bottom: 50px;

      p {
        line-height: 2.4;

        @include media-down($md) {
          line-height: 1.6;
        }
      }
    }
  }
}
