{% set select = section.choose_side %}
<section id="{{section.id}}" class="short-box {% if select == 'right' %} reverse {% endif %}" style="background-color: {{ section.color_background }}; padding-top: {{section.padding_top}}px; padding-bottom: {{section.padding_bottom}}px;">
    <div class="short-box__container">
        <div class="short-box__row">
            <div class="col-6" uk-scrollspy="target: >*; cls: uk-animation-slide-{% if select == 'right' %}right{% else %}left{% endif %}-medium; delay: 250;">
                <div class="short-box__img">
                    <img src="{{ section.image.url }}" alt="{{ section.image.alt }}">
                </div>
            </div>
            <div class="col-6" uk-scrollspy="target: >*; cls: uk-animation-slide-{% if select == 'right' %}left{% else %}right{% endif %}-medium; delay: 350;">
                <div class="text-box__content">
                    <div class="text-box__center">
                        <h3 class="text-box__title">
                            {{ section.title_section }}
                        </h3>
                        <div class="text-box__industry">
                            <div class="text-box__industry--strong">{{ section.industry_title }} </div> <div>{{ section.industry }}</div>
                        </div>
                        <div class="text-box__text">
                            {{ section.text }}
                        </div>
                        {% if section.link %}
                            <a class="btn btn--primary text-box__btn" href="{{ section.link.url }}" target='{{ section.link.target }}'>
                                {{ section.link.title }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>