<div class="person">
  <img class="person__avatar" src="{{person.person_avatar.url}}" alt="{{person.person_avatar.alt}}">

  <h3 class="person__name">{{person.person_name}}</h3>
  
  <div class="person__contacts">

    {% for contact in person.person_contacts %}
    
      <a class="person__contact"
         href="{{contact.contact_link.url}}" 
         target="{{contact.contact_link.target}}" 
         >
        <img src="{{contact.contact_img.url}}" alt="{{contact.contact_img.alt}}" uk-svg>
        <div class="person__contact-text">{{contact.contact_text}}</div>
      </a>

    {% endfor %}

  </div>

</div>