.person {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 176px;
  justify-content: center;
  min-height: 135px;
  position: relative;

  @include media-down($md){
    padding-left: 110px;
  }

  @include media-down($sm) {
    padding-left: 97px;
  }

  &__avatar {
    display: block;
    width: 155px;
    height: 155px;
    position: absolute;
    top: calc(50% - 155px / 2);
    left: 0;

    @include media-down($md){
      width: 90px;
      height: 90px;
      top: calc(50% - 90px / 2);
    }
  }

  &__name {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;

    p {
      color: #fff;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 10px;
    transition: filter .1s;

    &:hover {
      filter: brightness(85%);
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }

    svg, img, video {
      width: 12px;
      min-width: 12px;
      height: auto;
      margin-right: 9px;
    }

    &-text {
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
      }
    }
  }
}
