.wp-image-caption {
	margin-top: 24px;
	border: 1px solid color('light-background');
	border-radius: 2px;
	@include media-up('md') {
		margin-top: 40px;
	}
	&__caption {
		margin-top: 10px;
		font-style: italic;
		font-weight: 300;
		letter-spacing: 0.333333px;
	}
}
