<div class="wp-image-caption">
	<div class="wp-image-caption__image">
		{% include "image/image.twig" with {
			src: src,
			width: width,
			dimension: dimension
    } %}
	</div>
	{% if caption %}
		<p class="wp-image-caption__caption">
			{{caption}}
		</p>
	{% endif %}
</div>
