<section class="hero-blog-single">
    <div class="hero-blog-single__item" style="background-image: url({{ post.thumbnail.src('full') }})">
        <div class="hero-blog-single--before"></div>
        <div class="hero-blog-single__container">
            <div class="hero-blog-single__row">
                <h1 class="hero-blog-single__title">
                    {{ post.title }}
                </h1>
                <div class="hero-blog-single__description">
                    <div class="post-meta">
                        <p class="author">
                            <img class="author__avatar" src="{{ post.author.avatar({ size: 58 }) }}">
                            <span>{{ post.author.name }}</span>
                        </p>
                        <p class="date">{{ post.date('j F Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
