.hero-blog-single {
  width: 100%;
  height: 100%;
  max-height: 696px;
  background: #141433;
  overflow: hidden;

  &--before {
    @include pseudo;
    background: linear-gradient(0.48deg, #141433 -1.02%, rgba(20, 20, 51, 0) 141.34%);
    mix-blend-mode: darken;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
  }

  &__item {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    z-index: 6;
    position: relative;
  }

  &__container {
    @extend .app-container;
    padding: 0 12px;
    display: flex;
    flex: 1;
    z-index: 7;
    position: relative;
    height: 100%;
    max-width: 1258px;
  }

  &__row {
    @extend .app-row;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 22;
    padding: 0 14px;

    @include media-down($sm) {
      padding: 0 5px;
    }

  }

  &__title {
    @extend .about-header__title;
    max-width: 100%;

    @include media-down($md) {
      font-size: 2.2rem;
      line-height: 1.3;
    }

    @include media-down($sm) {
      font-size: 1.8rem;
      line-height: 1.3;
    }
  }

  &__description {
    @extend .about-header__description;
    max-width: $container-max-width;
    font-weight: 400;
    margin-bottom: 56px;
  }

  .post-meta {
    .date, .author {
      opacity: 1;
      color: #fff;
      font-size: 1.2rem;
    }
    .author {

      &__avatar {
        width: 58px;
        height: auto;
      }

      span {
        opacity: 1;
      }
    }
  }
}
