.career {
  background-color: #141433;
  position: relative;
  overflow: hidden;

  @include media-down($md) {
    padding-bottom: 80px;
  }

  &__container {
    @extend .app-container;
    display: flex;
    position: relative;
  }

  &__row {
    @extend .app-row;
  }

  &__info {
    @extend .app-col-xl-6;
    @extend .app-col-lg-6;
    @extend .app-col-md-12;
    @extend .app-col-sm-12;
    min-height: 995px;
    padding-top: 80px;
    padding-bottom: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #FFFFFF;
    transition: 0.35s;

    @include media-up($lg) {
      padding-left: 11px;
    }

    &:first-of-type {
      padding-right: 170px;
      transition-delay: .75s;
      @include media-down($lg) {
        padding-right: 80px;
      }

      .career--active & {
        transition-delay: 0s;
        opacity: 0;
        transform: translateY(-50px);
      }
    }

    &:last-of-type {
      //padding-left: 105px;
      align-items: center;
      @include media-down($lg) {
        //padding-left: 80px;
      }
    }

    &-text {
      p {
        letter-spacing: 0;
      }

      ul {
        @include media-down($md) {
          margin-top: 1.2rem;
        }
      }
    }

    &--hidden {
      position: absolute;
      top: 0;
      left: 50%;
      padding-left: 120px;
      padding-right: 120px;
      flex: 0 0 940px;
      width: 50vw;
      max-width: 940px;
      z-index: 25;
      opacity: 0;
      transform: translateY(50px);

      @include media-down($lg) {
        padding-left: 50px;
        padding-right: 50px;
      }

      @include media-down($md) {
        opacity: 1;
        transform: translateY(0px);
        position: relative;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        left: 0;
        //padding-left: $md-col-padding;
        //padding-right: $md-col-padding;
      }


      .career--active & {
        transition-delay: 1s;
        opacity: 1;
        transform: translateY(0px);
      }
    }


    @include media-down($lg) {
      min-height: 750px;
      padding-right: 80px;
    }
    @include media-down($md) {
      min-height: 0;
      padding-left: 13px !important;
      padding-right: 13px !important;
      padding-top: 60px;
      padding-bottom: 0;
    }

    article {
      margin-bottom: 60px;
      @include media-down($md) {
        margin-bottom: 36px;
      }
    }

  }

  &__img {
    width: 52%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 48%;
    background-image: url("../static/images/career-bg.jpg");
    background-size: auto 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: 0.75s cubic-bezier(0.65, 0, 0.35, 1);
    z-index: 5;

    .career--active & {
      transition-delay: .5s;
      left: 0;
    }

    @include media-down($md) {
      position: relative;
      height: 60vw;
      width: 100%;
      background-size: 100% auto;
      left: 0;
    }


    &::before {
      @include pseudo;
      z-index: 20;
      width: 100%;
      height: 100%;
      background-image: url("../static/images/career-bg-2.png");
      background-size: auto 100%;
      background-position: left bottom;
      background-repeat: no-repeat;

      @include media-down($md) {
        background-size: 100% auto;
      }
    }
  }

  &__title {
    @extend .app-h2;
    color: #fff;
    display: inline-flex;
    align-items: center;
    margin-bottom: 58px;
    flex-wrap: wrap;

    p {
      @extend .app-h2;
      color: #fff;
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      letter-spacing: 0;
    }

    @include media-down($md) {
      margin-bottom: 36px;
    }

    &-img {
      img, svg, video {
        height: 36px;
        width: auto;
        margin-left: 11px;
        position: relative;
        top: -2px;
        max-width: 219px;
      }
    }

  }

  &__screen {
    position: absolute;
    width: 580px;
    height: 368px;
    bottom: 135px;
    left: 145px;
    //opacity: 0.7;
    //background: pink;
    transform: perspective(500px) rotateX(1.5deg) rotateY(5deg) skewY(359.6deg);
    overflow: hidden;
    mix-blend-mode: lighten;

    @include media-down($lg) {
      height: 277px;
      width: 436px;
      bottom: 100px;
      left: 103px;
    }
    @include media-down($md) {
      bottom: 20.5%;
      left: 13%;
      height: 64%;
      width: 60%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }


  &__indicator {
    right: calc(50% - 500px);
    top: 32%;

    &--position {
      right: 0px !important;
      top: 0px !important;
    }

    @include media-down($lg) {
      right: calc(50% - 475px);
      top: 180px;
    }
    @include media-down($md) {
      display: none !important;
    }

  }

  &__jobs {
    margin-top: 20px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 20px;
    width: 100%;
    @include media-down($lg) {
      margin-top: 0;
      margin-bottom: 40px;
    }
    @include media-down($sm) {
      display: flex;
      flex-direction: column;
    }


  }

  &__job {
    //margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 20px 36px;
    color: #000;
    transition: $btn-transition;
    //max-width: calc(50% - 40px);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    pointer-events: none;
    @include media-down($sm) {
      padding: 15px;
    }

    &:hover {
      background-color: #FF9A08;
      color: #fff;

      svg path {
        stroke: #fff;
      }

      & .career__job-title {
        color: #ffffff;
      }
    }

    &-title {
      @extend .app-h3;
      line-height: normal;
      align-items: center;
      font-feature-settings: 'liga' off;
      margin-bottom: 20px;
      text-align: center;
      transition: color .30s;
    }

    &-where {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        font-feature-settings: 'liga' off;
        margin-left: 6px;
      }

      img {
        width: 17px;
        height: auto;
      }

      svg {
        width: 17px;
        height: auto;
      }

      video {
        width: 17px;
        height: auto;
      }
    }
  }

  &--active {
    .career__jobs a {
      cursor: pointer;
      pointer-events: auto;
    }
  }
}
