<section 
  class="career js-career" 
  id="{{section.id}}"
  style="background-color: {{section.background_color}};"
  >
  <div class="career__img">
    <div class="career__screen js-career__screen"  uk-scrollspy="cls: uk-animation-fade; delay: 500">
      <img class="career__screen-inner" src="{{section.career_screen.url}}" alt="{{section.career_screen.alt}}">
    </div>
  </div>

  {% include 'indicator/indicator.twig' with {
    "title": section.career_indicator.title,
  } %}

  <div class="career__container">
    <div class="career__row">
      <div class="career__info">
        <article>
          <div class="career__title" uk-scrollspy="cls: uk-animation-slide-left-medium;">
            {{section.career_title}}

            {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
              "class_wrapper": "career__title-img",
              "image": section.career_logo,
              "mp4": section.career_logo_mp4
            } %}
          </div>
          <div class="career__info-text" uk-scrollspy="cls: uk-animation-slide-left-medium;">
            {{section.career_text}}
          </div>
        </article>

        {% if (section.career_button) %}
          {% include 'button/button.twig' with 
            {
              'button': section.career_button,
              'uk_scrollspy': "cls: uk-animation-slide-left-medium;",
              'color': section.career_button_color,
              'bckg_color': section.career_button_bckg_color,
            } 
          %}
        {% endif %}

      </div>

      <div class="career__info career__info--hidden">
          <h2 class="career__title" uk-scrollspy="cls: uk-animation-slide-left-medium;">
            {{section.career_jobs_title}}
          </h2>
          <div class="career__jobs" uk-scrollspy="cls: uk-animation-slide-left-medium;">

            {% for job in section.career_jobs %}

              <a href="{{job.career_jobs_name.url}}" target="{{job.career_jobs_name.target}}" class="career__job">
                <h3 class="career__job-title">{{job.career_jobs_name.title}}</h3>
                <div class="career__job-where">
                  {% if job.career_jobs_img %}
                    <img src="{{job.career_jobs_img.url}}" alt="{{job.career_jobs_img.alt}}" loading="lazy" width="" height="" class="uk-preserve" uk-svg>   
                  {% elseif job.career_jobs_img_mp4 %}
                      <video autoplay muted loop>
                        <source src="{{job.career_jobs_img_mp4.url}}" type="video/mp4">
                      </video>
                  {% endif %} 
                  {{job.career_jobs_localization}}
                </div>
              </a>

            {% endfor %}
          </div>

          {% if (section.career_jobs_button) %}
            {% include 'button/button.twig' with 
              {
                'button': section.career_jobs_button,
                'uk_scrollspy': "cls: uk-animation-slide-left-medium;",
                'color': section.career_jobs_button_color,
                'bckg_color': section.career_jobs_button_bckg_color,
              } 
            %}
          {% endif %}

      </div>
    </div>
  </div>
</section>