
<footer 
  class="footer"
  id="{{options.footer_id}}"
  style="background-color: {{options.footer_background_color}};"
  >
  <div 
    class="footer--before"
    style="background-image: url('{{options.footer_ico.url}}');"
    ></div>
  <div 
    class="footer--after"
    style="background-image: linear-gradient(to right, rgba(0,0,0,0), {{options.footer_background_color}} 60%);"
    ></div>
  <div class="footer__container">
    <div class="footer__row">

      {% for section in options.footer_section %}
       
        {% if section.acf_fc_layout == 'contact' %}

          {% include 'footer-contact/footer-contact.twig'%}

        {% elseif section.acf_fc_layout == 'standard_menu' %}

          {% include 'footer-standard-menu/footer-standard-menu.twig'%}

        {% elseif section.acf_fc_layout == 'onex_group' %}

          {% include 'footer-onex-group/footer-onex-group.twig'%}

        {% endif %}

      {% endfor %}

    </div>
  </div>

  {% if options.copyright %}

    <div class="footer__copyright">
      <div class="footer__container" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
        {{options.copyright|striptags('<br>')}}
      </div>
    </div>

  {% endif %}

</footer>
