.footer {
  background-color: #141433;
  padding-top: 38px;
  position: relative;
  overflow: hidden;

  // > div {
  //   z-index: 5;
  //   position: relative;
  // }

  &--before {
    @include pseudo();
    background-image: url("../static/icons/footer-bg.svg");
    background-repeat: no-repeat;
    width: 852px;
    height: 852px;
    left: -20px;
    top: 15px;
    opacity: 0.1;
  }

  &--after {
    @include pseudo();
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #141433 60%);
  }


  &__container {
    @extend .app-container;
    justify-content: flex-end;
  }

  &__row {
    @extend .app-row;
    justify-content: flex-end;
  }

  &__col {
    @extend .app-col-xl-3;
    @extend .app-col-lg-3;
    @extend .app-col-md-6;
    @extend .app-col-sm-12;
    margin-bottom: 74px;
    flex-direction: column;
    @include media-down($sm){
      margin-bottom: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 15px;

    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: #FFFFFF;
    }

  }

  &__contact {
    display: flex;
    align-items: center;
    padding-left: 35px;
    position: relative;
    margin-bottom: 25px;
    transition: filter .3s;

    &:hover {
      filter: brightness(80%);
      color: inherit;
    }

    p {
      font-size: 0.875rem;
      line-height: 16px;
      letter-spacing: 0.4px;
      font-weight: 400;
      color: #FFFFFF;
    }

    img, svg, video {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 25px;
      max-height: 25px;
    }
  }

  &__nav {
    a {
      font-size: 0.875rem;
      line-height: 1.875rem;
      color: #FFFFFF;
      mix-blend-mode: normal;
      opacity: 0.5;
      transition: $btn-transition;

      &:hover{
        color: inherit;
        opacity: 1;
      }
    }
  }

  &__info {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 26px;

    &-img {
      width: 243px;
      max-width: 243px;
      height: auto;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #FFFFFF;
    }

  }

  &__btn {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 17px;
    color: #4A90E2;
    margin-top: 22px;
    transition: $btn-transition;
    position: relative;
    display: inline-block;

    &:hover {
      filter: grayscale(80%);
    }
  }

  &__copyright {
    padding: 25px 16px 28px;
    border-top: 1px solid rgba(227, 227, 227, 0.2);
    font-size: 0.875rem;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.5;
  }

}