<section 
  class="banner-img {{ section.typ }}" 
  id="{{section.id}}"
  style="background-color: {{section.background_color}};"
  >
  <div 
    class="banner-img--after"
    style="background-image: url('{{section.background_ico.url}}');"
  ></div>
  <div class="banner-img__container">
    <div class="banner-img__row">
      <div class="banner-img__info">
        <div class="banner-img__counter" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
         
          {% if section.banner_implementation_logo %}
            <img class="uk-preserve" src="{{ section.banner_implementation_logo.url }}"  alt="{{ section.banner_implementation_logo.alt }}" uk-svg>  
          {% elseif section.banner_implementation_logo_mp4 %}
            <video autoplay muted loop>
              <source src="{{section.banner_implementation_logo_mp4.url}}" type="video/mp4">
            </video>
          {% endif %} 

          {{ section.banner_implementation_period }}
        </div>

        <div class="banner-img__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 250">
          {{ section.banner_title}}
        </div>

        <div class="banner-img__text" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 500">
          {{ section.banner_text }}
        </div>

        {% if (section.banner_button) %}
        <div class="banner-img__button" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 650">
          {% include 'button/button.twig' with 
            {
              'button': section.banner_button,
              'uk_scrollspy': "cls: uk-animation-slide-bottom-medium; delay: 750",
              'color': section.banner_button_color,
              'bckg_color': section.banner_button_bckg_color,
            } 
          %}
        </div>
        {% endif %}
      </div>

      {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
        "class_wrapper": "banner-img__img",
        'uk_scrollspy': "cls: uk-animation-slide-right-medium; delay: 1000",
        "image": section.banner_image,
        "mp4": section.banner_image_mp4
      } %}

    </div>
  </div>
</section>
