.banner-img {
  padding: 0;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #141433;
  min-height: 850px;

  &--after {
    @include pseudo;
    width: 913px;
    height: 1000px;
    background-image: url('../static/icons/banner-img-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: 1;
    left: -90px;
    bottom: -228px;
    clip-path: polygon(0 6%, 100% 6%, 100% 100%, 0% 100%);
  }


  @include media-down($md) {
    padding: 100px 0 180px;
    height: auto;
  }

  @include media-down($sm) {
    padding: 60px 0 180px;
  }

  &__container {
    @extend .app-container;
    //height: 100%;
    display: flex;
    flex: 1;
    z-index: 5;
    position: relative;
  }

  &__row {
    @extend .app-row;
    justify-content: center;
    align-items: center;
    z-index: 22;
  }

  &__counter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img, svg, video {
      width: 29px;
      min-width: 29px;
      height: auto;
      margin-right: 10px;
      position: relative;
      top: -6px;
    }

    p {
      letter-spacing: 0;
    }
  }

  &__title {
    @extend .app-h1;
    color: #FF9A08;
    margin-bottom: 20px;
    max-width: 980px;

    p {
      @extend .app-h1;
      color: #FF9A08;
      letter-spacing: 0;
    }

    span {
      //color: #ff9b09;
    }
  }

  &__text {
    margin-bottom: 60px;

    @include media-down($lg) {
      margin-bottom: 30px;
    }

    p {
      letter-spacing: 0.5px;
    }
  }

  &__subtitle {
    @extend .app-h3;
    color: #FFFFFF;
    margin-bottom: 30px;
    max-width: 980px;
  }

  &__info {
    @extend .app-col-xl-6;
    @extend .app-col-lg-6;
    @extend .app-col-md-6;
    @extend .app-col-sm-12;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;

    @include media-up($lg) {
      padding-left: 11px;
    }

    @include media-down($sm) {
      order: 2
    }
  }

  &__img {
    @extend .app-col-xl-6;
    @extend .app-col-lg-6;
    @extend .app-col-md-6;
    @extend .app-col-sm-12;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    z-index: 5;
    @include media-down($sm) {
      order: 1;
      height: 100vh;
      max-height: 300px;
    }

    img {
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__button {
    .btn {
      padding: 18px 39px;
    }
  }

  &.case-study, &.listing-services {
    min-height: 927px;

    @include media-down($md) {
      min-height: 100vh;
    }

    &:after {
      left: auto;
      bottom: auto;
      top: 13px;
      right: -120px;
    }

    .banner-img {

      &__counter {
        display: none;
      }

      &__info {
        flex: 0 0 45%;
        max-width: 55%;
        flex-flow: row wrap;

        @include media-down($md) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

      &__title {
        margin-bottom: 59px;

        @include media-down($lg) {
          margin-bottom: 24px;
        }
      }

      &__img {
        flex: 0 0 55%;
        max-width: 55%;

        @include media-down($md) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }

  &.listing-services {

    &:after {
      display: none;
    }

    .banner-img {
      &__title {
        margin-bottom: 30px;
      }

      &__img {
        align-self: center;
        justify-content: flex-start;
        align-items: flex-end;

        img {
          max-width: 700px;
          padding-left: 69px;
          padding-top: 100px;

          @include media-down($sm) {
            padding: 0;
          }
        }
      }
    }
  }

  &.case-study {
    .banner-img {

      &__button {
        display: inline-flex;
        margin-top: 104px;

        @include media-down($lg) {
          margin-top: 0;
          margin-bottom: 60px;
        }

        .btn {
          padding: 18px 56px;
        }
      }
    }
  }

  .image-mp4-switcher {
    img {
      max-width: 470px;
      margin-right: 43px;
      margin-bottom: 20px;
    }
  }
}