<section 
  class="article-slider" 
  id="{{section.id}}"
  style="background-color: {{section.background_color}};"
  >

  <div class="article-slider__container">
    <div class="article-slider__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;"> {{section.articles_title}}</div>
  </div>

  <div class="article-slider__init" uk-scrollspy="target: button; cls: uk-animation-slide-bottom-medium; delay: 250;">

    {% for article in section.articles_items %}

      <div class="article-box">
        <div class="article-box__inner">
          <div class="article-box__img">
            <img src="{{article.article_image.url}}" alt="{{article.article_image.alt}}">
          </div>
          <article class="article-box__info">
            <div class="article-box__title"> {{article.article_title}}</div>
            <div class="article-box__text">
              {{article.article_text}}
            </div>
          </article>
          <a class="article-box__link" href="{{article.article_link}}"></a>
        </div>
      </div>

    {% endfor %}

  </div>

</section>