.step-by-step {
  padding: 104px 0 0;
  background-color: #141433;
  color: #FFFFFF;
  z-index: 3;
  position: relative;
  @include media-down($md) {
    padding: 60px 0 0;
  }

  &__container {
    @extend .app-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

  }


  &__row {
    @extend .app-row;
    justify-content: center;
  }

  &__top {
    margin-bottom: 5.6rem;
    padding: 0 16px;
    @include media-down($sm) {
      margin-bottom: 3rem;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 3.5rem;
      @include media-down($sm) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-ico {
      width: 81px;
      min-width: 81px;
      height: auto;
      margin-right: 13px;
      @include media-down($sm) {
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        height: 100%;
      }

      video {
        width: 100%;
        height: 100%;
      }
    }

    &-title, &-title p {
      font-style: normal;
      font-weight: bold;
      font-size: 1.9rem;
      line-height: 133%;
      letter-spacing: 0.0025rem;
      color: #FFFFFF;
      font-family: 'Lato', sans-serif;
    }

    &-decription {
      @extend .app-p;
      width: 84%;
      margin-left: 98px;
      @include media-down($sm) {
        margin-left: 0;
        width: 100%;
      }

      p {
        margin-bottom: 1.5rem;

        text-align: justify;
      }
    }
  }

  &__steps {
    margin-left: 105px;
    padding: 0 16px;
    @include media-down($sm) {
      margin-left: 35px;
    }
  }

  &__step {
    padding-bottom: 40px;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: #FF9A08;
      left: -72px;
      @include media-down($sm) {
        left: -26px;
      }
    }

    &:last-of-type::before {
      content: none;
    }

    &-dot {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 2px solid #FF9A08;
      border-radius: 50%;
      left: -81px;
      @include media-down($sm) {
        left: -32px;
        width: 15px;
        height: 15px;
      }
    }

    &-dot-active {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 2px solid #FF9A08;
      border-radius: 50%;
      left: -81px;
      background-color: #FF9A08;
      z-index: 10;
      @include media-down($sm) {
        left: -32px;
        width: 15px;
        height: 15px;
      }
    }

    &-title, &-title p {
      @extend .app-h3 ;
      line-height: 108%;
      color: #ffffff;
      margin-bottom: 3rem;
    }

    &-description {
      @extend .app-p ;
      margin-bottom: 2.75rem;

      p {

        margin-bottom: 1rem;
      }
    }
  }

  .step1 {
    &__items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
      @include media-down($md) {
        justify-content: center;
      }

    }

    &__item {
      @extend .app-p;
      @extend .app-col-xl-4;
      @extend .app-col-lg-4;
      @extend .app-col-md-6;
      @extend .app-col-sm-12;
      padding: 13px;
      min-height: 116px;

      &:first-child, &:nth-child(4n) {
        padding: 13px 13px 13px 0;

        @include media-down($sm) {
          padding: 13px 0;
        }
      }

      &:nth-child(4n) {
        @include media-down($md) {
          padding: 13px;
        }

        @include media-down($sm) {
          padding: 13px 0;
        }
      }

      &:nth-child(3n) {
        padding: 13px 0 13px 13px;

        @include media-down($md) {
          padding: 13px 13px 13px 0;
        }

        @include media-down($sm) {
          padding: 13px 0;
        }
      }

      @include media-down($sm) {
        padding: 0;
        padding-bottom: 26px;
      }

      &-wrapper {
        width: 100%;
        box-sizing: border-box;
        border-radius: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 17px 6px;
        border: 2px dashed #FF9A08;
      }
    }
  }

  .step2 {
    width: 73%;
    @include media-down($md) {
      width: 100%;
    }

    &__items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 3.9rem;
    }

    &__item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 20px;

      &-ico {
        display: inline-block;
        width: 38px;
        min-width: 38px;
        height: auto;
        margin-right: 12px;

        img {
          width: 100%;
          height: 100%;
        }

        video {
          width: 100%;
          height: 100%;
        }
      }

      &-text, &-text p {
        @extend .app-p;
        text-align: justify;
        padding-top: 3px;
        @include media-down($sm) {
          text-align: left;
        }
      }
    }
  }

  .step3 {
    display: flex;
    justify-content: space-between;

    @include media-down($md) {
      flex-direction: column;
    }

    .step-by-step__step {
      &-title {
        margin-bottom: 3.8rem;
      }

      &-description {
        margin-bottom: 3.75rem;
      }
    }


    &__left {
      width: 50%;
      @include media-down($md) {
        width: 100%;
      }
    }

    &__right {
      width: 50%;
      padding: 0;
      @include media-down($md) {
        width: 100%;
        padding: 0 1rem;
      }
    }

    &__img {
      max-width: 475px;
      height: auto;
      margin-bottom: -61px;

      img {
        width: 100%;
        height: 100%;
      }

      video {
        width: 100%;
        height: 100%;
      }
    }

    &__items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 50px;

      &-ico {
        display: inline-block;
        width: 55px;
        min-width: 55px;
        height: auto;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
        }

        video {
          width: 100%;
          height: 100%;
        }
      }

      &-text, &-text p {
        @extend .app-p;
        padding-top: 9px;
        text-align: justify;
        @include media-down($sm) {
          text-align: left;
        }
      }
    }
  }

}