<section class="step-by-step" id="{{section.id}}" style="background-color: {{section.background_color}} ">
  <div class="step-by-step__container">
    <div class="step-by-step__top">
      <div class="step-by-step__top-header" uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 250">
  
        {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
          "class_wrapper": "step-by-step__top-ico",
          "image": section.sbs_ico,
          "mp4": section.sbs_ico_mp4
        } %}

        <h2 class="step-by-step__top-title">{{section.sbs_title}}</h2>
      </div>
    
      <div class="step-by-step__top-decription" uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 350">
        {{section.sbs_description}}
      </div>
    </div>
 
    <ul class="step-by-step__steps" uk-scrollspy="target: .step-by-step__animation ; cls: uk-animation-fade; delay: 350;">
      <li class="step-by-step__step">
        <div class="step-by-step__step-dot-active step-by-step__animation"></div>
        <div class="step-by-step__step-dot" style="background-color: {{section.background_color}};"></div>
        <div class="step-by-step__animation step1">
          <div class="step-by-step__step-title">{{section.step1_name}}</div>
          <div class="step1__items">
            {% for item in section.step1_items %}
              <div class="step1__item">
                <div class="step1__item-wrapper">
                   {{item.step1_item}}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </li>
      <li class="step-by-step__step">
        <div class="step-by-step__step-dot-active step-by-step__animation"></div>
        <div class="step-by-step__step-dot" style="background-color: {{section.background_color}};"></div>
        <div class="step-by-step__animation step2">
          <div class="step-by-step__step-title">{{section.step2_name}}</div>
          <div class="step2__items">
            {% for item in section.step2_items %}
            <div class="step2__item">	
        
              {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                "class_wrapper": "step2__item-ico",
                "image": item.step2_item_ico,
                "mp4": item.step2_item_ico_mp4
              } %}

              <div class="step2__item-text">
                {{item.step2_item_text}}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </li>
      <li class="step-by-step__step">
        <div class="step-by-step__step-dot-active step-by-step__animation"></div>
        <div class="step-by-step__step-dot" style="background-color: {{section.background_color}};"></div>
        <div class="step-by-step__animation step3">
          <div class="step3__left">
            <div class="step-by-step__step-title">{{section.step3_name}}</div>
            <div class="step-by-step__step-description">{{section.step3_description}}</div>
            <div class="step3__items">
              {% for item in section.step3_items %}
                <div class="step3__item">	
               
                  {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                    "class_wrapper": "step3__item-ico",
                    "image": item.step3_item_ico,
                    "mp4": item.step3_item_ico_mp4
                  } %}
               
                  <div class="step3__item-text">
                    {{item.step3_item_text}}
                  </div>
                </div>
              {% endfor %}  
            </div>
          </div>
      
          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
                "class_wrapper": "step3__img step3__right",
                "image": section.step3_img,
                "mp4": section.step3_img_mp4
          } %}
    
      </li>
    </ul>
  </div>
</section>