<section class="why-us" id="{{section.id}}" style="background-color: {{section.background_color}};">
  <div class="why-us__container">

    <div class="why-us__row">
      <div class="why-us__col why-us__col--intro">
        <div class="why-us__img" >

          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": "why-us__ico why-us__ico--l",
            'uk_scrollspy': "cls: uk-animation-slide-left-medium; delay: 250",
            "image": section.why_us_icon_left,
            "mp4": section.why_us_icon_left_mp4
          } %}

          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": null,
            'uk_scrollspy': "cls: uk-animation-slide-left-medium",
            "image": section.why_us_image_left,
            "mp4": section.why_us_image_left_mp4
          } %}

        </div>
      </div>
      <div class="why-us__col why-us__col--center" >
        <div class="why-us__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium">{{ section.why_us_title }} </div>
        <article class="why-us__info" uk-scrollspy="cls: uk-animation-slide-bottom-medium">
          <div>
            {{section.why_us_info}}
          </div>
          <div class="why-us__tags">
            {{section.why_us_tags}}
          </div>
        </article>

        {% if (section.why_us_button) %}
          {% include 'button/button.twig' with 
            {
              'button': section.why_us_button,
              'uk_scrollspy': "cls: uk-animation-slide-bottom-medium",
              'color': section.why_us_button_color,
              'bckg_color': section.why_us_button_bckg_color,
            } 
          %}
        {% endif %}

      </div>
      <div class="why-us__col why-us__col--outro">

        <div class="why-us__img">
          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": "why-us__ico why-us__ico--r",
            'uk_scrollspy': "cls: uk-animation-slide-right-medium; delay: 250",
            "image": section.why_us_icon_right,
            "mp4": section.why_us_icon_right_mp4
          } %}

          {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": null,
            'uk_scrollspy': "cls: uk-animation-slide-right-medium",
            "image": section.why_us_image_right,
            "mp4": section.why_us_image_right_mp4
          } %}
        </div>

      </div>
    </div>
  </div>
</section>