.why-us {
  padding: 115px 0 72px;

  @include media-down($sm) {
    padding: 60px 0 40px;
  }

  &__container {
    @extend .app-container;
    display: flex;
  }

  &__row {
    @extend .app-row;
  }

  &__col {
    @extend .app-col-xl-4;
    @extend .app-col-lg-4;
    @extend .app-col-md-12;
    @extend .app-col-sm-12;
    text-align: center;
    padding: 0;

    @include media-down($sm) {
      padding-left: 8px;
      padding-right: 8px;
    }

    &--intro {
      display: flex;
      justify-content: flex-start;
      padding-left: 8px;
      @include media-down($md) {
        justify-content: center;
      }
    }

    &--outro {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 8px;
      @include media-down($md) {
        justify-content: center;
      }
    }

    &--center {
      display: block;
      padding-bottom: 36px;
      @extend .app-col-md-12;
      @include media-down($md) {
        padding-top: 36px;
      }
    }
  }

  &__title {
    @extend .app-h2;
    margin-bottom: 57px;
    margin-top: 0;

    @include media-down($sm) {
      margin-bottom: 2rem;
    }

    p {
      @extend .app-h2;
    }
  }

  &__info {
    margin-bottom: 60px;

    @include media-down($sm) {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 24px;
      letter-spacing: 0.5px;
    }

  }

  &__tags {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: bold;

    p {
      font-size: 1.5rem;
      line-height: 2.25rem;
      font-weight: bold;
    }

    @include media-down($sm) {
      //font-size: 1rem;
      //line-height: 1.75rem;
    }
  }

  &__img {
    display: inline-flex;
    padding: 26px 26px 0 26px;
    position: relative;
    z-index: 1;


    img {
      width: 325px;
      height: 325px;
      border-radius: 45px;
      object-fit: cover;
      z-index: 1;
      @include media-down($lg) {
        width: 225px;
        height: 225px;
      }
    }
  }

  &__ico {
    width: 250px;
    height: 250px;
    background-position: top left;
    background-size: contain;
    position: absolute;
    top: 0;
    z-index: 2;
    @include media-down($lg) {
      width: 190px;
      height: 190px;
    }

    &--l {
      left: 0;
    }

    &--r {
      right: 0;
    }
  }


}