<div class="footer__col">
  <h2 class="footer__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
    {{section.contact_title}}
  </h2>

  <div uk-scrollspy="target: > a; cls: uk-animation-slide-bottom-medium; delay: 250">
    {% for item in section.contact_items %}
      <a 
        href="{{item.contact_link.url}}" 
        target='{{item.contact_link.target}}' 
        class="footer__contact"
      >
        <img src="{{item.contact_image.url}}" alt="{{item.contact_image.alt}}">
        <div>{{item.contact_text}}</div>
      </a>
    {% endfor %}
  </div>
</div>