.other-posts {
  padding: 20px 0 96px;
  overflow: hidden;

  @include media-down($sm) {
    padding: 50px 0 40px;
  }

  &__container {
    @extend .app-container;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    @extend .app-h2;
    margin-bottom: 49px;
    width: 100%;
    @include media-down($md) {
      margin-bottom: 40px;
    }

    p {
      @extend .app-h2 ;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    width: calc(25% - 31px);
    margin-right: 41px;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
    overflow: hidden;

    @include media-down($md) {
      width: 47%;
      margin-bottom: 41px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include media-down($sm) {
      width: 100%;
      margin-bottom: 1.8rem;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &-title {
      margin-bottom: 0.7rem;
    }
  }

  &__img {
    height: 157px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include media-down($sm) {
      height: 132px;
    }
  }

  &__content {
    padding: 10px 15px 25px;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 700;
    color: #141433;
  }

  .post-meta {
    justify-content: space-between;
  }
}
