<section class="other-posts">

    <div class="other-posts__container">

        <div class="other-posts__title"
             uk-scrollspy="cls: uk-animation-slide-bottom-medium;">{{ __('Other articles', 'onex') }}</div>

        <div class="other-posts__list"
             uk-scrollspy="target: button; cls: uk-animation-slide-bottom-medium; delay: 250;">

            {% for article in Post(post.other_articles)|slice(0,4) %}
                <div class="other-posts__item">
                    <a href="{{ article.link }}">
                        <div class="other-posts__img">
                            <img src="{{ article.thumbnail.src|resize(500) }}" alt="{{ article.thumbnail.alt }}">
                        </div>
                        <div class="other-posts__content">
                            <div class="post-meta">
                                <p class="author">
                                    <img class="author__avatar" src="{{ article.author.avatar({ size: 28 }) }}">
                                    <span>{{ article.author.name }}</span>
                                </p>
                                <p class="date">{{ article.date('j F Y') }}</p>
                            </div>
                            <h4 class="other-posts__item-title">
                                {{ article.title }}
                            </h4>
                            {{ article.preview.length(10).force.read_more('') }}
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>

    </div>
</section>