<div class="footer__col">
  <h2 class="footer__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;"> {{section.onex_group_title}}</h2>
  <div uk-scrollspy="target: > *; cls: uk-animation-slide-bottom-medium; delay: 250">
    <div class="footer__info">
      {{section.onex_group_info}}
    </div>

    {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
      "class_wrapper": 'footer__info-img',
      'uk_scrollspy': null,
      "image": section.onex_group_image,
      "mp4": section.onex_group_image_mp4
    } %}

    <a 
      class="footer__btn" 
      href="{{section.onex_group_link.url}}" 
      target='{{section.onex_group_link.target}}'
      style="color: {{section.onex_group_link_color}};"
      > 
        {{section.onex_group_link.title}}
      </a>
  </div>
</div>