.list-summary {
  list-style: none !important;
  color: color('grey') !important;
  font-weight: bold;
  font-size: 14px;
  margin-left: 0 !important;
  padding-left: 0 !important;
  
  &__item {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '•';
      position: absolute;
      top: 0;
      left: 0;
    }

    & + & {
      margin-top: 8px;
    }
  }

  @include media-up('md') {
    font-size: 16px;
  }
}