<div class="post-list__item">
    <div class="post-list__item-thumb">
        <a href="{{ post.link }}">
            <img src="{{ post.thumbnail.src|tojpg|resize(425) }}" alt="{{ post.thumbnail.alt }}">
        </a>
    </div>
    <div class="post-list__item-content">
        <a href="{{ post.link }}">
            <h4 class="post-list__item-title">
                {{ post.title }}
            </h4>
        </a>
        <div class="post-list__item-meta post-meta">
            <p class="author">
                <img class="author__avatar" src="{{ post.author.avatar({ size: 34 }) }}">
                <span>{{ post.author.name }}</span>
            </p>
            <p class="date">{{ post.date('j F Y') }}</p>
        </div>
        <div class="post-list__item-description">
            {{ post.preview.length(38).force.read_more('') }}
            <a class="hero-blog__link" href="{{ post.link }}">{{ __('Read more', 'onex') }}</a>
        </div>
        {% include "/share-box/share-box.twig" %}
    </div>
</div>