.post-list {
  overflow: hidden;

  &__container {
    @extend .app-container;
  }

  &__row {
    @extend .app-row;
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0 6px 10px 3px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    display: flex;
    padding: 16px 0;
    align-items: center;
    margin-bottom: 40px;
    position: relative;

    @include media-down($sm) {
      flex-flow: column;
      border-radius: 8px;
      overflow: hidden;
      padding: 0;
    }

    &-thumb {
      max-width: 315px;
      width: 100%;
      display: flex;
      flex-flow: column;
      height: 218px;
      margin-right: 21px;
      overflow: hidden;

      @include media-down($sm) {
        max-width: 100%;
        margin-right: 0;
      }
    }

    &-content {
      max-width: calc(100% - 336px);
      width: 100%;
      display: flex;
      flex-flow: column;
      padding-right: 12px;

      @include media-down($sm) {
        max-width: 100%;
        padding: 14px 14px 25px;
      }
    }

    &-title {
      color: #141433;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 19px;
      font-weight: bold;
    }

    &-description {
      letter-spacing: 0.5px;
      font-size: 1.125rem;
      line-height: 1.65rem;
      font-weight: 400;
      color: #141433;
      margin-bottom: 12px;
    }
  }
}

.post-meta {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .date, .author {
    text-transform: lowercase;
    color: #141433;
    opacity: 0.5;
    font-size: 10px;
    line-height: 12px;
  }

  .author {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    opacity: 1;
    margin-right: 6px;

    &__avatar {
      border-radius: 50%;
      opacity: 1;
      margin-right: 10px;
      width: 34px;
      height: auto;
    }

    span {
      opacity: 0.5;
    }
  }
}