{% set isIcon = '.svg' in src %}
{% set isLazyload = not (lazyload is defined) or lazyload %}

<div class="image {{ className }}{{ static ? ' static' : '' }}" {% if (static) %} style="width: {{ width }}px; height: {{ height }}px;" {% endif %}>
	<div class="image__wrapper"
        {% if dimension %}
            style="padding-bottom: {{ dimension }}%"
        {% else %}
            style="padding-bottom: {{ height|default(width) / width * 100 }}%"
        {% endif %}
	>

    <picture>
        <source 
            {% if isLazyload %}
                {% if (not isIcon) and retina|default(true) %}
                    srcset="{{ src|resize(width, height|default(null))|towebp }} 1x, {{ src|resize(width * 2, height|default(null) * 2)|towebp }} 2x"
                {% endif %}

                data-src="{{ src|towebp }}"
            {% else %}
                src="{{ src|towebp }}"
            {% endif %}
            type="image/webp"
        >
        <img
            class="image__image"
            {% if isLazyload %}
                {% if (not isIcon) and retina|default(true) %}
                    data-srcset="{{ src|resize(width, height|default(null)) }} 1x, {{ src|resize(width * 2, height|default(null) * 2) }} 2x"
                {% endif %}

                data-src="{{ src }}"
            {% else %}
                src="{{ src }}"
            {% endif %}
            alt="{{ alt }}"
        />
    </picture>
	</div>
</div>
