.image {
	overflow: hidden;

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		image-rendering: optimizeQuality;
		object-fit: cover;
	}

	&__wrapper {
		position: relative;
		padding-bottom: 100%;
	}

	&--block {
		position: relative;

		.image {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&--background {
		pointer-events: none;
		user-select: none;
		-webkit-user-drag: none;
	}
}

img {
	transition: opacity 1s;
	opacity: 1;

	&:not([src]) {
		content: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
		opacity: 0;
	}
}
