<!doctype html>
<html {{ site.language_attributes }}>
    <head>
        <meta charset="{{ site.charset }}"/>
        <title>{% if wp_title %}{{ wp_title }}{% else %}{{ site.name }}{% endif %}</title>
        <meta name="description" content="{{fn('bloginfo', 'description')}}"/>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5.0, minimum-scale=1">
        <meta httpequiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="theme-color" content="">
        {{ fn('wp_head') }}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5P2XZK9');</script>
        <!-- End Google Tag Manager -->
    </head>

    <body class="{{ body_class }}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P2XZK9"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% if fn('is_single') %}
            {% include 'header/header.twig' with {
                page: 'article'
            } %}
        {% else %}
            {% include 'header/header.twig' %}
        {% endif %}

        <main id="main">
            {% block body %}{% endblock %}
        </main>

        {% include 'footer/footer.twig' %}

        {{ fn('wp_footer') }}
    </body>
</html>
