$height-hero: 83vh;

.hero-blog {
  width: 100%;
  height: 100%;
  max-height: $height-hero;
  background: #141433;
  overflow: hidden;
  min-height: $height-hero;

  &--before {
    @include pseudo;
    background: linear-gradient(0.48deg, #141433 -1.02%, rgba(20, 20, 51, 0) 141.34%);
    mix-blend-mode: darken;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
  }

  &__item {
    width: 100%;
    height: $height-hero;
    background-size: cover;
    background-position: center;
    z-index: 6;
    position: relative;
  }

  &__container {
    @extend .app-container;
    padding: 0 12px;
    display: flex;
    flex: 1;
    z-index: 7;
    position: relative;
    height: 100%;
  }

  &__row {
    @extend .app-row;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 22;
    padding: 0 14px;

    @include media-down($sm) {
      padding: 0 5px;
    }

  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    bottom: 53px;
    left: calc(50% - 285px);
    max-width: 570px;
    width: 100%;
    height: 1.33px;

    @include media-down($sm) {
      left: 0;
      width: 98%;
    }

    li {
      width: 100%;

      button {
        width: 100%;
        height: 100%;

        &:after {
          background-color: #ffffff;
          width: 100%;
          border-radius: 0;
          left: 0;
          opacity: 0.2;
          height: 1.83px;
          top: calc(50% - 3px / 2);
        }
      }

      &.slick-active {
        button {
          &:after {
            background-color: #ffffff;
            opacity: 1;
            height: 2.66px;
            top: calc(50% - 6px / 2);
          }
        }
      }
    }
  }

  &__title {
    @extend .about-header__title;
    max-width: 98%;
  }

  &__description {
    @extend .about-header__description;
    max-width: $container-max-width;
    color: #fff;
    font-weight: 400;
  }

  &__link {
    font-weight: 700;
    color: #FF9A08;
  }
}
