<section class="hero-blog">
    {% for item in Post(post.choose_posts) %}
        <div class="hero-blog__item" style="background-image: url({{ item.thumbnail.src('full') }})">
            <div class="hero-blog--before"></div>
            <div class="hero-blog__container">
                <div class="hero-blog__row">
                    <div class="hero-blog__title">
                        {{ item.title }}
                    </div>
                    <div class="hero-blog__description">
                        {{ item.preview.length(38).force.read_more('') }}
                        <a class="hero-blog__link" href="{{ item.link }}">{{ __('Read more', 'onex') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% for item in posts %}
            <div class="hero-blog__item" style="background-image: url({{ item.thumbnail.src('full') }})">
                <div class="hero-blog--before"></div>
                <div class="hero-blog__container">
                    <div class="hero-blog__row">
                        <div class="hero-blog__title">
                            {{ item.title }}
                        </div>
                        <div class="hero-blog__description">
                            {{ item.preview.length(38).force.read_more('') }}
                            <a class="hero-blog__link" href="{{ item.link }}">{{ __('Read more', 'onex') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</section>
