.banner {
  padding: 23vh 0 4.3vh;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-height: 1080px;
  min-height: 700px;
  position: relative;
  overflow: hidden;

  @include media-down($md){
    padding: 100px 0 40px;
    height: auto;
  }

  @include media-down($sm) {
    padding: 60px 0 30px;
  }

  &-bckg-before {
    @include pseudo;
    mix-blend-mode: darken;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }

  &-bckg-after {
    @include pseudo;
    mix-blend-mode: color;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0.8;
  }

  &__video{
     position: absolute;
     object-fit: cover;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
    z-index: 4;
  }

  &__container{
    @extend .app-container;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    z-index: 10;

    @include media-down($lg){
      padding-right: 200px;
    }

    @include media-down($md){
      padding-right: 80px;
    }

    @include media-down($sm){
      padding-right: 16px;
    }
  }

  &__title {
    @extend .app-h1;
    color: #FFFFFF;
    margin-bottom: 30px;
    max-width: 980px;

    p {
      @extend .app-h1;
      color: #FFFFFF;
      letter-spacing: 0;
    }

    span {
      //color: #ff9b09;
    }
  }

  &__subtitle {
    @extend .app-h3;
    margin-bottom: 14px;
    max-width: 980px;
    p {
      @extend .app-h3;
      color: #FFFFFF;
      padding-bottom: 1rem;
      letter-spacing: 0;
    }
  }

  &__info {
    color: #FFFFFF;
    margin-bottom: 100px;
    max-width: 980px;
    letter-spacing: 0;

    @include media-down($sm){
      margin-bottom: 40px;
    }

  }

  &__img {
    position: absolute;
    bottom: 40px;
    right: -79px;
    z-index: -1;
    fill: transparent;
    width: 390px;
    height: 390px;
    //animation-name: banner-img-stroke;
    //animation-duration: 4s;
    //animation-timing-function: linear;

    @media (max-width: 1520px){
      right: 16px;
      bottom: 0;
    }

    @include media-down($lg){
      width: 240px;
      height: 240px;
    }
  }

  &__btn {
    margin-bottom: 22px;
  }

  svg.uk-svg {
    path {
      stroke-dasharray: 2000;
      stroke-dashoffset: 0;
      animation: banner-img-stroke 4s ease-in-out forwards;
    }
  }

  @keyframes banner-img-stroke {
    0% {stroke-dashoffset:2000;}
    100% {stroke-dashoffset:0;}
  }
}

body.home {
  .banner {
    @include media-down($sm) {
      padding: 0;
      min-height: 211px;
    }
  }
}