<section class="banner" id="{{ section.id }}">

    <div
            class="banner-bckg-before"
            style="background: linear-gradient(180deg, {{ section.background_color }}, rgba(20, 20, 51, 0) 141.34%);"
    ></div>
    <div
            class="banner-bckg-after"
            style="background: {{ section.background_color }};"
    ></div>

    <video preload="none" autoplay muted loop playsinline class="banner__video lazy" poster="{{ section.banner_video_poster.url }}">
        <source src="{{ section.banner_video }}" type="video/mp4">
    </video>

    <div class="banner__container">
        <div class="banner__title" uk-scrollspy="cls: uk-animation-slide-bottom-medium;">
            {{ section.banner__title }}
            {% include 'word-shifter/word-shifter.twig' %}
        </div>

        <div class="banner__subtitle" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 250">
            {{ section.banner_subtitle }}
        </div>

        <div class="banner__info" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 500">
            {{ section.banner_info }}
        </div>

        {% if (section.banner_button) %}
            <div class="banner__btn">
                {% include 'button/button.twig' with
                    {
                        'button': section.banner_button,
                        'uk_scrollspy': "cls: uk-animation-slide-bottom-medium; delay: 750",
                        'color': section.banner_button_color,
                        'bckg_color': section.banner_button_bckg_color,
                    } %}
            </div>
        {% endif %}

        {% include 'image-mp4-switcher/image-mp4-switcher.twig' with {
            "class_wrapper": "banner__img uk-preserve",
            'uk_scrollspy': null,
            "image": section.banner_icon,
            "mp4": section.banner_icon_mp4
        } %}

    </div>
</section>