html {
  scroll-behavior: smooth;
}

body {
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;

    button {
      font-size: 0;
      display: inline-flex;
      width: 15px;
      height: 15px;
      margin: 0 5px;
      position: relative;

      &::after {
        @include pseudo;
        width: 5px;
        height: 5px;
        top: calc(50% - 5px / 2);
        left: calc(50% - 5px / 2);
        border-radius: 50%;
        background-color: #141433;
      }

    }

    .slick-active button {
      &::after {
        background-color: #FF9A08;
      }
    }
  }

  * {
    box-sizing: border-box;
  }

  a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  img {
    max-width: 100%;
    //max-height: 100%;
  }


  .container {
    @extend .app-container;
  }

  .uk-svg.uk-preserve {
    fill: transparent;
  }


}

.app-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  max-width: $container-max-width;
  padding-left: $lg-col-padding;
  padding-right: $lg-col-padding;
  @include media-down($lg) {
    padding-left: $lg-col-padding;
    padding-right: $lg-col-padding;
  }
  @include media-down($md) {
    padding-left: $md-col-padding;
    padding-right: $md-col-padding;
  }
  @include media-down($sm) {
    padding-left: $sm-col-padding;
    padding-right: $sm-col-padding;
  }
}

.app-row {
  display: flex;
  // width: calc(100% + 2 * #{$lg-col-padding});
  width: calc(100% + 2 * #{$lg-col-padding});
  flex: 1;
  flex-wrap: wrap;
  margin-right: -$lg-col-padding;
  margin-left: -$lg-col-padding;
  @include media-down($lg) {
    // width: calc(100% + 2 * #{$lg-col-padding});
    width: 100%;
    margin-right: -$lg-col-padding;
    margin-left: -$lg-col-padding;
  }
  @include media-down($md) {
    // width: calc(100% + 2 * #{$md-col-padding});
    width: 100%;
    margin-left: -$md-col-padding;
    margin-right: -$md-col-padding;
    //margin-right: 0;
    //margin-left: 0;
  }
  @include media-down($sm) {
    // width: calc(100% + 2 * #{$sm-col-padding});
    width: 100%;
    margin-left: -$sm-col-padding;
    margin-right: -$sm-col-padding;
    //margin-right: 0;
    //margin-left: 0;
  }
}

div[class^='app-col'],
.app-col {
  display: flex;
  flex: 0 0 100%;
  box-sizing: border-box;
  padding-left: $lg-col-padding;
  padding-right: $lg-col-padding;
  @include media-down($md) {
    padding-left: $md-col-padding;
    padding-right: $md-col-padding;
  }
  @include media-down($sm) {
    padding-left: $sm-col-padding;
    padding-right: $sm-col-padding;
  }
}

@for $i from 1 through 12 {
  .app-col-#{$i} {
    //width: 100%;
    display: flex;
    flex: 0 0 calc(100% / 12 * #{$i});
    max-width: calc(100% / 12 * #{$i});
    padding-left: $lg-col-padding;
    padding-right: $lg-col-padding;
  }
}

@for $i from 1 through 12 {
  .app-col-xl-#{$i} {
    @media only screen and (min-width: $lg + 1) {
      //width: 100%;
      display: flex;
      flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
      padding-left: $lg-col-padding;
      padding-right: $lg-col-padding;
    }
  }
}

@for $i from 1 through 12 {
  .app-col-lg-#{$i} {
    @media only screen and (min-width: $md + 1) and (max-width: $lg) {
      //width: 100%;
      display: flex;
      flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
      padding-left: $lg-col-padding;
      padding-right: $lg-col-padding;
    }
  }
}

@for $i from 1 through 12 {
  .app-col-md-#{$i} {
    @media only screen and (min-width: $sm + 1) and (max-width: $md) {
      width: 100%;
      display: flex;
      flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
      padding-left: $md-col-padding;
      padding-right: $md-col-padding;
    }
  }
}

@for $i from 1 through 12 {
  .app-col-sm-#{$i} {
    @media only screen and (max-width: $sm) {
      width: 100%;
      display: flex;
      flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
      padding-left: $sm-col-padding;
      padding-right: $sm-col-padding;
    }
  }
}
