.link {
  position: relative;
  display: inline-block;
  padding-right: 23px;
  transition: .4s ease;
  text-decoration: none;
  font-weight: bold;
  color: color('black-light') !important;

  &:hover:after {
    animation: left-right .9s infinite;
  }

  &:after {
    position: absolute;
    content: '';
    background: url(../static/icons/arrow-right.svg) no-repeat;
    background-size: contain;
    right: 3px;
    top: 3px;
    width: 7px;
    height: 12px;
  }

  @keyframes left-right {
    0% {
      margin-right: 0px;
    }
    50% {
      margin-right: 6px;
    }
    100% {
      margin-right: 0px;
    }
  }
}