html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  @include media-down($md) {
    font-size: 12px;
  }
}

body {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-family: 'Lato', sans-serif;
  color: #000;
  @include media-down($sm) {
    font-size: 1.167rem;
  }
}

.app-small-text {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.4px;
  @include media-down($sm) {
    font-size: 1.167rem;
    line-height: 1.5rem;
    letter-spacing: 0;
  }
}

.app-h1 {
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 3.375rem;
  color: #2C3341;
  @include media-down($sm) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.app-h2 {
  font-size: 1.875rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  //letter-spacing: -1px;
  color: #141433;
  @include media-down($sm) {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.app-h3 {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 2.25rem;
  //letter-spacing: -0.5px;
  color: #2C3341;
  @include media-down($sm) {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.app-p, p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  @include media-down($sm) {
    font-size: 1.167rem;
    line-height: 1.5rem;
  }
}

article {
  ul {
    @extend .app-p;
    list-style-type: disc;
    margin-left: 30px;
  }
}

strong {
  font-weight: 700;
}