{% set select = section.choose_side %}
<section id="{{section.id}}" class="fullwidth-box {% if select == 'right' %} reverse {% endif %}" id="{{section.id}}" style="background-color: {{section.background_color}}">
    <div class="fullwidth-box__container">
        <div class="fullwidth-box__row">
            {% if section.image %}
            <div class="col-6" uk-scrollspy="target: >*; cls: uk-animation-slide-{% if select == 'right' %}right{% else %}left{% endif %}-medium; delay: 250;">
                <div class="fullwidth-box__img"
                     style='background-image: url({{ section.image.url }})'>
                </div>
            </div>
            {% elseif section.image_mp4 %}
            <div class="col-6" uk-scrollspy="target: >*; cls: uk-animation-slide-{% if select == 'right' %}right{% else %}left{% endif %}-medium; delay: 250;">
                <video autoplay muted loop>
                    <source src="{{section.image_mp4.url}}" type="video/mp4">
                </video>
            </div>
            {% endif %}
            <div class="col-6" uk-scrollspy="target: >*; cls: uk-animation-slide-{% if select == 'right' %}left{% else %}right{% endif %}-medium; delay: 350;">
                <div class="text-box__content">
                    <div class="text-box__center">
                        <div class="text-box__title">
                            {{ section.title_section }}
                        </div>
                        <div class="text-box__text">
                            {{ section.text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>