$light-gray: #F2F4F6;

.fullwidth-box {
  background: $light-gray;
  font-family: 'Lato', sans-serif;

  &.reverse {
    .fullwidth-box__row {
      flex-flow: row-reverse wrap;
    }

    .text-box__content {
      align-items: flex-end;
      padding: 0 11rem 0 1rem;

      @media (max-width: $md) {
        align-items: flex-start;
        padding: 30px 8px 40px;
      }
    }
  }

  &__container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    height: 100%;
    min-height: 100%;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    flex-wrap: wrap;
  }

  .col-6 {
    width: 50%;
    flex: 0 0 50%;

    @media (max-width: $sm) {
      width: 100%;
      flex: 0 0 100%;
    }
  }

  &__img {
    display: flex;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 39.7rem;

    @media (max-width: $md) {
      min-height: 29.7rem;
    }

    @media (max-width: $sm) {
      min-height: 24.7rem;
    }
  }
}

.text-box {

  &__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 1rem 0 7.5rem;

    @media (max-width: $md) {
      padding: 30px 8px 40px;
    }
  }

  &__center {
    max-width: 450px;
    width: 100%;
  }

  &__title {
    margin-bottom: 20px;
    p {
      font-size: 30px;
      font-weight: 700;
      line-height: 133%;
    }
  }

  &__industry {
    font-size: 24px;
    margin-bottom: 40px;
  }

  &__text {
    font-weight: 500;

    p {
      @extend .app-p;
      @include media-up($lg) {
        letter-spacing: 0.1px;
      }
    }
  }

  &__btn {
    padding: 17px 56px;
  }
}